<div class="row mtop15">
  <div class="align-center">
    <div class="span-2 offset-1">
      <div class="block">
        <img src="{{ page.img-link }}/{{ include.img }}" alt="{{ include.alt }}" title="{{ include.alt }}" />
      </div>
    </div>
    <div class="span-2">
      <div class="block">
        <img src="{{ page.img-link }}/{{ include.img2 }}" alt="{{ include.alt2 }}" title="{{ include.alt2 }}" />
      </div>
    </div>
    <div class="span-2">
      <div class="block">
        <img src="{{ page.img-link }}/{{ include.img3 }}" alt="{{ include.alt3 }}" title="{{ include.alt3 }}" />
      </div>
    </div>
    <div class="span-2">
      <div class="block">
        <img src="{{ page.img-link }}/{{ include.img4 }}" alt="{{ include.alt4 }}" title="{{ include.alt4 }}" />
      </div>
    </div>
    <div class="span-2">
      <div class="block">
        <img src="{{ page.img-link }}/{{ include.img5 }}" alt="{{ include.alt5 }}" title="{{ include.alt5 }}" />
      </div>
    </div>
  </div>
</div> <!-- /row -->
