<div class="row mtop15">
  {% if include.type == "center" %}
    <div class="span-3 offset-4">
      <div class="block">
        <img src="{{ page.img-link }}/{{ include.img }}" alt="{{ include.alt }}" title="{{ include.alt }}" />
      </div>
    </div>
  {% endif %}

  {% if include.type == "left" %}
    <div class="align-center">
      <div class="span-3 offset-1">
        <div class="block">
          <img src="{{ page.img-link }}/{{ include.img }}" alt="{{ include.alt }}" title="{{ include.alt }}" />
        </div>
      </div>
      <div class="span-5 offset-2">
        <div class="block">
          <img src="{{ page.img-link }}/{{ include.img2 }}" alt="{{ include.alt2 }}" title="{{ include.alt2 }}" />
        </div>
      </div>
    </div>
  {% endif %}

  {% if include.type == "right" %}
    <div class="align-center">
      <div class="span-5 offset-1">
        <div class="block">
          <img src="{{ page.img-link }}/{{ include.img }}" alt="{{ include.alt }}" title="{{ include.alt }}" />
        </div>
      </div>
      <div class="span-3 offset-2">
        <div class="block">
          <img src="{{ page.img-link }}/{{ include.img2 }}" alt="{{ include.alt2 }}" title="{{ include.alt2 }}" />
        </div>
      </div>
    </div>
  {% endif %}

  {% if include.type == "left-wtext" %}
    <div class="align-center">
      <div class="span-3 offset-3">
        <div class="block">
          <img src="{{ page.img-link }}/{{ include.img }}" alt="{{ include.alt }}" title="{{ include.alt }}" />
        </div>
      </div>
      <div class="span-2 offset-1">
        <p>{{ include.text }}</p>
      </div>
    </div>
  {% endif %}
</div> <!-- /row -->
