    <script src="{{site.url}}/js/jquery.min.js"></script>
    <script src="http://redesign.test.astrology.com/us/js/jquery.mobile.min-new.js"></script>
    <script src="{{site.url}}/js/plugins.min.js"></script>
    <script src="{{site.url}}/js/base.js"></script>
    <script>
      //On swipright, rotate clockwise
      $('.circle').on('swiperight', function(e) {
        $(this).removeClass('pause spin-left');
        var $this = $(this).addClass('spin-right');
        window.setTimeout(function(e){
          $this.addClass('pause');
        }, 1500);
      });
      $('.circle').on('swipeleft', function(e) {
        $(this).removeClass('pause spin-right');
        $(this).addClass('spin-left');
      });
      //  //On tap, pause spinning
      // $('.circle').on('vmouseup', function(e){
      // 	console.log('yes');
      //   $(this).addClass('pause');
      // });
    </script>
  </body>
</html>
