<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ site.title }}</title>
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" name="description" content="{{ site.description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://annemelody.com">
    <meta property="article:author" content="https://www.facebook.com/annemelodysy/">
    <meta property="og:image" content="http://annemelody.com/assets/2013/12-month-reset/12-month-reset-cover.jpg">

    <meta name="keywords" content="travel, adventure, asia, philippines, europe, usa, san francisco, road trip, explore, solo travel, surreal, landscape, photography, photographer, nature, storytelling, experiences" />
    <meta name="description" content="Travels and personal experiences of a human from the sunny island of Cebu." />
    <meta property="fb:app_id" content="853560404725283" />

    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Poppins:400,400i,500,500i,700,700i" rel="stylesheet">

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-60488827-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <nav class="flex-center">
      <a href="{{ site.url }}" class="uppercase">Home</a>
      <a href="{{ site.url }}/travel" class="uppercase">Travel</a>
      <a href="{{ site.url }}/thoughts" class="uppercase">Thoughts</a>
    </nav>
