<h3 class="mtop8 text-center">Read more stories</h3>
<section class="more-stories mtop2 text-center">
  {% if page.next.next.url %}
  <a href="{{ BASE_PATH }}{{ page.next.next.url }}" class="thumbnail">
    <img src="/assets/{{ page.next.next.img.small | replace: '!SITE_URL!', site.url }}" class="img-responsive" alt="{{ page.next.next.title }}" />
    <h1>{{ page.next.next.title }}</h1>
  </a>
  {% endif %}
  {% if page.next.url %}
    <a href="{{ BASE_PATH }}{{ page.next.url }}" class="thumbnail">
      <img src="/assets/{{ page.next.img.small | replace: '!SITE_URL!', site.url }}" class="img-responsive" alt="{{ page.next.title }}" />
      <h1>{{ page.next.title }}</h1>
    </a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ BASE_PATH }}{{ page.previous.url }}" class="thumbnail">
      <img src="/assets/{{ page.previous.img.small | replace: '!SITE_URL!', site.url }}" class="img-responsive" alt="{{ page.previous.title }}" />
      <h1>{{ page.previous.title }}</h1>
    </a>
  {% endif %}
  {% if page.previous.previous.url %}
  <a href="{{ BASE_PATH }}{{ page.previous.previous.url }}" class="thumbnail">
    <img src="/assets/{{ page.previous.previous.img.small | replace: '!SITE_URL!', site.url }}" class="img-responsive" alt="{{ page.previous.previous.title }}" />
    <h1>{{ page.previous.previous.title }}</h1>
  </a>
  {% endif %}
  {% if page.previous.previous.previous.url %}
  <a href="{{ BASE_PATH }}{{ page.previous.previous.previous.url }}" class="thumbnail">
    <img src="/assets/{{ page.previous.previous.previous.img.small | replace: '!SITE_URL!', site.url }}" class="img-responsive" alt="{{ page.previous.previous.previous.title }}" />
    <h1>{{ page.previous.previous.previous.title }}</h1>
  </a>
  {% endif %}
</section> <!-- /more-stories -->
