body {
  background: $white;
  color: $black;
  font-family: $didact;
  font-size: 1.375rem;
  line-height: 1.7;
}

h1, h2, h3, h4, h5 {
  font-family: $poppins;
  font-weight: 500;
}

h1 {
  line-height: 1.5;
}

h2 {
  font-size: 2rem;
  line-height: 1.7;
}

h3 {
  font-size: 1.215rem;
}

h4 {
  font-size: 1.138rem;
}

a {
  color: $black;
}

svg {
  width: 100%;
}

blockquote {
  font-family: $georgia;
  font-style: italic;
  margin: 1.5rem;
  text-align: center;

  &:before, &:after {
    content: '';
    display: block;
    border-top: 2px $brown solid;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    padding: 1rem 0;
  }
}

//Flex
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-spaced {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//Navigation
nav {
  a {
    display: block;
    font-size: 1rem;
    padding: 1rem;

    &:hover {
      text-decoration: line-through;
      text-decoration-color: $seafoam;
    }
  }
}

footer {
  font-size: 1rem;
  padding-bottom: 0.5rem;
  color: lighten($black, 50%);
}

//Effects
.module  {
  img {
    opacity: 0;
  }

  .already-visible {
    transform: translateY(0);
    -webkit-transform: translateY(0px);
    animation: none;
    opacity: 1;
  }
}

.come-in {
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  animation: come-in 1s ease-out forwards;
  -webkit-animation: come-in 1s ease-out forwards;

  &:nth-child(odd) {
    animation-duration: 0.7s;
    -webkit-animation-duration: 0.7s;
  }
}

//Shared between mobile and tablet
@media only screen and (min-width : 300px) and (max-width : 1024px) {
  body {
    font-size: 1.125rem;
  }

  h5 {
    font-size: 0.875rem;
  }

  nav {
    a {
      font-size: 0.875rem;
      color: lighten($black, 20%);
      padding: 1rem 0.7rem;
    }
  }

  img, video, p {
    margin-bottom: 1rem;
  }
}

//Mobile
@media only screen and (min-width : 300px) and (max-width : 767px) {
  body {
    line-height: 1.5;
  }

  h2 {
    font-size: 1.125rem;
    margin-bottom: 1rem;

    &.text-center {
      text-align: left;
    }
  }

  h3 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    margin: 0.5rem 0 1rem 0;
  }
}

//Tablet
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  h2 {
    font-size: 1.5rem;
  }
}
