body {
  background: darken($white, 1%);
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: 'Didact Gothic', sans-serif;
  color: darken($white, 80%);
  font-size: 1.3rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  color: darken($white, 5%);
}
h2 {
  font-size: 2rem;
  line-height: 1.7;
}
h3 { font-size: 1.215rem; }
h4 {
  font-size: 1.138rem;
  margin: 1rem 0;
  font-weight: 400;
  text-transform: uppercase;
}
h5 {
  font-size: 0.9rem;
  font-weight: 400;
}
p {
  margin-bottom: 1.7rem;
  line-height: 1.9;
}
a {
  color: darken($seafoam, 15%);
  text-decoration: none;
  &:hover {
    color: $brown;
  }
}
ul, ol {
  margin-bottom: 1.7rem;
  padding-left: 1rem;
  line-height: 1.9;
  li {
    margin-bottom: 1rem;
  }
}
svg { width: 100%; }
blockquote {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 500;
  margin: 2rem;
}
.img-responsive {
  width: 100%;
  display: block;
  height: auto;
}
.text-center { text-align: center; }
.text-right { text-align: right; }
.footnote {
  margin-top: 1rem;
  border-top: 1px darken($white, 10%) solid;
  padding-top: 1rem;
  font-style: italic;
}
.menu {
  z-index: 10;
  width: 100vw;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  .logo {
    display: block;
    width: 50px;
    polyline {
      stroke: darken($white, 50%);
      stroke-width: 20;
      stroke-miterlimit: 10;
      fill: none;
    }
  }
}
.social {
  text-transform: uppercase;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 6.25rem;
  margin: 1rem 0;
  a {
    color: darken($white, 80%);
    &:hover {
      color: $seafoam;
    }
  }
}

/** Home **/
#thumbnails {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  .item {
    width: 17rem;
    padding: 3rem;
    position: relative;
    h1 {
      color: $brown;
      position: absolute;
      bottom: 0rem;
      left: 1rem;
      font-size: 0.8rem;
      letter-spacing: 0.4rem;
      display: none;
    }
    &:hover {
      h1 {
        display: block;
      }
    }
  }
}
.scroll-text {
  margin: 0;
  position: absolute;
  right: -1.7%;
  top: 45%;
  transform: rotate(90deg);
  letter-spacing: 0.05rem;
  background: darken($white, 1%);
  i {
    margin-left: 0.5rem;
  }
}
#journal-cover {
  @include cover;
  .title {
    position: absolute;
    bottom: 20%;
    width: 30%;
    right: 5%;
  }
}

/** Blast **/
.blastable, .blast {opacity:0;}

/** Parallax **/
.parallax {
  @include cover;
  width: 100vw;
  -webkit-box-shadow: inset 0px -7px 10px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px -7px 10px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0px -7px 10px 2px rgba(0,0,0,0.1);
  color: $white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.invert { color: darken($white, 80%); text-shadow: none; }
#fog { @include cover; opacity: 0.8; width: 100%; }

/** Loading Infinite Scroll **/
#infscr-loading {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  font-size: 1.4rem;
  img { margin: 10px auto; width: 30px; }
}

.volume {
  position: relative;
  .control {
    position: absolute;
    font-size: 20px;
    right: 5%;
    top: 5%;
    color: $white;
    z-index: 100;
    cursor: pointer;
  }
}
.module { opacity: 0; }
.come-in {
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  animation: come-in 1s ease-in-out forwards;
  -webkit-animation: come-in 1s ease-in-out forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.8s;
  -webkit-animation-duration: 0.8s;
}
.already-visible { transform: translateY(0); -webkit-transform: translateY(0px); animation: none; opacity: 1; }
@-webkit-keyframes come-in { to { -webkit-transform: translateY(0); opacity: 1; } }
@keyframes come-in { to { transform: translateY(0); opacity: 1; } }

.fade-in img {
  -webkit-animation: fadein 1s forwards 0.3s;
     -moz-animation: fadein 1s forwards 0.3s;
      -ms-animation: fadein 1s forwards 0.3s;
          animation: fadein 1s forwards 0.3s;
}
@keyframes fadein { to { opacity: 1; } }
@-moz-keyframes fadein { to { opacity: 1; } }
@-webkit-keyframes fadein { to { opacity: 1; } }
@-ms-keyframes fadein { to { opacity: 1; } }

#dark-cover {
  background: darken($white, 100%);
  h1, h2, h3, h4 { color: $white; }
}
.dark-bg {
  background: darken($white, 100%);
  color: $white;
  h2, h3 { color: $white; }
}

.more-stories {
  display: flex;
  align-items: center;
  justify-content: center;
  .thumbnail {
    padding: 3rem;
    width: 20%;
    &:hover {
      opacity: 0.9;
    }
    h4 {
      color: darken($white, 80%);
      letter-spacing: 0.4rem;
      font-weight: 700;
      font-size: 1rem;
    }
  }
}
.block {
  margin-bottom: 1.7rem;
  img {
    width: 100%;
    display: block;
    height: auto;
  }
}
.brown-bg {
  background: lighten($brown, 18%);
  h3 {
    margin-bottom: 0;
    padding-bottom: 2rem;
  }
  .more-stories {
    margin-top: 0;
  }
}
.year {
  display: flex;
  align-items: center;
  min-height: 50vh;
  .item {
    img { cursor: pointer; }
    &.shrink {
      max-width: 6.3%;
      flex-basis: 6.3%;
    }
    &.open {
      -webkit-transition: width 0.2s;
      transition: width 0.2s;
      max-width: 30%;
      flex-basis: 30%;
      .caption {
        display: block;
      }
    }
    .caption {
      display: none;
      z-index: 10;
      min-height: 200px;
      p {
        font-size: 0.9rem;
      }
    }
  }
}

//Portfolio
#resume {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: lighten($seafoam, 18%);
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    letter-spacing: 1px;
    color: darken($white, 80%);
  }
  h2 {
    color: $pink;
    font-weight: 500;
    font-size: 1rem;
  }
  p {
    font-size: 0.9rem;
    font-style: italic;
    color: darken($white, 40%);
    margin: 0;
  }
  .img-circle {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    margin: 0 auto 1rem auto;
  }
}
#process {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1rem;
}
#projects {
  background: darken($white, 3%);
  padding-top: 5rem;
  padding-bottom: 5rem;
  h1 {
    color: darken($white, 80%);
    letter-spacing: 1px;
  }
  ul {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    li {
      display: inline-block;
      background: $brown;
      padding: 0.2rem 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
  img {
    border: 1px darken($white, 10%) solid;
  }
}
.align-center {
  display: flex;
  align-items: center;
  width: 100%;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
