.comments {
  h3 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  .comment {
    padding: 1rem 0;
    border-bottom: 1px lighten($black, 80%) solid;
    font-size: 1rem;
  }

  .author {
    color: darken($brown, 40%);
  }

  .date {
    color: lighten($black, 60%);
    font-size: 0.8rem;
  }

  form a, .home-desc {
    display: none;
  }
}

#HCB_comment_box {
  p {
    font-size: 1rem;
    color: lighten($black, 50%);
  }

  blockquote {
    font-family: $didact;
    font-style: normal;
    font-size: 1rem;
    text-align: left;

    &:before, &:after {
      display: none;
    }
  }

  .hcb-comment-tb a {
    visibility: visible !important;
  }

  .hcb-link {
    font-size: 1rem;
    color: $black;
  }
}

#hcb_msg, #no_comments {
  font-family: $didact;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.hcb-link.del {
  display: inline-block;

  img {
    width: auto;
  }
}

.hcb-comment-tb {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.8rem;
  width: 100%;

  a {
    margin: 0 0.5rem;
    opacity: 0.5;
  }
}

//Mobile
@media only screen and (min-width : 300px) and (max-width : 767px) {
  .comments {
    margin-top: 0;
    padding: 2rem 0;
  }
}
