//Grid general
.grid {
  display: grid;
  grid-gap: 1.5rem;
  align-items: center;
  align-content: center;
  word-wrap: break-word;
  margin-bottom: 12rem;

  img {
    width: 100%;
    display: block;
    height: auto;
  }

  video {
    width: 100%;
    height: 100%;
  }
}

//Placement
.grid-center { justify-content: center; }

.grid-right { justify-content: flex-end; }

.grid-spaced { justify-content: space-evenly; }

//1-column grids
.width-max {
  max-width: 1500px;
  margin: 0 auto;
}

.width-wider { grid-template-columns: 66%; }

.width-half { grid-template-columns: 50%; }

.width-thirds { grid-template-columns: 33%; }

.width-quarter { grid-template-columns: 25%; }

[class^="float-"], [class*=" float-"] {
  grid-template-columns: repeat(12, 1fr);
}

.float-left-6 {
  * { grid-column: 2 / 8; }
}

.float-right-6 {
  * { grid-column: 6 / 12; }
}

.float-left-4 {
  * { grid-column: 2 / 6; }
}

.float-right-4 {
  * { grid-column: 8 / 12; }
}

//2-column grids
.items-2 { grid-template-columns: 35% 35%; }

.items-2-thin-right { grid-template-columns: 40% 25%; }

.items-2-thin-left { grid-template-columns: 25% 40%; }

.items-2-balanced { grid-template-columns: 40% 35%; }

.items-2-thin { grid-template-columns: 25% 25%; }

.items-2-bleed-balanced { grid-template-columns: 1fr 0.7fr; }

.items-2-bleed { grid-template-columns: 1fr 1fr; }

.bleed-right-thin-left {
  grid-template-columns: repeat(12, 1fr);

  > :nth-child(odd) { grid-column: 3 / 6; }
  > :nth-child(even) { grid-column: 8 / -1; }
}

.bleed-left-thin-right {
  grid-template-columns: repeat(12, 1fr);

  > :nth-child(odd) { grid-column: 1 / 7; }
  > :nth-child(even) { grid-column: 9 / 12; }
}

//3-column grids
.items-3 {
  grid-template-columns: repeat(3, minmax(auto, 28rem));
}

.items-3-bleed {
  grid-template-columns: 1fr 1fr 1fr;
}

.stacked-3-items {
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 3rem;

  > :nth-child(1) { grid-column: 2 / 6 }
  > :nth-child(2) { grid-column: 7 / 12 }
  > :nth-child(3) { grid-column: 5 / 9 }
}

.stacked-3-items-sm {
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 6rem;

  > :nth-child(1) { grid-column: 3 / 7 }
  > :nth-child(2) { grid-column: 8 / 11 }
  > :nth-child(3) { grid-column: 6 / 9 }
}

//4-column grids
.items-4 {
  grid-template-columns: repeat(4, minmax(auto, 20%));
}

//Mobile
@media only screen and (min-width : 300px) and (max-width : 767px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 0;
    padding: 0 1.5rem;
    margin-bottom: 0;

    > :nth-child(odd),
    :nth-child(even) {
      grid-column: auto;
    }
  }
}

//Tablet
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .grid {
    margin: 4rem 0;
  }

  .width-half { grid-template-columns: 80%; }

  .width-thirds { grid-template-columns: 60%; }

  .width-quarter { grid-template-columns: 50%; }

  .items-2-thin,
  .items-2-thin-right,
  .items-2-thin-left {
    grid-template-columns: 40% 40%;
  }
}
