//Default width 1440px
@mixin grid-size($size) {
  -ms-flex-preferred-size: $size;
  flex-basis: $size;
  max-width: $size;
}
.container-fluid {
  width: 100%;
}
.container {
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}
.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}
[class^="span-"], [class*=" span-"] {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
.span-1 { @include grid-size(8.333%); }
.span-2 { @include grid-size(16.667%); }
.span-3 { @include grid-size(25%); }
.span-4 { @include grid-size(33.333%); }
.span-5 { @include grid-size(41.667%); }
.span-6 { @include grid-size(50%); }
.span-7 { @include grid-size(58.333%); }
.span-8 { @include grid-size(66.667%); }
.span-9 { @include grid-size(75%); }
.span-10 { @include grid-size(83.333%); }
.span-11 { @include grid-size(91.667%); }
.span-12 { @include grid-size(100%); }

.offset-1 { margin-left: 8.333%; }
.offset-2 { margin-left: 16.667%; }
.offset-3 { margin-left: 25%; }
.offset-4 { margin-left: 33.333%; }
.offset-5 { margin-left: 41.667%; }
.offset-6 { margin-left: 50%; }
.offset-7 { margin-left: 58.333%; }
.offset-8 { margin-left: 66.667%; }
.offset-9 { margin-left: 75%; }
.offset-10 { margin-left: 83.333%; }
.offset-11 { margin-left: 91.667%; }

//Extra small
@media only screen and (min-width: 300px) and (max-width: 767px) {
  .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11 {
    @include grid-size(100%);
    padding-left: 0;
    padding-right: 0;
  }
  .span-xs-3 { @include grid-size(25%); }
  .span-xs-9 { @include grid-size(75%); }
  [class^="offset-"], [class*=" offset-"] { margin-left: 0; }
}
//Small
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11 {
    @include grid-size(100%);
  }
  .span-s-4 { @include grid-size(33.333%); }
  .span-s-6 { @include grid-size(50%); }
  .span-s-3 { @include grid-size(25%); }
  .span-s-9 { @include grid-size(75%); }
  [class^="offset-"], [class*=" offset-"] { margin-left: 0; }
}
