/** Home **/
#thumbnails {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  .item {
    width: 17rem;
    padding: 3rem;
    position: relative;
    h1 {
      color: $seafoam;
      position: absolute;
      bottom: 0rem;
      left: 1rem;
      font-size: 0.8rem;
      letter-spacing: 0.4rem;
      display: none;
    }
    &:hover {
      h1 {
        display: block;
      }
    }
  }
}
.scroll-text {
  margin: 0;
  position: absolute;
  right: -1.7%;
  top: 45%;
  transform: rotate(90deg);
  letter-spacing: 0.05rem;
  background: darken($white, 1%);
  i {
    margin-left: 0.5rem;
  }
}
#journal-cover {
  @include cover;
  .title {
    position: absolute;
    top: 45%;
    width: 40%;
    left: 50%;
    margin-left: -20%;
  }
  h1 {
    color: $white;
  }
}
.pagination { display: none; }

.journal-content {
  padding: 0 1rem;
}

/**Blast **/
.blastable, .blast {opacity:0;}

/** Horizontal view **/
.horizontal-outer {
  overflow: scroll;
  .horizontal-inner { padding: 0 10px; }
  img {
    padding: 0 10px;
    float: left;
    display: none;
  }
}

/** Parallax **/
.parallax {
  @include cover;
  height: 100vh;
  -webkit-box-shadow: inset 0px -7px 10px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px -7px 10px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0px -7px 10px 2px rgba(0,0,0,0.1);
  color: $white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.invert { color: darken($white, 80%); text-shadow: none; }
#fog { @include cover; opacity: 0.8; width: 100%; }

/** Loading Infinite Scroll **/
#infscr-loading {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  font-size: 1.4rem;
  img { margin: 10px auto; width: 30px; }
}

.volume {
  position: relative;
  .control {
    position: absolute;
    font-size: 20px;
    right: 5%;
    top: 5%;
    color: $white;
    z-index: 100;
    cursor: pointer;
  }
}
.module { opacity: 0; }
.come-in {
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  animation: come-in 1s ease-in-out forwards;
  -webkit-animation: come-in 1s ease-in-out forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.8s;
  -webkit-animation-duration: 0.8s;
}
.already-visible { transform: translateY(0); -webkit-transform: translateY(0px); animation: none; opacity: 1; }
@-webkit-keyframes come-in { to { -webkit-transform: translateY(0); opacity: 1; } }
@keyframes come-in { to { transform: translateY(0); opacity: 1; } }

.fade-in img {
  -webkit-animation: fadein 1s forwards 0.3s;
     -moz-animation: fadein 1s forwards 0.3s;
      -ms-animation: fadein 1s forwards 0.3s;
          animation: fadein 1s forwards 0.3s;
}
@keyframes fadein { to { opacity: 1; } }
@-moz-keyframes fadein { to { opacity: 1; } }
@-webkit-keyframes fadein { to { opacity: 1; } }
@-ms-keyframes fadein { to { opacity: 1; } }

#thanks {
  background: url('/assets/thanks-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .message {
    .logo {
      display: block;
      width: 50px;
      margin: 0 auto;
      polyline { stroke: $seafoam; stroke-width: 20; stroke-miterlimit: 10; fill: none; }
    }
    h1 { color: $seafoam; }
  }
}
