@media only screen
and (min-width : 300px)
and (max-width : 767px) {
  body { font-size: 1rem; }
  h1 {
    font-size: 0.8rem;
    letter-spacing: 0.5rem;
  }
  h2, h3 { margin-top: 0.5rem; }
  h2 { font-size: 1.2rem; }
  h3 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
  h4 { font-size: 1rem; }
  p { margin-bottom: 1rem; }
  .mtop2, .mtop4, .mtop15, .mtop8, .mtop30 { margin-top: 0; }
  .mbottom2, .mbottom8, .mbottom15 { margin-bottom: 0; }
  .menu {
    padding: 0.5rem 1rem;
    top: 0;
    justify-content: space-between;
    background: darken($white, 1%);
  }
  .block {
    margin-bottom: 1rem;
  }

  //Home
  .scroll-text {
    display: none;
  }
  #thumbnails {
    margin-top: 30px;
    height: auto;
    .item {
      width: 100%;
      padding: 2rem 4rem 0 4rem;
      text-align: center;
      h1 {
        display: block;
        margin-top: 1rem;
        position: static;
        color: darken($white, 80%);
      }
    }
  }

  //Themes
  #journal-cover {
    height: 250px;
    margin-top: 43px;
    background-attachment: scroll;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    .title {
      width: 90%;
      position: static;
    }
  }
  .text-cover {
    height: 16rem;
    margin-bottom: 1rem;
    img {
      width: 70%;
      margin-left: 25%;
    }
    .title {
      width: 95%;
      h1 { font-size: 1.5rem; }
    }
  }
  #dark-cover {
    background: transparent;
    margin-top: 50px;
    color: darken($white, 80%);
    h1 { font-size: 1.2rem; }
    h1, h2, h3, h4 { color: darken($white, 80%); }
  }
  .dark-bg {
    background: transparent;
    color: darken($white, 80%);
    h3 { color: darken($white, 80%); }
  }
  .social { margin: 0; }
  .full-bleed { padding: 0 1rem; }
  #journal-content {
    .row { margin-left: 0; margin-right: 0; }
    .text-center { text-align: left; }
    img { margin-bottom: 1rem; }
  }
  #journal-template {
    .menu .logo polyline { stroke: darken($white, 80%); }
    .menu a { color: darken($white, 80%); }
  }
  .parallax {
    box-shadow: none;
    background-image: none !important;
    height: auto;
    img {
      display: block !important;
      margin-bottom: 1rem;
    }
    .opacity {
      position: static !important;
      text-align: left;
      transform: rotate(0deg) !important;
      opacity: 1 !important;
      color: darken($white, 80%);
      text-shadow: none;
    }
  }
  #fog, .guide { display: none; }
  .volume .control { font-size: 15px; right: 8%; }
  .blastable:nth-child(2) { display: none; }

  //New
  .brown-bg { padding-top: 2rem; }
  .year {
    margin: 2rem 0;
    .item {
      .caption {
        display: block;
        min-height: auto;
      }
    }
  }
  .more-stories {
    padding: 0 1rem;
    display: block;
    .thumbnail {
      padding: 0.5rem 3rem;
      width: 100%;
      display: block;
    }
  }
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #resume {
    .span-xs-3 {
      margin: 0 auto;
      float: none;
    }
  }
  #projects, #process {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .align-center {
    display: block;
    width: auto;
  }
}

/*** Tablet ***/
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
  body { font-size: 1rem; }
  img, p { margin-bottom: 1rem; }
  h1 { font-size: 1.2rem; }
  h2 { font-size: 1.6rem; }
  .menu { justify-content: space-between; top: 0; }
  .text-right { text-align: left; }
  #thumbnails .item {
    width: 18rem;
    padding: 3rem;
    h1 {
      display: block;
    }
  }
  //Themes
  #dark-cover {
    background: $white;
    margin-top: 43px;
    color: darken($white, 80%);
    h1 { font-size: 1.2rem; }
    h1, h2, h3, h4 { color: darken($white, 80%); }
  }
  .dark-bg {
    background: $white;
    color: darken($white, 80%);
    h3 {
      color: darken($white, 80%);
    }
  }
  #journal-cover {
    height: 500px;
    background-attachment: scroll;
    .title {
      width: 50%;
    }
  }
  .text-cover {
    height: 24rem;
    .title {
      width: 70%;
      h1 {
        font-size: 4rem;
      }
    }
  }
  .parallax {
    height: 50vh;
  }
  @keyframes jump { 0% { bottom: 10px; } 100% { bottom: 20px; } }
  .more-stories {
    .thumbnail {
      padding: 0.5rem;
    }
  }
  .year {
    align-items: flex-start;
    .item {
      margin-bottom: 2rem;
      .caption {
        display: block;
        min-height: auto;
      }
    }
  }
  #resume {
    .span-s-3 {
      margin: 0 auto;
      float: none;
    }
  }
  #projects {
    .span-4 {
      padding: 0;
    }
  }
}
