---
layout:     post
title:      "Sagada Part 2"
date:       2013-08-19
categories: travel
permalink:  /:categories/:title
excerpt:    There were no street lights but the driver was able to navigate with ease
img-link:   /assets/2013/sagada-2/
img:
  small:    2013/sagada-2/sagada-2-small.jpg
  large:    2013/sagada-2/sagada-2-cover.jpg
---
{% include 1.html text="
  At around 2 or 3am, we sped down a dark and misty uphill road to chase a beautiful sunrise view on top of a mountain. There were no street lights but the driver was able to navigate with ease.

  Jeremie and I sat in the front seat and had a conversation with the driver. He seemed to have a distinctly American accent for someone who grew up in Sagada.

  Things I learned from him:

  - There used to be a lot of hippies from the US who traveled to Sagada in the 70s.
  - Most people in their community believed in animism. This is the belief that when people die, their spirits roam with them in this world.
  - Non-locals can't purchase property in Sagada. This is to ensure locals can own property in their own land. However, some outsiders purchase property through marriage. I haven't, however, verified if this is accurate or not.
" %}

{% include 1.html type="ctr" img="1" alt="Bonfire" %}

{% include 2.html type="sp-sm"
  img1="2" alt1="Group shot and play with light"
  img2="3" alt2="Before sunrise"
%}

{% include 1.html text="
  The place suddenly felt too crowded as soon as more vans arrived. It was getting really hard to move without bumping into people.

  Disappointment came when we realized there was no sunrise since it was too cloudy.
" %}

{% include 2.html type="sp"
  img1="4" alt1="Everyone's all smiles despite the disapppointment"
  img2="5" alt2="Grand mountains"
%}

{% include 1.html type="ctr" img="6" alt="House swallowed by plants" %}

{% include 2.html type="sp-sm"
  img1="7" alt1="Restaurant lights"
  img2="8" alt2="Restaurant interior"
%}

{% include 1.html text="
  Our next destination was to an orange farm to do some orange-picking. And in another stroke of bad luck, they ran out of oranges for people to pick.

  Nothing seems to be going our way, so we decided to grab some breakfast and get the bad vibes out of our system.
" %}

{% include 3.html type="sp"
  img1="9" alt1="Restaurant interior"
  img2="10" alt2="Restaurant interior"
  img3="11" alt3="Restaurant interior"
%}

{% include 2.html type="r-thin"
  img1="13" alt1="Wood cladding"
  img2="12" alt2="Wood cladding"
%}

{% include 3.html type="sp"
  img1="14" alt1="Bacon that's too saggy and sad"
  img2="15" alt2="Scrambled eggs"
  img3="16" alt3="French toast?"
%}

{% include 1.html type="left" img="17" alt="Having fun with the natural light" %}

{% include 2.html type="sp"
  img1="18" alt1="Adrian the lumberjack"
  img2="19" alt2="Adrian the lumberjack"
%}

{% include 1.html type="right" img="20" alt="Tool shed" %}

{% include 1.html text="
  Afterwards, it was time for a 2-hour morning hike

  ![Mountain view](/assets/2013/sagada-1/21.jpg)

  ![Before the hike](/assets/2013/sagada-1/22.jpg)
" %}

{% include 2.html type="sp-sm"
  img1="23" alt1="Information booth"
  text1="We learned our lesson from the other day and got a guide from the information booth so we don't get lost this time."
%}

{% include 1.html type="ctr" img="24" alt="Beginning of a long hike" %}

{% include 1.html type="ctr" img="25" alt="Tiny humans in a vast ocean of grass" %}

{% include 2.html type="sp-sm"
  img1="26" alt1="Hiking through terrace fields"
  img2="27" alt2="Narrow trail"
%}

{% include 1.html text="Wait for me guys! I think I might get an award for being the slowest hiker." %}

{% include 1.html type="left" img="28" alt="Boulders" %}

{% include 1.html text="We reached the waterfalls. It was crowded with people so we didn't go swimming and headed back to the starting point." %}

{% include 1.html type="right" img="29" alt="Waterfalls at the end of the road" %}

{% include 1.html type="ctr-sm" img="30" alt="Spirited away moment" %}

{% include 1.html type="ctr"
  img="31" alt="Jeremie and I survived the long hike"
  text="It was exhausting and sweltering, but we survived the hike."
%}
