---
layout:     post
title:      "Passing by Baguio"
date:       2013-08-20
categories: travel
permalink:  /:categories/:title
excerpt:    A short stop over in Baguio before heading back to Manila
img-link:   /assets/2013/baguio/
img:
  small:    2013/baguio/baguio-small.jpg
  large:    2013/baguio/baguio-cover.jpg
---
{% include 1.html text="I have memories of being in this city with my family back in high school. I have fond memories of eating fresh vegetables, riding horses, and walking the hilly streets. Those were the days when the parents did all the planning and spending while we kids follow their lead and enjoy the trip." %}

{% include 3.html type="bleed"
  img1="1" alt1="On our way to Baguio"
  img2="2" alt2="Sun beaming in the bus"
  img3="3" alt3="Weird guy with a cardboard box head"
%}

{% include 1.html text="
  ![Bus driver's cowboy hat](/assets/2013/sagada-1/4.jpg)

  Baguio is crowded. The road heading to the city was packed with vehicles.

  ![Mountain of houses](/assets/2013/sagada-1/5.jpg)
" %}

{% include 1.html type="right" img="6" alt="Red roofed houses" %}

{% include 1.html type="left" img="7" alt="Clothes line" %}

{% include 2.html type="sp"
  img1="8" alt1="Strawberry-flavored taho"
  img2="9" alt2="Taho served in pink plastic cups"
%}

{% include 2.html type="sp"
  img1="10" alt1="Baguio park"
  img2="11" alt2="Kid looking at wishing well"
%}

{% include 2.html type="l-thin"
  text1="Japanese tori gate in the middle of the park."
  img2="12" alt2="Group photo"
%}

{% include 2.html type="sp-sm"
  img1="13" alt1="Maiza in the cave"
  text1="We went into a dark cave. Luckily, I have my trusty flashlight with me."
%}

{% include 2.html type="sp"
  img1="14" alt1="Just me striking a pose"
  img2="15" alt2="Buddhist sculptures"
%}

{% include 1.html type="ctr" img="16" alt="Art gallery" %}

{% include 2.html type="sp-sm"
  img1="17" alt1="Odd-looking tree"
  text1="Odd-looking tree"
%}

{% include 3.html type="bleed"
  img1="18" alt1="Vendors selling souvenirs"
  img2="20" alt2="Natives posing for the camera"
  img3="19" alt3="Cleaning the entrance"
%}

{% include 1.html type="left" img="21" alt="Horses lining up" %}

{% include 1.html type="ctr" img="22" alt="Yummy, fresh strawberries" %}

{% include 2.html type="sp-sm"
  img1="23" alt1="Huge gates"
  img2="24" alt2="Another group shot"
%}

{% include 1.html type="left" img="25" alt="Nuts vendor" %}

{% include 1.html type="ctr" img="26" alt="Dog sleeping" %}

{% include 1.html type="right" img="27" alt="Mountain view" %}

{% include 2.html type="sp"
  img1="29" alt1="Adrian looking outside the window"
  img2="28" alt2="Maiza looking outside the window"
%}

{% include 1.html type="ctr" img="30" alt="Looking down" %}

{% include 1.html type="ctr" img="31" alt="Magical clouds" %}
