---
layout:     post-blocks
title:      "Sagada Part 1"
date:       2013-08-18
categories: travel
permalink:  /:categories/:title
excerpt:    The mistake suddenly turned into an advantage. We had the cozy cabin to ourselves.
intro: |
  Lately, I've been posting throwback photos and stories, and this is one of them. There's a ton I haven't gone through and posted yet.

  The problem with writing later is that a big chunk of information gets lost and forgotten. Unfortunately, I have very poor memory, so I rely on photos to remember.

  Sagada wasn't what I expected it to be. It was even better. My friends decided our first trip together should be somewhere outside Cebu, so it was determined that we start with Sagada, a little town up the mountains of Luzon.

  We rode a bus from Manila to Baguio, slept for a good eight hours, before arriving in Baguio at dawn. From there, we took another bus to Sagada once again sleeping in very cramped, uncomfortable seats.
img-link:   /assets/2013/sagada-1
img:
  small:    2013/sagada-1/sagada-1-small.jpg
  large:    2013/sagada-1/sagada-1-cover.jpg
---
{% include block-img-1.html type="center-6" img="1.jpg" alt="Waiting for the late night bus" %}

{% include block-text.html text="My adventure buddies from left to right: Adrian, Jeremie, Maiza, Kteil, Loulou." %}

{% include block-img-1.html type="center-6" img="2.jpg" alt="Adventure buddies" %}

{% include block-text.html text="I was suddenly awakened by the glow of the sun gleaming outside the bus. I'm a pretty light sleeper so any change in the environment can trigger me to wake up. Feeling a little grumpy, I shifted my sight towards the window." %}

{% include block-img-1.html type="right-6" img="3.jpg" alt="Sunrise view from the bus" %}

{% include block-text.html text="The scene beyond blew my mind completely. I suddenly felt alive and lost interest in sleep. I stared outside for what seemed like hours watching the mist move through mountains." %}

{% include block-img-1.html type="center-6" img="4.jpg" alt="Gorgeous view from inside the bus" %}

{% include block-text.html text="During a stopover, I went down to grab some food. Jeremie looked like a sleeping kid, and I couldn't help but smile. He loves his sleep." %}

{% include block-img-1.html type="left-5" img="5.jpg" alt="Sleeping Jeremie" %}

{% include block-text.html text="He wasn't the only one still deep in sleep." %}

{% include block-img-1.html type="right-5" img="6.jpg" alt="Sleeping Jeremie" %}

{% include block-img-1.html type="center-6" img="7.jpg" alt="Maiza and Adrian" %}

{% include block-img-1.html type="left-wtext"
  img="8.jpg" alt="Mountains"
  text="I debated with myself whether what I saw was real or a dream that I was having. The whole ride, though a bit uncomfortable, was such a treat for the eyes!"
%}

{% include block-img-1.html type="right-wtext"
  text="That's me on the left with Loulou and Maiza. We went down the bus to stretch our sleeping legs."
  img="9.jpg" alt="Stopover photo"
%}

{% include block-img-1.html type="center-6" img="10.jpg" alt="Bird shadows in the back of the bus" %}

{% include block-text.html text="The town was surprisingly easy to navigate. They even gave us a cute little map to help us explore on our own. We found our way to our guest house. We were met with confused stares as soon as we told the lady in front that we had reservations. It turned out that they gave our room to someone else.

We were confused and very, very hangry.

Thankfully, they told us they had a place where we could stay. We accepted the offer not wanting to go through all the trouble of looking for another guest house. It seemed like quite a walk (about 15 minutes) and we thought they were fooling with us, but we ended up in a nice private house a few meters from the main road." %}

{% include block-img-2.html type="span-5"
  img="11.jpg" alt="Our supposed guest house"
  img2="12.jpg" alt2="Looking for our new cabin"
%}

{% include block-text.html text="The whole house was literally made of wood. The mistake suddenly turned into an advantage. We had the cozy cabin to ourselves, and instead of sleeping in one room, it had three beds plus our own kitchen and a living room.

**Shoes off!** The floors were too clean for shoes. So we left ours by the door.

After taking a shower, we head out for lunch to a popular cafe called *The Lemon Pie House*." %}

{% include block-img-3.html type="span-4"
  img="13.jpg" alt="Living room"
  img2="14.jpg" alt2="Front door"
  img3="15.jpg" alt3="Kitchen"
%}

{% include block-img-2.html type="span-5"
  img="16.jpg" alt="Shoes off"
  img2="17.jpg" alt2="Our room"
%}

{% include block-text.html text="Adrian acting all dramatic while sipping his coffee." %}

{% include block-img-1.html type="center-6" img="18.jpg" alt="Dramatic Adrian" %}

{% include block-text.html text="I ordered warm milk tea. It tasted so good and fresh.

They had pies for sale. The prices were a bit steep (close to Manila rates), but I suppose it's because there are many tourists.
" %}

{% include block-img-2.html type="span-5"
  img="19.jpg" alt="Milk tea"
  img2="22.jpg" alt2="Lemon pie"
%}

{% include block-img-2.html type="span-4"
  img="20.jpg" alt="Artifacts of local craft"
  img2="21.jpg" alt2="Other customers"
%}

{% include block-slim.html type="right-wtext"
  text="I wish I had a bike too."
  img="23.jpg" alt="Man riding his bike in the park"
%}

{% include block-text.html text="We went without a guide though it was a stupid decision because we almost got lost in the woods. We were saved by a few hikers who had a guide. We found our way by following them." %}

{% include block-img-1.html type="center-6" img="24.jpg" alt="Trees of Sagada" %}

{% include block-text.html text="**Dead end.** This is what happens when you venture into an unfamiliar land without a guide or a map." %}

{% include block-img-2.html type="span-4"
  img="25.jpg" alt="Late afternoon hike"
  img2="26.jpg" alt2="Loulou looking down the cliff"
%}

{% include block-img-1.html type="center-6" img="27.jpg" alt="Maiza posing" %}

{% include block-img-2.html type="span-5"
  img="28.jpg" alt="Hanging graves"
  img2="29.jpg" alt2="Hanging graves"
%}

{% include block-img-1.html type="center-6" img="30.jpg" alt="Turning dark" %}

{% include block-text.html text="When it was apparent that the sun was retiring, we followed the guide and his group back to the main road. We had dinner and the night ended in a series of conversation and very little alcohol." %}

{% include block-img-2.html type="span-5"
  img="31.jpg" alt="Gabay"
  img2="32.jpg" alt2="Jeepney"
%}
