---
layout:     post
title:      "Two Worlds Collide"
date:       2013-07-25
categories: story
permalink:  /:categories/:title
excerpt:    There is a glitch in the universe. What you see isn't really what it's supposed to be.
img-link:   /assets/2013/two-worlds-collide/
img:
  small:    2013/two-worlds-collide/two-worlds-collide-small.jpg
  large:    2013/two-worlds-collide/two-worlds-collide-cover.jpg
---
{% include 1.html text="Glitches occurred before anyone realized the songs they heard on the radio came from a parallel universe." %}

{% include 1.html type="left" img="1" alt="Falling down the hill" %}

{% include 1.html type="ctr" img="2" alt="Hands" %}

{% include 2.html type="sp-sm"
  img1="4" alt1="Legs"
  img2="3" alt2="Red-head girl peeking"
%}

{% include 2.html type="r-thin"
  img1="5" alt1="Girl sitting on grass"
  img2="6" alt2="Girl lying on floor"
%}

{% include 1.html type="ctr" img="8" alt="Blurry girl with trees in the background" %}

{% include 2.html type="sp"
  img1="9" alt1="Girl looking at water fountain"
  img2="7" alt2="Fallen girl"
%}

{% include 1.html type="ctr" img="10" alt="Girl covering her eyes" %}

{% include 1.html type="ctr" img="11" alt="Darkness falls" %}
