---
layout:     post
title:      "Sagada Part 1"
date:       2013-08-18
categories: travel
permalink:  /:categories/:title
excerpt:    The mistake suddenly turned into an advantage. We had the cozy cabin to ourselves
img-link:   /assets/2013/sagada-1/
img:
  small:    2013/sagada-1/sagada-1-small.jpg
  large:    2013/sagada-1/sagada-1-cover.jpg
---
{% include 1.html text="
  Lately, I've been posting throwback photos and stories, and this is one of them.

  The problem with writing later is that a big chunk of information gets lost and forgotten. Unfortunately, I have very poor memory, so I rely on photos to remember.

  Sagada wasn't what I expected it to be. It was even better. My friends decided our first trip together should be somewhere outside Cebu, so it was determined that we start with Sagada, a little town up the mountains of Luzon.

  We rode a bus from Manila to Baguio, slept for a good eight hours, before arriving in Baguio at dawn. From there, we took another bus to Sagada once again sleeping in very cramped, uncomfortable seats.
" %}

{% include 1.html type="ctr" img="1" alt="Waiting for the late night bus" %}

{% include 1.html text="
  My adventure buddies from left to right: Adrian, Jeremie, Maiza, Kteil, Loulou.

  ![Adventure buddies](/assets/2013/sagada-1/2.jpg)

  I was suddenly awakened by the glow of the sun gleaming outside the bus. I'm a pretty light sleeper so any change in the environment can trigger me to wake up. Feeling a little grumpy, I shifted my sight towards the window.
" %}

{% include 1.html type="right" img="3" alt="Sunrise view from the bus" %}

{% include 1.html text="
  The scene beyond blew my mind completely. I suddenly felt alive and lost interest in sleep. I stared outside for what seemed like hours watching the mist move through the mountains.

  ![Gorgeous view from inside the bus](/assets/2013/sagada-1/4.jpg)

  During a stopover, I went down to grab some food. Jeremie looked like a sleeping kid, and I couldn't help but smile. He loves his sleep.
" %}

{% include 1.html type="fl-left" img="1" alt="Sleeping Jeremie" %}

{% include 2.html type="ctr"
  text1="He wasn't the only one still deep in sleep."
  img2="6" alt2="Kteil sleeping"
%}

{% include 1.html type="right" img="7" alt="Maiza and Adrian" %}

{% include 2.html type="r-thin"
  img1="8" alt1="Mountains"
  text1="I debated with myself whether what I saw was real or just a dream. The whole ride, though a bit uncomfortable, was such a treat for the eyes!"
%}

{% include 2.html type="l-thin"
  text1="Me on the left with Loulou and Maiza. We went down the bus to stretch our sleeping legs."
  img2="9" alt2="Stopover photo"
%}

{% include 1.html type="ctr" img="10" alt="Bird shadows in the back of the bus" %}

{% include 1.html text="
  The town was surprisingly easy to navigate. They gave us a cute little map to help us explore on our own. We found our way to our guest house where we were met with confused stares as soon as we told them that we had reservations. It turned out that they gave our room to someone else.
  We were confused and very, very hangry.

  Thankfully, they told us they had another place where we could stay. We accepted the offer not wanting to go through all the trouble of looking for another guesthouse. It was quite a walk (about 15 minutes) and we thought they were fooling with us, but we ended up in a nice private house a few meters from the main road.
" %}

{% include 2.html type="sp"
  img1="11" alt1="Our supposed guest house"
  img2="12" alt2="Looking for our new cabin"
%}

{% include 1.html text="
  The whole house was literally made of wood. The mistake suddenly turned into an advantage. We had the cozy cabin to ourselves. And instead of sleeping in one room, it had three beds plus our own kitchen and a living room.

  *Shoes off!* The floors were too clean for shoes. So we left ours by the door.

  After taking a shower, we headed out for lunch to a popular cafe called **The Lemon Pie House**.
" %}

{% include 3.html type="sp"
  img1="13" alt1="Living room"
  img2="14" alt2="Front door"
  img3="15" alt3="Kitchen"
%}

{% include 2.html type="sp"
  img1="16" alt1="Shoes off"
  img2="17" alt2="Our room"
%}

{% include 1.html type="ctr"
  img="18" alt="Dramatic Adrian"
  text="Adrian acting all dramatic while sipping his coffee."
%}

{% include 1.html text="
  I ordered warm milk tea. It tasted so good and fresh.

  They had pies for sale. The prices were a bit steep (close to Manila rates), but I suppose it's because there are many tourists.
" %}

{% include 2.html type="sp"
  img1="19" alt1="Milk tea"
  img2="22" alt2="Lemon pie"
%}

{% include 2.html type="sp-sm"
  img1="20" alt1="Artifacts of local craft"
  img2="21" alt2="Other customers"
%}

{% include 2.html type="ctr-sm"
  text1="I wish I had a bike too."
  img2="23" alt2="Man riding his bike in the park"
%}

{% include 1.html text="We went without a guide though it was a stupid decision because we almost got lost in the woods. We were saved by a few hikers who had a guide. We found our way around by following them." %}

{% include 1.html type="ctr" img="24" alt="Trees of Sagada" %}

{% include 1.html text="*Dead end.* This is what happens when you venture into unfamiliar land without a guide or a map." %}

{% include 2.html type="sp-sm"
  img1="25" alt1="Late afternoon hike"
  img2="26" alt2="Loulou looking down the cliff"
%}

{% include 1.html type="ctr" img="27" alt="Maiza posing" %}

{% include 2.html type="sp"
  img1="28" alt1="Hanging graves"
  img2="29" alt2="Hanging graves"
%}

{% include 1.html type="ctr" img="30" alt="Turning dark" %}

{% include 1.html text="We followed the guide and his group back to the main road. We had dinner and the night ended in a series of conversation and very little alcohol." %}

{% include 2.html type="sp"
  img1="31" alt1="Gabay"
  img2="32" alt2="Jeepney"
%}
