---
layout:     post
title:      "When the Storm Comes"
date:       2013-07-25
categories: life
permalink:  /:categories/:title
excerpt:    When strong winds came to Cebu, we dropped everything and head to the outskirts
img-link:   /assets/2013/storm-comes/
img:
  small:    2013/storm-comes/storm-comes-small.jpg
  large:    2013/storm-comes/storm-comes-cover.jpg
---
{% include 1.html text="
  Jeremie smiled as he saw the trees twist and turn outside the window.

  *Surf!* he exclaimed excitedly as I paused and struggled to understand what he meant by that. *Let's go!*

  I watched&mdash;still dazed&mdash;as he moved around the room gathering a bunch of things and stuffing them inside his bag. Seriously? We're driving down South on a weekday? I hesitated at first, but the idea of going to a random place seemed enticing. It'd been a while since I went on a spontaneous trip.

  *Let's go!* I said grabbing the only thing I needed to bring&mdash;a camera.
" %}

{% include 1.html type="ctr" img="24" alt="Leaves swaying" %}

{% include 2.html type="sp-sm"
  img1="4" alt1="Surfer"
  img2="3" alt2="Surfer"
%}

{% include 1.html type="left" img="1" alt="Waves crashing on rocks" %}

{% include 1.html type="right" img="2" alt="Minglanilla store" %}

{% include 2.html type="sp-sm"
  img1="7" alt1="Industrial setting"
  img2="16" alt2="Industrial setting"
%}

{% include 1.html type="ctr" img="5" alt="Surfer" %}

{% include 2.html type="r-thin"
  img1="10" alt1="Man surfing"
  img2="18" alt2="Man surfing"
%}

{% include 1.html type="right" img="15" alt="Brown sand beach" %}

{% include 2.html type="l-thin"
  img1="23" alt1="Lookout"
  img2="6" alt2="Minglanilla mountains and trees"
%}

{% include 3.html type="ctr"
  img1="13" alt1="Old man walking the beach"
  img2="11" alt2="Kid playing in the water"
  img3="17" alt3="Observing the rocks"
%}

{% include 1.html type="ctr" img="25" alt="Children playing in the water" %}

{% include 3.html type="ctr"
  img1="13" alt1="Boy looking at me from the water"
  img2="11" alt2="Boy looking away"
  img3="17" alt3="Boy playing with waves"
%}

{% include 1.html type="ctr" img="9" alt="Two boys in the water" %}

{% include 2.html type="l-thin"
  img1="22" alt1="Child and sky"
  img2="8" alt2="Old man on the beach"
%}

{% include 1.html type="ctr" img="12" alt="Kids playing during sunset" %}

{% include 1.html type="right" img="14" alt="Sunset in the beach" %}
