---
layout:     post-blocks
title:      "When the Storm Comes"
date:       2013-07-25
categories: life
permalink:  /:categories/:title
excerpt:    When strong winds came to Cebu, we dropped everything head to the outskirts.
intro: |
  Jeremie smiled as he saw the trees twist and turn outside the window.

  “Surf!” he said, excitedly as I paused and struggled to understand what he meant by that. He looked at me with serious eyes. “Let’s go!”

  I watched&mdash;still dazed&mdash;as he moved around the room gathering a bunch of things and stuffed them inside his bag. Seriously? We're driving down South on a weekday. I hesitated at first, but the idea of driving to a random place seemed enticing. It had been a while since I went on a spontaneous trip.

  “Let’s go!” I said grabbing the only thing I needed to bring–a camera.
img-link:   /assets/2013/storm-comes
img:
  small:    2013/storm-comes/storm-comes-small.jpg
  large:    2013/storm-comes/storm-comes-cover.jpg
---
{% include block-img-1.html type="center-6" img="24.jpg" alt="Leaves swaying" %}

{% include block-img-2.html type="span-4"
  img="4.jpg" alt="Surfer"
  img2="3.jpg" alt2="Surfer"
%}

{% include block-img-1.html type="left-6" img="1.jpg" alt="Waves crashing on rocks" %}

{% include block-img-1.html type="right-6" img="2.jpg" alt="Minglanilla store" %}

{% include block-img-2.html type="span-4"
  img="7.jpg" alt="Industrial setting"
  img2="16.jpg" alt2="Industrial setting"
%}

{% include block-img-1.html type="center-6" img="5.jpg" alt="Surfer" %}

{% include block-slim.html type="right"
  img="10.jpg" alt="Man surfing"
  img2="18.jpg" alt2="Man surfing"
%}

{% include block-img-1.html type="right-5" img="15.jpg" alt="Brown sand beach" %}

{% include block-slim.html type="left"
  img="23.jpg" alt="Lookout"
  img2="6.jpg" alt2="Minglanilla mountains and trees"
%}

{% include block-img-3.html type="span-4"
  img="13.jpg" alt="Old man walking the beach"
  img2="11.jpg" alt2="Kid playing in the water"
  img3="17.jpg" alt3="Observing the rocks"
%}

{% include block-img-1.html type="center-6" img="25.jpg" alt="Children playing in the water" %}

{% include block-img-3.html type="span-2"
  img="19.jpg" alt="Boy looking at me from the water"
  img2="20.jpg" alt2="Boy looking away"
  img3="21.jpg" alt3="Boy playing with waves"
%}

{% include block-img-1.html type="center-6" img="9.jpg" alt="Two boys in the water" %}

{% include block-slim.html type="left"
  img="22.jpg" alt="Child and sky"
  img2="8.jpg" alt2="Old man on the beach"
%}

{% include block-img-1.html type="center-6" img="12.jpg" alt="Kids playing during sunset" %}

{% include block-img-1.html type="right-6" img="14.jpg" alt="Sunset in the beach" %}
