---
layout:     post
title:      "A Walk Around the Island"
date:       2014-06-09
categories: travel
permalink:  /:categories/:title
excerpt:    I dipped my feet into the warm water and shuffled the sand as the fish scurried away
img-link:   /assets/2014/around-island/
img:
  small:    2014/around-island/walk-around-island-small.jpg
  large:    2014/around-island/walk-around-island-cover.jpg
---
{% include 1.html text="
  The earth was still wet from the night before, but the sky showed signs of a sunny morning.

  *Good.* I thought to myself remembering yesterday's misadventure.

  I stumbled out of bed while grabbing my camera which was neatly placed next to my spectacles on the wooden table beside my bed. The road was empty except for a couple of people speeding off on their scooters.

  I heard a faint sound coming from one of the houses. Chanting. The neighbors were starting their day with a prayer, I presumed. In a way, it made my morning seem more magical.
" %}

{% include 1.html type="ctr" img="1" alt="Walking around the island" %}

{% include 1.html type="ctr" img="2" alt="Narrow forest path" %}

{% include 1.html type="ctr" img="3" alt="Many hotel signs" %}

{% include 2.html type="sp-sm"
  img1="4" alt1="old contraption"
  img2="5" alt2="random home"
%}

{% include 1.html type="ctr" img="6" alt="child smirking" %}

{% include 1.html type="ctr" img="7" alt="view of Mount Agung in the distance" %}

{% include 1.html text="
  After several dead-ends and a failed attempt to go back to the guest house, I found myself on a white sand beach overlooking Mount Agung in the distance. I took a deep breath and thanked god I ended up on a pretty beach this time.

  I dipped my feet into the warm water and shuffled the sand as the fish scurried away. Ah! That felt good.

  There was a small pathway through the shallow water that led to the other side of the beach. No resorts or restaurants, just some overgrown grass.
" %}

{% include 1.html type="ctr" img="8" alt="mossy rocks" %}

{% include 1.html type="ctr" img="9" alt="mountains in the distance" %}

{% include 1.html text="
### The Invitation
  When I returned to the guest house, my hosts asked me if I wanted to go with them to a birthday celebration. Intrigued, I nodded my head and sat at the back of Komang's pink scooter.

  On the way there, I made a short visit to a nearby attraction known as the Gala Gala Underground House. At first glance, it was what it was said to be. A house built below the ground resembling a cave. A priest built the house after being inspired by a Hindu epic. The Pandawas made a cave and lived in isolation after they were banished in the forest for gambling losses.

  The guide who took me around the cave said it was his father who built the underground house. I asked him if he had lived in the house too, but he just laughed and shrugged it off. Unsure of the meaning of his response, I decided to stop asking questions.
" %}

{% include 2.html type="sp-sm"
  img1="10" alt1="cave owner"
  img2="11" alt2="cave home"
%}

{% include 1.html text="
### The Birthday Celebration
  Komang wrapped me in a borrowed sarong before I entered the house. I quietly took a seat in a wooden chair and observed the other guests on the sideline.

  1. Instead of balloons, cake, and candles, the place was full of offerings and incense.
  2. Instead of the usual Happy Birthday song, constant rhythmic chanting replaced it.
  3. Everyone wore a sarong except for the kids who ran around the house.

  Believing that no one would notice me, I was startled when a lady carrying a baby approached me and asked where I was from.

  They shared about their life on the island and what they did for a living. It turns out that it was her baby who was having the party. I felt ashamed that I didn't even know who the celebrant was.

  She explained that they celebrated their birthday through a cycle based on their calendar. In the western calendar, the sequence occurs every six months. So technically, their birthdays happen more than once a year. I found this [article](http://www.baliandbeyond.co.id/detailarticle-333-otonan-a-balinese-birthday.html){:target='_blank'} that explained the celebration well.
" %}

{% include 1.html type="ctr" img="12" alt="birthday celebrant and mom" %}

{% include 2.html type="sp-sm"
  img1="13" alt1="Komang, Wayan, and their little girl"
  text1="The family that took me in and made me feel welcome in this little island. Komang, Wayan, and their little girl."
%}

{% include 1.html type="ctr" img="14" alt="woman squatting in floor" %}

{% include 3.html type="sp"
  img1="15" alt1="women praying"
  img2="17" alt2="man smiling with kids"
  img3="16" alt3="people praying"
%}

{% include 1.html type="ctr" img="18" alt="women talking" %}

{% include 2.html type="sp-sm"
  img1="19" alt1="cage"
  img2="20" alt2="child playing with dog"
%}

{% include 1.html type="ctr" img="21" alt="priest" %}

{% include 1.html type="ctr" img="22" alt="people laughing" %}

{% include 3.html type="bleed"
  img1="23" alt1="offerings"
  img2="24" alt2="offerings"
  img3="25" alt3="offerings"
%}

{% include 1.html text="
### Driving Around
  After lunch, Komang drove me around the island on her pink scooter.

  ![seaweed farming](/assets/2014/around-island/26.jpg)
" %}

{% include 1.html type="ctr" img="27" alt="mangroves" %}

{% include 2.html type="sp-sm"
  img1="28" alt1="man preparing nets"
  img2="29" alt2="rocky cliffs"
%}

{% include 1.html type="ctr" img="31" alt="yellow bridge" %}

{% include 1.html type="ctr" img="32" alt="rocky cliff" %}

{% include 1.html type="ctr" img="33" alt="rocky cliff" %}

{% include 1.html type="ctr" img="34" alt="rocky cliff" %}

{% include 1.html type="ctr" img="35" alt="grass growing" %}

{% include 1.html type="ctr" img="36" alt="man taking in the view" %}

{% include 1.html type="ctr" img="37" alt="faint view of mountain" %}

{% include 3.html type="ctr"
  img1="39" alt1="cactus"
  img2="40" alt2="yoga"
  img3="38" alt3="plant pointing up"
%}

{% include 1.html type="ctr" img="41" alt="hand reflection" %}
