---
layout:     post
title:      "The Quiet Charms of Nusa Lembongan"
date:       2014-05-22
categories: travel
permalink:  /:categories/:title
excerpt:    I catch myself grinning at the thought of hitching a ride on my new friend’s motorcycle
img-link:   /assets/2014/nusa-lembongan/
img:
  small:    2014/nusa-lembongan/nusa-lembongan-small.jpg
  large:    2014/nusa-lembongan/nusa-lembongan-cover.jpg
---
{% include 1.html text="
### Discovering the Island
  It's highly unlikely that I end up in vegetarian restaurants. For a budget traveler, the cost is too much for a meal that doesn't provide a full stomach. But one night, as I roamed the streets of Ubud, I happened upon one and decided to try it.

  The host sat me at a table that was occupied by a woman busy writing on her postcards. I took off my shoes and crossed my legs on the ground opposite to her. She looked up, and we exchanged brief hellos.

  I glanced around the room and counted about five communal tables inside and two outside. Chalkboards hung on the wall behind the counter highlighting specials for the day. Some of the tables were low on the ground, designed to let you sit comfortably on the floor. Behind me was a shelf with books and magazines you could browse through while waiting for food.

  On one of the corners, a guitar which was free to use for those who knew how to play it leaned on the wall. The room was charged with chatter from strangers trading stories of places they'd been to. A hippie couple entertained another couple with a song. It seemed like the kind of place you'd imagine these things to happen.

  While I was busy observing my environment, the girl sitting across me had finished with her postcards and said goodbye. Another middle-aged woman took her place. She was more chatty than the last one and did not hesitate to share stories about her travels.

  She told me about a quiet island two hours by boat from Bali that had white sand beaches and fewer people. She had been there several days before and enjoyed the beaches more than in Kuta.

  And that's how I ended up shortening my stay in Kuta from 10 days to just 5-6 days.
" %}

{% include 0.html type="parallax" img="1" alt="map of nusa lembongan proximity to bali" %}

{% include 1.html type="ctr" img="2" alt="sunset and human silhouettes" %}

{% include 1.html text="
### Goodbye Kuta
  Kuta left me with a bad taste in my mouth. Food was expensive, the beach dirty, and there was nothing much to do except go shopping/bar-hopping (both of which I have no interest in).

  And as if the gods were playing tricks on me, on my last night in Kuta, two guys in a currency exchange booth managed to distract me with tricks as I handed them my money. I should have trusted my senses and walked away, but I was too caught up in the high conversion rate that I dove head first without inspecting the waters.

  Long story short&mdash;I lost some money, talked to the security guard in my hotel to help me get my money back, got most of my money back, and went to sleep feeling like an idiot while at the same time thanking God I was about to leave the place.
" %}

{% include 1.html type="ctr" img="3" alt="bus" %}

{% include 2.html type="sp-sm"
  img1="4" alt1="perama tour"
  img2="5" alt2="perama tour"
%}

{% include 1.html text="
### Mountain-sized Waves
  [Perama](http://www.peramatour.com/){:target='_blank'} had one of the cheapest prices for both the bus and boat service to the island. The hotel's security guard offered to take me to Perama's office for a decent price. It was cheap until we reached the address and was informed about a misunderstanding. The 13,000 Rupiah was actually 30,000. Tired of arguing and giving him the benefit of the doubt, I gave in.
" %}

{% include 1.html type="ctr" img="6" alt="tiny boats" %}

{% include 1.html text="
  A non-air-conditioned bus took us to Sanur beach for 30-45 minutes where a small boat waited for us.  Sixteen passengers boarded along with everyone's luggage. I made a mental note that there were no life jackets on board. So I devised a plan that if anything should happen, I would steal one of the passenger's surfboard and paddle away leaving everyone to fend for themselves.

  During the 2-hour boat ride, there were occasions when I secretly panicked when the waves turned into the size of mountains. Okay, I'm exaggerating, but they were scary-huge. They appeared higher than our boat tilting us left and right. I swear I told myself I was not ready to jump because I didn't have any waterproof casing for my camera. Gigi isn't ready to die yet.

  I felt a big sigh of relief leave my body when land appeared in the distance. Nusa Lembongan at last.
" %}

{% include 1.html type="ctr" img="7" alt="arriving in the island" %}

{% include 2.html type="sp-sm"
  img1="8" alt1="narrow road"
  img2="9" alt2="taos house"
%}

{% include 1.html text="
### The Arrival
  Transportation is scarce on this little island so your best bet would be to have your hotel pick you up. I forgot about this, so I hired the boat captain to take me to my resort. He seemed happy to take me, but I suspect it was because he planned on charging me more than he should. I shrugged it off hoping to get to my destination and relax.

  At my [arrival](https://www.airbnb.com.sg/rooms/2615932/){:target='_blank'}, Wayan&mdash;a tall, stern, quiet man, and Komang&mdash;a young, beautiful woman greeted me at the entrance with two young children. Wayan took me to my room while his wife prepared my lunch. I was starving!

  In between spoonfuls, I asked Komang about the island and where I should explore first. She gave me a small printed map and told me to visit the underground house.
" %}

{% include 1.html type="ctr" img="10" alt="lembongan island map" %}

{% include 1.html text="
  I first spoiled myself by taking a quick dip in their pool followed by a delightful shower in my room's outdoor bathroom.

  I was planning to rent a bicycle, but I saw that the narrow streets were a little bumpy for a beginner like me, so I stood in front of the resort contemplating on a solid plan to explore the island. I was about to go on foot when...

### The Hitch Hiker
  *I'm going to town. You want to come with me?* Komang asks smiling as she held her helmet with two hands.

  *Yes, please.* I was ecstatic. How could I say no to that offer?

  Holding on to dear life behind her, I catch myself grinning at the idea of hitching a ride on my new friend's motorcycle. It was unplanned and exciting. Komang cruised the narrow road effortlessly avoiding the holes that hid like landmines. We got to know each other through a series of basic questions.

  We went through a trail with trees forming canopies, went up and down a hill, before reaching a viewpoint. I asked Komang if it was okay to stop for a while so I could check out the view. Without hesitation, she parked the motorcycle, and we both looked at the view.
" %}

{% include 1.html type="ctr" img="11" alt="panorama point" %}

{% include 1.html text="
  It's only my first day in Nusa Lembongan, and I'm already in love.

  When we got to the town center, Komang told me she had to buy a few vegetables in the small market. I took this opportunity to explore the area.
" %}

{% include 2.html type="sp-sm"
  img1="12" alt1="buying provisions"
  img2="13" alt2="buying provisions"
%}

{% include 1.html text="
  After our trip to town, we went back to the resort. I still had enough time before it became dark, so I thanked Komang for her generosity and continued exploring on foot. Armed with a map, I headed out to Sunset Point.

  ![heading to sunset point](/assets/2014/nusa-lembongan/4.jpg)
" %}

{% include 1.html text="For about 10 minutes, this was all I could see. I swear I had taken the wrong road. Deep inside, I knew I was lost, but I wanted to see where my feet would take me. Occasionally, a house or two popped up, and I had the pleasure of communicating with the kids through hand gestures. They were really shy and giggled and ran around when they saw me." %}

{% include 1.html type="ctr" img="15" alt="kids playing around" %}

{% include 1.html type="ctr" img="16" alt="broken down van" %}

{% include 1.html type="ctr" img="17" alt="weirdo kid" %}

{% include 2.html type="sp-sm"
  img1="18" alt1="weird kid in window"
  img2="19" alt2="weird kid in window"
%}

<div class="grid grid-spaced items-4 module">
  <img src="{{ page.img-link }}20.jpg" alt="huts" />
  <img src="{{ page.img-link }}21.jpg" alt="arrived" />
  <div>
    <h3>Lost but now I'm found</h3>
    <p>I heard the sound of waves.</p>
    <img src="{{ page.img-link }}22.jpg" alt="waves" />
  </div>

  <img src="{{ page.img-link }}23.jpg" alt="waves" />
</div>

{% include 1.html type="ctr" img="24" alt="waves" %}

{% include 1.html text="I think I ended up on a different beach than intended but it was worth the long walk. I stood hypnotized by nature's random patterns. Floating in my own head, listening to the echoes, letting go of reality." %}

{% include 1.html type="ctr"
  img="25" alt="more waves"
  text="When I finally came back to Earth, an idea dwelled upon me."
%}

{% include 1.html type="ctr"
  img="26" alt="climbing the cliffs"
  text="Armed with temporary bravery, I climbed the slippery rocks holding on to my dear camera. I felt like an explorer on uncharted land."
%}

{% include 1.html type="ctr" img="28" alt="from above" %}

{% include 1.html type="ctr" img="29" alt="waves crashing" %}

{% include 1.html text="
  There was nobody up there but an endless field and a lonely cow. It felt like a Miyazaki film. I was ready to sit down and reward myself with the scenery when it began to drizzle.

  Luckily, I had a plastic bag which I McGyvered into a waterproof bag, keeping my camera, phone, and wallet dry. The drizzle turned into heavy rain in an instant. The cliff was becoming too slippery for me to get down and my visibility was cut down to about 2 meters. I cut through the field instead and ended up on a different, unfamiliar path.

  I could hear the island teasing me. *You want an adventure? I'll give you an adventure.*
" %}

{% include 1.html type="ctr" img="30" alt="heavy rain in the jungle" %}

{% include 1.html text="
  Water covered my glasses making it hard to see ahead. Thank the gods after ten minutes of walking I came upon a resort oddly positioned in the middle of nowhere. A guy approached me as I ran for shelter. I explained to him why on earth I was hiking in the middle of a storm and it turns out he was a good friend of Putu&mdash;Wayan's older son who I haven't met yet. He lent me an umbrella and drew lines on my map leading to my resort.

  On ordinary days, I would've stuck around and asked questions but learning that there were no street lamps on the island, I thanked him for his kindness, waved goodbye, and resumed cutting through the heavy rain.

  Komang was waiting for me in her home. I told her about my little adventure and she insisted I eat something to regain my energy. Just as she headed for the kitchen, the sound of instruments playing on the streets caught my ear. A ceremony was taking place. In my head, I made up a story about how this was a celebration for my safe return. A thank you to the gods who watched over me.
" %}

{% include 1.html type="ctr" img="31" alt="parade" %}

{% include 1.html type="ctr"
  text="Komang set my meal on the table and gestured for me to sit and relax. I ate my Nasi Goreng as if it was the first meal I had in ages."
  img="32" alt="food glorious food"
%}
