---
layout:     post
title:      "Railroads & Greenery"
date:       2014-11-07
categories: travel
permalink:  /:categories/:title
excerpt:    Surrounded by fresh air and a picturesque view, nobody would've guessed that such a terrible thing happened here
img-link:   /assets/2014/railroads/
img:
  small:    2014/railroads/railroads-and-greenery-small.jpg
  large:    2014/railroads/railroads-and-greenery-cover.jpg
---
{% include 1.html text="Erawan Falls consist of 7 tiers. Before we could hike to the top, the park staff checked the number of plastic water bottles we were carrying. Each bottle came with a fee between 20 – 40 baht. At the end of the hike, we could claim the deposit if we still had the bottles with us. The clever policy ensures that visitors keep the site plastic-free." %}

{% include 0.html type="parallax" img="2" alt="Forest" %}

{% include 1.html type="ctr" img="4" alt="Big tree" %}

{% include 1.html type="left" img="3" alt="Weird naked mannequins in the forest" %}

{% include 2.html type="ctr-sm"
  text1="One of the guys from our group said that he recently visited the Philippines. Mid-conversation, I was almost in tears laughing when he took out a small note from his wallet and showed me what was in it. He asked one of the locals from my hometown to write useful phrases that he could use to communicate while in the city."
  img2="29" alt2="funny bisaya translations"
%}

<div class="parallax no-margin bottom">
  <img src="{{ page.img-link }}6.jpg" alt="fellow tourists" />
  <div class="grid width-quarter">
    <p>Drenched in sweat when we reached the top, I wanted to jump in the water but forgot to bring my bathing suit.</p>
  </div>
</div>

<div class="parallax no-margin">
  <img src="{{ page.img-link }}5.jpg" alt="my feet being attacked by fish" />
  <div class="grid grid-center width-quarter text-bottom text-center">
    <p>So I sat by the edge of the falls, mesmerized by the group of fish that assembled near my feet. They nibbled on my toes, hesitant at first, but then grew more confident when they realized I wasn't harmful.</p>
  </div>
</div>

<div class="parallax">
  <img src="{{ page.img-link }}8.jpg" alt="waterfalls" />
  <div class="grid grid-quarter">
    <p>I was happy to be on my own little corner.</p>
  </div>
</div>

{% include 1.html type="ctr"
  img="10" alt="Hellfire pass memorial"
  text="
### Hellfire Pass
  Surrounded by fresh air and a picturesque view, you wouldn't have guessed that such a terrible thing happened here. During World War 2, the prisoners of war built the Hellfire Pass. The name comes from the eerie sight of prisoners toiling away at night illuminated only by torchlights.
  "
%}

{% include 1.html type="ctr" img="11" alt="Short hike to hellfire pass" %}

{% include 2.html type="sp-sm"
  img1="16" alt1="Crosses with markings that say in remembrance"
  img2="15" alt2="stairs down"
%}

{% include 1.html type="ctr" img="12" alt="tree growing in the middle of path" %}

{% include 2.html type="sp-sm"
  img1="17" alt1="buddhist statue"
  img2="21" alt2="don't worry grafitti"
%}

{% include 1.html type="ctr"
  img="13" alt="death railway path"
  text="
### Death Railway
  I've seen many pictures of this railway on the internet which made me curious to see it. During the Japanese invasion, there was a need to move supplies between Thailand and Burma. So POWs and Southeast Asian civilian workers were forced to build the railway in harsh conditions.

  There was only one schedule in the entire day for the train to pass so exploring was permitted for a few minutes.

  My fear of heights surfaced as I walked the narrow path.
  "
%}

{% include 2.html type="l-thin"
  img1="19" alt1="train tracks"
  img2="22" alt2="plant growing in track"
%}

{% include 1.html type="fl-left" img="23" alt="walking in train tracks" %}

{% include 1.html type="fl-right" img="14" alt="start of the tracks" %}

{% include 1.html type="ctr" img="18" alt="dark cave" %}

{% include 2.html type="ctr-sm"
  img1="24" alt1="train arriving"
  text1="We heard the train whistle and the slow chugging of its engine. A man in old uniform greeted us and gestured for us to board the train."
%}

{% include 1.html type="right" img="25" alt="people in the river" %}

{% include 1.html text="I looked out the window and saw the river houses go by. I imagined being inside one of the houses and watching the train move through the cliffs. Moments later, we were at the last stop&mdash;*The Bridge over the River Kwai*." %}

{% include 1.html type="ctr" img="27" alt="inside the empty train" %}

{% include 2.html type="bleed"
  img1="26" alt1="train conductor looking out the window"
  img2="28" alt2="train windows"
%}

{% include 1.html type="ctr" img="32" alt="old woman in the middle of train tracks" %}

{% include 2.html type="sp-sm"
  img1="34" alt1="ladies from the same tour"
  img2="35" alt2="train tracks"
%}

{% include 1.html type="ctr" img="33" alt="couple walking in train tracks" %}

{% include 4.html type="sp"
  img1="36" alt1="train tracks"
  img2="37" alt2="kids being forced to sing and dance"
  img3="38" alt3="heading back to our van"
  img4="39" alt4="our tour guides"
%}

{% include 1.html type="ctr" img="31" alt="lovely dresses" %}

{% include 1.html type="ctr" img="30" alt="flowy skirt" %}
