---
layout:     post
title:      "Ubud: Early Morning Walk"
date:       2014-03-04
categories: travel
permalink:  /:categories/:title
excerpt:    At eight in the morning, it was bustling with people selling flowers, spices, fish, and sarongs
img-link:   /assets/2014/ubud/
img:
  small:    2014/ubud/ubud-small.jpg
  large:    2014/ubud/ubud-cover.jpg
---
{% include 1.html text="
  I woke up dazed, confused, and wondering where I was. The bed I slept in didn't feel familiar. Sunlight seeped through a tiny gap in the window, while birds and roosters spoke in varied tones outside my room. 7:30 am the clock displayed. I fumbled out of my room and into the porch where the caretakers greeted me with a smile.

  'You like vanilla pancake?' the woman asked me. My instinct told me to say yes, so I nodded before my brain could process the brief conversation. Did she mean pancakes with vanilla ice cream? I don't mind that.
  ![Window of my room](/assets/2014/ubud/2.jpg)
" %}

{% include 2.html type="sp-sm"
  img1="3" alt1="My bed"
  img2="4" alt2="Doorway to my room"
%}

{% include 2.html type="sp"
  img1="5" alt1="Blurry puppy"
  text1="As I was about to take a seat, a small bark emerged from nowhere. I looked down and saw a hyperactive pup running around my feet. It was so eager for attention that I couldn't take a sharp photo of it."
%}

{% include 1.html text="
  ![Bicycle outside my room](/assets/2014/ubud/6.jpg)

  Breakfast was a surprise. *Vanilla pancake* turned out to be a green crepe-like wrap of goodness. It tasted great&mdash;like glutinous rice and not-too-sweet but flavourful. Wrapped inside was a sliced banana that gave the vanilla pancake extra flavor.

  ![Green pancakes](/assets/2014/ubud/7.jpg)
  ![Banana inside pancake](/assets/2014/ubud/8.jpg)

  After my meal, I went for a walk. There was a small temple right outside my room. I remember Boy, the taxi driver telling me that they prayed 3 times a day at home. And unlike other religion, had no need to visit the public temples unless there was a big festival.

  ![Hindu statue](/assets/2014/ubud/9.jpg)
  ![Hindu temple](/assets/2014/ubud/10.jpg)
" %}

{% include 1.html type="ctr" img="11" alt="Entrance of temple" %}

{% include 1.html text="
  ![Scary masks](/assets/2014/ubud/12.jpg)

  Around the neighborhood, I found shops that sold strange-looking knick-knacks. The art scene was also bustling with local artists displaying their paintings and sculptures.

  These square-shaped offerings placed on the floor seemed to be a constant sight. Boy had one in his taxi. He says it's for good luck and prayers.

  ![Offerings on the floor](/assets/2014/ubud/13.jpg)
  ![Temple leaves](/assets/2014/ubud/14.jpg)

  Taking a right turn, I found myself walking towards Ubud market. At eight in the morning, it was packed with people selling flowers, spices, fish, and sarongs. I followed a bunch of tourists who had a local guide sharing stories about the market. I can't remember much of what was said, but it proved to be a great way to avoid being noticed as I took photographs of vendors.

  ![Colorful flowers](/assets/2014/ubud/15.jpg)
  ![Handmade bags](/assets/2014/ubud/16.jpg)
" %}

{% include 2.html type="sp-sm"
  img1="21" alt1="Handbags"
  img2="18" alt2="Accessories"
%}

{% include 1.html type="ctr" img="17" alt="Market vendors" %}

{% include 2.html type="sp-sm"
  img1="20" alt1="Fish vendor"
  img2="22" alt2="Dragging baskets"
%}

{% include 2.html type="sp"
  img1="19" alt1="Empty market"
  img2="25" alt2="People huddling in staircase"
%}

{% include 1.html type="fl-left" img="29" alt="Pots for sale" %}

{% include 1.html type="ctr" img="27" alt="Cobwebs" %}

{% include 2.html type="sp-sm"
  img1="42" alt1="Local women"
  img2="26" alt2="Nice lighting"
%}

{% include 1.html text="
  ![Insects drawn towards the light](/assets/2014/ubud/35.jpg)
  ![Grafitti](/assets/2014/ubud/28.jpg)
  ![Sarong vendor](/assets/2014/ubud/32.jpg)

  Women are required to wear proper attire before entering a temple. One of the requirements is a sarong. Boy mentioned that good quality sarongs cost about 240,000 IDR ($20.60), but some sellers charge that amount even with lesser quality materials. Since I couldn't tell the difference, I bought the cheapest I could find.

  This woman demonstrated different ways I could wear the sarong complete with compliments to seal the deal. Then it was on. '50,000 IDR,' she said. I haggled but only brought it down to 40,000 IDR ($3.50). Not a lot, but who cares. It sounded like a good deal, anyway.

  ![Woman in her shop](/assets/2014/ubud/34.jpg)
  ![Tourists exploring the market](/assets/2014/ubud/36.jpg)
  ![Cool sculptures](/assets/2014/ubud/41.jpg)
  ![Art installation](/assets/2014/ubud/43.jpg)
  ![Motorcycles lined up](/assets/2014/ubud/48.jpg)
  ![Walking down the streets of Ubud](/assets/2014/ubud/47.jpg)
  ![Temple near my room](/assets/2014/ubud/55.jpg)
" %}
