---
layout:     post
title:      "Walking Around Bangkok"
date:       2014-08-5
categories: travel
permalink:  /:categories/:title
excerpt:    Bangkok, at first glance, looks chaotic. But once you get to know it, it's not that bad
img-link:   /assets/2014/around-bangkok/
img:
  small:    2014/around-bangkok/walking-around-bangkok-small.jpg
  large:    2014/around-bangkok/walking-around-bangkok-cover.jpg
---
{% include 1.html text="The city gave me a hard time. Getting lost seemed like a daily habit. Getting lost in Bangkok was not fun at all especially with the scorching heat." %}

{% include 1.html type="ctr" img="1" alt="plants in rooftop" %}

{% include 1.html text="But then, I saw these small details in the alleys, and I remembered why I chose to go for a walk rather than conveniently take a tuk-tuk. At first glance, Bangkok looks chaotic. But once you get to know it, you realize it's not that bad." %}

{% include 2.html type="sp"
  img1="2" alt1="building"
  img2="7" alt2="red balloon"
%}

{% include 3.html type="sp"
  img1="5" alt1="rugged aesthetic"
  img2="6" alt2="rugged aesthetic"
  img3="4" alt3="rugged aesthetic"
%}

{% include 0.html type="parallax" img="10" alt="photo of thailand's king" %}

{% include 1.html text="I approached the bottom of the train station and saw a peculiar scene. The world stopped moving and everyone was frozen. My first thought was that there was an accident. But then I heard their national anthem play in the background and realized what was happening. It reminded me of times when my family went to the supermarket and our national anthem played in the speakers. With an unspoken rule, everyone stopped what they were doing to pay their respects." %}

{% include 1.html type="ctr" img="11" alt="train station" %}

{% include 1.html text="
### Feung Nakorn Dorm
  The next day, I moved to a new place so I could be closer to the temples. It was my first time sleeping in a shared room, and I couldn’t have picked a better place. It was perfect. Contrary to my expectations, the room was cozy, and the bathroom was well-maintained. There was a locker for my things, so I didn’t have to worry about losing them while I was asleep.
" %}

{% include 1.html type="ctr" img="12" alt="Feung Nakorn Dorm" %}

<div class="parallax bottom-left">
  <img src="{{ page.img-link }}13.jpg" alt="map of bangkok" />
  <div class="grid width-quarter">
    <p>I drew circles on my map of places I wanted to go.</p>
  </div>
</div>

{% include 1.html type="ctr" img="16" alt="bodega vibes" %}

{% include 2.html type="r-thin"
  img1="14" alt1="temple"
  img2="15" alt2="temple"
%}

<div class="parallax">
  <img src="{{ page.img-link }}18.jpg" alt="textured wall" />
  <div class="grid width-thirds">
    <p class="highlight">Zar and I made plans to meet for lunch. It took us an hour of walking under the unforgiving sun before giving up and settling with this cafe.</p>
  </div>
</div>

{% include 2.html type="sp-sm"
  img1="19" alt1="shakes"
  img2="20" alt2="pizza"
%}

{% include 2.html type="ctr-sm"
  img1="21" alt1="lunch with zar"
  text1="The restaurant was alright despite not being our first choice. It had a quirky aesthetic plus it overlooked the *Wat Arun temple*."
%}

{% include 1.html type="ctr" img="17" alt="Wat Arun temple" %}

{% include 1.html type="fl-left"
  img="22" alt="port where you take a boat to get to the temples"
  text="I took a boat that crossed the river every few minutes. The ride took about 2 minutes and cost 3 baht each way."
%}

{% include 1.html type="ctr" img="23" alt="streets of Bangkok" %}

<div class="grid grid-spaced items-3 module">
  <img src="{{ page.img-link }}26.jpg" alt="Wat Arun (Temple of Dawn)" />
  <div class="text-center">
    <h4 class="uppercase">Wat Arun <small>(Temple of Dawn)</small></h4>
    <img src="{{ page.img-link }}29.jpg" alt="Wat Arun design" />
  </div>
  <img src="{{ page.img-link }}27.jpg" alt="doors" />
</div>

{% include 1.html type="ctr" img="30" alt="climbing the steep stairs" %}

{% include 1.html type="fl-left" img="31" alt="the climb down is scarier" %}

{% include 1.html type="ctr" img="28" alt="ceiling prints" %}

{% include 1.html type="ctr" img="34" alt="woman sleeping inside temple" %}

{% include 1.html type="fl-right" img="35" alt="graves" %}

<div class="grid grid-spaced items-3 module">
  <img src="{{ page.img-link }}37.jpg" alt="cat sculpture" />
  <div class="text-center">
    <h4 class="uppercase">Wat Pho <small>(Temple of the Reclining Buddha)</small></h4>
    <img src="{{ page.img-link }}32.jpg" alt="Touching Buddhas's belly for good luck" />
  </div>
  <img src="{{ page.img-link }}41.jpg" alt="paintings on the wall" />
</div>

{% include 1.html type="ctr" img="36" alt="entrance to Wat Pho" %}

{% include 2.html type="ctr"
  img1="39" alt1="reclining buddha head"
  img2="40" alt2="paintings on the wall"
%}

{% include 1.html type="ctr" img="38" alt="narrow hallway" %}

{% include 3.html type="ctr"
  img1="42" alt1="temple architecture"
  img2="44" alt2="temple architecture"
  img3="33" alt3="temple architecture"
%}

{% include 1.html type="ctr" img="46" alt="monk and pigeons" %}

<div class="parallax">
  <img src="{{ page.img-link }}47.jpg" alt="Tuktuk ride to khao san" />
  <div class="grid grid-right width-quarter text-start">
    <h3>Going Back to Khao San</h3>
    <p>I found my way back to Khao San after an entire day of walking. With loads of options, it was hard to make a decision. I ended up in a small cafe and ordered milk tea and pasta.</p>
  </div>
</div>

{% include 2.html type="sp-sm"
  img1="50" alt1="thai ice tea"
  img2="51" alt2="pasta meal"
%}

<div class="grid grid-center width-wider text-center">
  <p>Satisfied and full, always a great way to end the day.</p>
  <img src="{{ page.img-link }}49.jpg" alt="crowded khao san" />
</div>
