---
layout:     post
title:      "Bali Salt Farmers"
date:       2014-03-14
categories: travel
permalink:  /:categories/:title
excerpt:    I watched in awe as they carried the heavy contraption filled with sea water back to land.
img-link:   /assets/2014/salt-farmers/
img:
  small:    2014/salt-farmers/salt-farmers-small.jpg
  large:    2014/salt-farmers/salt-farmers-cover.jpg
---
{% include 1.html text="
  Putu, from Balifriend, arrived at 5 am as agreed in our email conversations. As a photographer living in Bali, Putu conducts tours for people who wish to see the real Bali.

  My head was spinning from the lack of sleep. I always thought of myself as a morning person, but I was too exhausted from the previous days that somehow it was difficult to keep my eyes open.

  Our first destination was a humble salt farming village where locals still follow the traditional way of making organic salt. The sun was barely out, and only a handful of people were around, waiting for the 8 am ferry to arrive.

  Groggy and half-awake, it felt like a dream where if you took a hard leap, your body would leave the ground, and instantly fly over the horizon. Around me, I saw the sun lazily peeking from the sea, the misty mountains just waking up, the vast and empty beach spread as far as the eye could see.

  ![Bali Salt Farmers](/assets/2014/salt-farmers/1.jpg)

  Putu is busy with his camera. Every now and then, we'd compare photos and share constructive criticisms. Sharing a passion for photography, I felt completely at ease with him. Neither pretentious nor snobbish, Putu never hesitated to share his ideas and knowledge of the art.

  ![Bali Salt Farmers](/assets/2014/salt-farmers/2.jpg)

  The sky was all sorts of warm colors ranging from yellow to red to orange to pink and transition to blue. Waking up early was worth it.

  Fishermen setting up their rods, preparing to fish for mackerels. A quick google search showed that it's called Tanguige in Filipino. I'm hungry just thinking about it.
" %}

{% include 3.html type="st-sm"
  img1="4" alt1="Bali Salt Farmers"
  img2="5" alt2="Bali Salt Farmers"
  img3="3" alt3="Bali Salt Farmers"
%}

{% include 3.html type="st-sm"
  img1="6" alt1="Bali Salt Farmers"
  img2="7" alt2="Bali Salt Farmers"
  img3="8" alt3="Bali Salt Farmers"
%}

<div class="grid stacked-3-items-sm module">
  <div>
    <p><small>Small houses spread around the beach complete with chickens running free.</small></p>
    <img src="{{ page.img-link }}9.jpg" alt="Bali Salt Farmers" />
  </div>
  <img src="{{ page.img-link }}10.jpg" alt="Bali Salt Farmers" />
  <div>
    <p><small>These huts contained the salt products. In the distance, there is a view of an active volcano. I think this is Mount Agung.</small></p>
    <img src="{{ page.img-link }}11.jpg" alt="Bali Salt Farmers" />
  </div>
</div>

{% include 1.html text="
  We walked down a few meters to find the salt farmers walking back and forth from the sea to the little huts. A woman waits for the water to come closer. I watched in awe as they carried the heavy contraption filled with sea water back to land. The job is difficult, but the salt is sold to the market, or to the spas around the island.

  The farmers cross paths without stopping to say hi.
" %}

{% include 3.html type="st-sm"
  img1="12" alt1="Bali Salt Farmers"
  img2="14" alt2="Bali Salt Farmers"
  img3="13" alt3="Bali Salt Farmers"
%}

{% include 2.html type="r-thin"
  img1="15" alt1="Bali Salt Farmers"
  img2="16" alt2="Bali Salt Farmers"
%}

{% include 3.html type="st-sm"
  img1="17" alt1="Bali Salt Farmers"
  img2="18" alt2="Bali Salt Farmers"
  img3="19" alt3="Bali Salt Farmers"
%}

{% include 3.html type="st-sm"
  img1="20" alt1="Bali Salt Farmers"
  img2="21" alt2="Bali Salt Farmers"
  img3="22" alt3="Bali Salt Farmers"
%}

<div class="grid grid-spaced items-2-thin module">
  <div>
    <p><small>The farmers cross paths without stopping to say hi.</small></p>
    <img src="{{ page.img-link }}24.jpg" alt="Bali Salt Farmers" />
  </div>
  <img src="{{ page.img-link }}23.jpg" alt="Bali Salt Farmers" />
</div>

{% include 3.html type="st-sm"
  img1="25" alt1="Bali Salt Farmers"
  img2="26" alt2="Bali Salt Farmers"
  img3="27" alt3="Bali Salt Farmers"
%}

{% include 3.html type="st-sm"
  img1="28" alt1="Bali Salt Farmers"
  img2="29" alt2="Bali Salt Farmers"
  img3="30" alt3="Bali Salt Farmers"
%}

{% include 1.html text="
  Inside the hut. Putu explained to me the process of salt farming. They start by gathering water from the sea. Then the salt water is poured into a section of sand where they are left to dry. After the sun has done its job, they dig up the sand and place them in water.

  After several filtration processes, the result is placed in several coconut tree trunks cut in half. It will then go through another evaporation process that would take several few days.
" %}

{% include 3.html type="st-sm"
  img1="31" alt1="Bali Salt Farmers"
  img2="32" alt2="Bali Salt Farmers"
  img3="33" alt3="Bali Salt Farmers"
%}

{% include 1.html text="We said thank you and goodbye to the farmers. We walked back to a small harbor to observe the locals waiting for the ferry that will take them to another island." %}

{% include 3.html type="st-sm"
  img1="34" alt1="Bali Salt Farmers"
  img2="35" alt2="Bali Salt Farmers"
  img3="36" alt3="Bali Salt Farmers"
%}

{% include 3.html type="st-sm"
  img1="37" alt1="Bali Salt Farmers"
  img2="38" alt2="Bali Salt Farmers"
  img3="39" alt3="Bali Salt Farmers"
%}

{% include 3.html type="st-sm"
  img1="40" alt1="Bali Salt Farmers"
  img2="41" alt2="Bali Salt Farmers"
  img3="42" alt3="Bali Salt Farmers"
%}
