---
layout:     post
title:      "Walking Around Kuta"
date:       2014-05-09
categories: travel
permalink:  /:categories/:title
excerpt:    Need a scooter? Taxi? Surf? How about a tour?
img-link:   /assets/2014/kuta/
img:
  small:    2014/kuta/kuta-small.jpg
  large:    2014/kuta/kuta-cover.jpg
---
{% include 1.html text="
  After indulging in Balinese art and culture in Ubud, it was time to pack and leave for Kuta. Unlike the mountains and cozy shops in Ubud, Kuta had beaches and bars, and according to an Australian woman I met&mdash;was full of Aussies.

  I booked a cheap hotel three minutes from the beach but found out later that I booked the wrong location. Instead of Kuta, I was in Legian. The beaches are all connected, but I had to walk 30 minutes to get to Kuta.

  My room was the size of a walk-in closet, though comfortable for someone my size. But the bathroom was so compact that when I sat on the toilet, my knees touched the wall.

  My first impression, as I stepped out of the hotel, was that people were more persistent in Kuta. My every move triggered questions: Need a scooter? No. Taxi? No. Surfing? No. How about a tour? No.

  For the next six days, I developed a habit of shaking my head sideways as I walked down the street.
" %}

{% include 1.html type="ctr" img="1" alt="kuta beach" %}

{% include 1.html type="ctr"
  img="2" alt1="kuta beach"
  text="The beach wasn't what I expected&mdash;the white sand I imagined was actually brown. But I was drawn to the reflections on the sand when the water retreated back to the sea. It looked like an alternate, upside down universe existed with ours."
%}

{% include 2.html type="ctr-sm"
  img1="4" alt1="dog at kuta beach"
  img2="3" alt2="upside down folks at kuta beach"
%}

{% include 1.html type="ctr" img="24" alt="kuta beach sand" %}

{% include 2.html type="sp-sm"
  img1="5" alt1="naked man walking in beach"
  img2="6" alt2="child playing in beach"
%}

{% include 1.html text="
  ![cloud reflections](/assets/2014/kuta/23.jpg)
  ![waves crashing](/assets/2014/kuta/7.jpg)
" %}

{% include 2.html type="ctr-sm"
  img1="8" alt1="people playing with waves"
  img2="9" alt2="woman standing in beach"
%}

{% include 1.html type="ctr" img="10" alt="water lines" %}

{% include 1.html text="
### Dinner with a view
  Taking photos of people interacting with the water made me hungry, so I went to look for food. I eventually ended up getting pizza on the beach.

  ![pizza for dinner](/assets/2014/kuta/11.jpg)
  ![pizza for dinner](/assets/2014/kuta/12.jpg)

### The long walk
  I woke up at 5 AM the next day to see the sunrise, but the air-conditioner kept me from getting out of the bed. In Ubud, I didn't have air-conditioning in my room, so this was a treat for me.

  The sun was already out and clouds had gathered when I finally decided to get up. I guess I didn't miss anything. My stomach was grumbling for food and since it was still early, all the restaurants were closed except for the pricey hotel restaurants nearby.

  Thinking there'd be cheaper food on the beach, I went out for an early morning walk. There were people jogging by the beach and the place felt alive at 6:30 in the morning.
" %}

{% include 2.html type="sp-sm"
  img1="13" alt1="squirrel"
  img2="14" alt2="dog at beach"
%}

{% include 1.html type="ctr"
  img="15" alt1="dog at beach"
  text="<small>*I saw this dog lying inside a circle and went close to investigate. Turns out, the circle was drawn by paws.*</small>"
%}

{% include 1.html text="
### People watching
  It's funny how some people at the beach looked like their dogs. An athletic guy zoomed past with a hyperactive husky. Another guy had a beagle who was constantly distracted and it seemed that he was too. Here's another proof of owner-dog similarity.
" %}

{% include 2.html type="sp"
  img1="16" alt1="humans that like like their dog"
  img2="18" alt2="shells"
%}

{% include 1.html text="
  There were also people picking up shells on the beach. It looked like they were scavenging for treasure. But it was sad to see so many trash lying around.

  ![picking up shells](/assets/2014/kuta/17.jpg)

### Looking for the next paradise to destroy
  That statement made me think about the effects of tourism in beautiful places. If people were more aware of their actions, we wouldn't end up with something like this.

  ![garbage dump](/assets/2014/kuta/19.jpg)
  ![offering](/assets/2014/kuta/20.jpg)
" %}

<div class="grid grid-spaced items-2-thin-left module">
  <img src="{{ page.img-link }}21.jpg" alt="family in beach wear" />
  <div>
    <img src="{{ page.img-link }}22.jpg" alt="ossotel" />
    <p>Thirty minutes later, the sweatier version of me reached a mall. I bought a delicious, cold milk tea to quench my thirst while waiting for Lani. She sent me a message a few days back that she was heading to Bali for the weekend to surf. I was thrilled to see her after a long time.</p>
  </div>
</div>

{% include 1.html text="
  ![beachwalk](/assets/2014/kuta/25.jpg)
  ![sunset beach](/assets/2014/kuta/26.jpg)

  Outside, the sun had set and people gathered in swarms to witness it.
" %}

{% include 3.html type="sp"
  img1="27" alt1="silhouette of people at the beach"
  img2="28" alt2="silhouette of people at the beach"
  img3="29" alt3="silhouette of people at the beach"
%}

{% include 1.html type="ctr" img="30" alt="heavy traffic" %}

{% include 1.html type="ctr" img="31" alt="child playing violin" %}

{% include 1.html text="Lani and her friends Cristine and Feiling took me around town. We ate at an affordable all-you-can-eat bar, which I later found out, was a popular place to go for locals and tourists. To get to the bar, you had to climb up several floors in a building, navigate around narrow hallways, before reaching a rooftop bar. The food was good, especially for the price." %}

{% include 2.html type="sp-sm"
  img1="33" alt1="Cristine and Feiling"
  img2="34" alt2="Lani and me"
%}

{% include 1.html text="
  The streets were full of people. We saw signboards that advertised mushrooms for sale. Cristine said they were the kind of mushroom that grew in cow manure and makes people hallucinate.

  ![human mannequins](/assets/2014/kuta/35.jpg)

  I've read stories about the 2002 bombings in Bali. The memorial structure stood amidst the upbeat bars as the traffic jams and tourists passed it.

  ![bomb memorial](/assets/2014/kuta/36.jpg)
  ![people walking around](/assets/2014/kuta/37.jpg)
  ![gate](/assets/2014/kuta/32.jpg)
" %}
