---
layout:     post
title:      "Yogyakarta"
date:       2014-06-20
categories: travel
permalink:  /:categories/:title
excerpt:    Yogya means fit while Karta means to prosper. Which, when put together means&#58; A city that is fit to prosper
img-link:   /assets/2014/yogyakarta/
img:
  small:    2014/yogyakarta/yogyakarta-small.jpg
  large:    2014/yogyakarta/yogyakarta-cover.jpg
---
{% include 1.html text="
  In the background of a busy street in Malioboro, I heard the rhythmic chanting from the surrounding mosques. The smell of fried food from the stalls wafted through my nose making my stomach churn. My eyes feasted upon the silent stories of people as they went about their day’s work.

  Yogyakarta seemed like an intriguing name, so I googled its meaning on my phone. I found out that Yogya means fit while Karta means to prosper. Which, when put together means: A city that is fit to prosper.

  Being the center of fine art and culture in Java, the sidewalks teemed with puppet shows, batik sellers, and street vendors selling food, bracelets, bags, souvenirs, and t-shirts.

  If there’s one word that I would use to describe Yogyakarta, it'd be *Texture*.
" %}

{% include 1.html type="ctr" img="1" alt="textured walls" %}

{% include 1.html type="right" img="9" alt="blue textured walls" %}

{% include 4.html type="ctr"
  img1="4" alt1="yogyakarta alley"
  img2="19" alt2="street vendors"
  img3="25" alt3="grandma selling sweets"
  img4="2" alt4="mannequins in the streets"
%}

{% include 1.html type="ctr"
  img="18" alt="street chess players"
  text="
  Chess is a favorite past time among uncles and a handful of casual chess matches took place in the sidewalks. Sometimes, a group of men gathered around and observed in silence. I was tempted to stand and join the crowd, but my feet dictated my decisions, and it wanted to continue walking.

  Despite insistent offers from *becak* (tricycle), *andong* (horse-drawn carriage), and *ojek* (motorcycle taxi) drivers, I planted my feet firmly on the ground and kept walking.
  "
%}

{% include 2.html type="sp-sm"
  img1="7" alt1="POS Ojek"
  img2="6" alt2="yogyakarta alley"
%}

{% include 2.html type="bleed"
  img1="15" alt1="busy streets"
  img2="14" alt2="hotel pantes"
%}

{% include 1.html type="ctr" img="16" alt="reading newspapers in the morning" %}

<div class="grid items-2-bleed module">
  <img src="{{ page.img-link }}11.jpg" alt="textured alleys" />
  <div>
    <img src="{{ page.img-link }}12.jpg" alt="comic in the wall" />
    <p>I ventured into small alleys and found walls of colorful graffiti. It’s too bad I don’t understand what they mean.</p>
  </div>
</div>

{% include 1.html type="ctr" img="8" alt="barefoot kids and their shadows" %}

{% include 2.html type="sp-sm"
  img1="3" alt1="textured cooking things"
  img2="10" alt2="lemon in bucket of water"
%}

{% include 2.html type="l-thin"
  img1="17" alt1="woman walking in alley"
  img2="21" alt2="bags for sale"
%}

{% include 2.html type="ctr-sm"
  img1="22" alt1="street carts"
  img2="20" alt2="street carts glowing at night"
%}

{% include 1.html type="ctr" img="5" alt="street cart" %}

{% include 2.html type="r-thin"
  img1="24" alt1="street food stalls"
  img2="23" alt2="street artist"
%}
