---
layout:     post
title:      "Borobudur Sunrise"
date:       2014-06-13
categories: travel
permalink:  /:categories/:title
excerpt:    Everything I felt was of no importance compared to the grandness of this place
img:
  small:    2014/borobudur/borobudur-small.jpg
  large:    2014/borobudur/borobudur-cover.jpg
---
{% include 1.html text="
### Hope and the Hopeless
  **Darkness**. The first thing I saw was darkness. My phone woke me with the sound of *Where Have You Gone by Carousel*. I thought about snoozing it but willed myself to get up. If I wanted to see the sunrise, I had to be there early.

  Budi arrived at the front gate just as we discussed the day before. He’s one of the caretakers of the guest house where I’m staying and he agreed to take me to the temple that morning. When I introduced myself to him, his face lit up. *Melody Ghina!* he exclaimed. I laughed and told him [Adi had the same reaction](http://annemelody.com/travel/the-people-you-meet-along-the-way){:target='_blank'}.
" %}

{% include 1.html type="ctr" img="2" alt="darkness before sunrise" %}

{% include 1.html text="
  It was dark when we arrived at the Manohara Hotel. The sky showed signs of rain. We were each handed a torch and a sarong before we entered the gates of Borobudur.

  While I was asked to pay a fee to enter, Budi said he didn't need to pay to get inside because he used to work there for many years and know most of the staff.

  Budi found us a great spot to see the sunrise. Things were going well until I felt a cold drop of water at the back of my hand. Then there were a couple more drops. It started drizzling, and I knew my chance of seeing sunrise was gone.

  Disappointed, I took a walk around the top level of the temple hoping to calm myself. I had an internal monologue about how I shouldn’t keep expecting things to happen the way I want it&mdash;that I have no control, that I should enjoy where I was&mdash;in a beautiful temple full of history, that everything I felt was of no importance compared to the grandness of this place.
" %}

{% include 1.html type="ctr" img="1" alt="someone's flashlight" %}

<div class="parallax v-center">
  <img src="/assets/2014/borobudur/3.jpg" alt="" />
  <div class="grid grid-center width-thirds text-center">
    <p>As the monologue continued, I happened to look up and saw this. Even without the picture-perfect sunrise, I was still blown away.</p>
  </div>
</div>

{% include 0.html type="parallax" img="4" alt="pink sunrise at Borobudur" %}

{% include 1.html type="ctr"
  img="5" alt="Damaged stupas"
  text="Some of the stupas were damaged due to an earthquake that happened a few years back. Inside each stupa is a statue facing outward."
%}

{% include 2.html type="sp-sm"
  img1="6" alt1="buddhist statue"
  img2="7" alt2="buddhist statue"
%}

{% include 1.html type="ctr" img="8" alt="Stupas" %}

{% include 1.html type="ctr" img="9" alt="View from one of the temple" %}

{% include 1.html type="ctr" img="10" alt="Misty mountains" %}

{% include 1.html type="ctr" img="11" alt="Sculptures around the temple" %}

{% include 3.html type="sp"
  img1="12" alt1="scary sculptures"
  img2="13" alt2="walking down the narrow path"
  img3="14" alt3="scary sculptures"
%}

{% include 1.html type="ctr" img="15" alt="misty mountain behind temple" %}

{% include 1.html type="ctr" img="16" alt="back of statue" %}

{% include 1.html type="ctr" img="17" alt="more temple photos" %}

{% include 1.html type="ctr" img="18" alt="guy chilling in the temple" %}

{% include 1.html type="ctr" img="19" alt="temple from a distance" %}

{% include 1.html type="ctr" img="20" alt="temple architecture" %}

<div class="grid items-3-bleed module">
  <img src="/assets/2014/borobudur/21.jpg" alt="chained elephant" />
  <div>
    <p>Borobudur Park is huge. There's a lot to explore aside from the temple. My feet took me to an elephant camp. A closer look revealed my suspicion&mdash;that they were chained to the ground.</p>
    <p>One of the elephants tried to pull its chains using its snout. When it saw me, it stopped what it was doing, waved its slender trunk in my direction, and moved closer to look at me. I stared at its eyes for a while trying to understand its thoughts.</p>
  </div>
  <img src="/assets/2014/borobudur/22.jpg" alt="elephant with chain" />
</div>

{% include 1.html type="ctr" img="23" alt="elephant looking at me" %}

{% include 4.html type="ctr"
  img1="24" alt1="elephant trunk"
  img2="25" alt2="elephant eating carrots"
  img3="26" alt3="elephant playing with a hole"
  img4="27" alt4="elephant being dragged by the ear"
%}

{% include 1.html type="fl-right" img="28" alt="elephant looking at me" %}

{% include 1.html type="ctr" img="29" alt="feeding the elephant" %}

{% include 1.html type="right" img="30" alt="elephants playing around" %}

{% include 1.html type="fl-left" img="31" alt="elephant up close" %}
