---
layout:     post
title:      "Apocalypse A.K.A. Sinulog"
date:       2014-01-22
categories: event
permalink:  /:categories/:title
excerpt:    Getting drunk and crazy? Nope, we did neither of those.
img-link:   /assets/2014/sinulog/
img:
  small:    2014/sinulog/sinulog-small.jpg
  large:    2014/sinulog/sinulog-cover.jpg
---
{% include 1.html text="
  Once a year, Cebuanos gather in the streets to enjoy a celebrated event called Sinulog. Students parade the street in costumes as they dance to the familiar beat that has played every year since I could remember.

  *Prii-ti-tit! Priii-ti-tiiit!*

  ![kids with masks](/assets/2014/sinulog/1.jpg)

  Locals recognize the festival as a celebration for Santo Niño (Baby Jesus). But in recent years, it has evolved into a big party that tourists and young people alike take as an opportunity to have fun, go crazy, and get drunk. I take it as an opportunity to walk around the city without any fear of getting mugged. Of course, you do have to deal with gropers if you end up in the parts of the city where the parties are happening. So you're not completely safe.
" %}

{% include 2.html type="sp-sm"
  img1="2" alt1="Discarded couch"
  img2="3" alt2="Electrical chaos"
%}

{% include 1.html type="ctr" img="5" alt="People selling things on the streets" %}

{% include 2.html type="sp"
  img1="4" alt1="Hanging plants"
  img2="6" alt2="People and trash don't go well together"
%}

{% include 1.html type="ctr" img="9" alt="Man playing music in the streets" %}

{% include 2.html type="r-thin"
  img1="7" alt1="Trapo"
  img2="8" alt2="Trash collector"
%}

{% include 1.html text="
  ![You are being watched](/assets/2014/sinulog/10.jpg)
  ![Don't pee in public](/assets/2014/sinulog/11.jpg)
" %}

{% include 2.html type="sp-sm"
  img1="12" alt1="Children sitting on railings"
  img2="13" alt2="A spiritual shift"
%}

{% include 1.html type="ctr" img="16" alt="Children playing in the streets" %}

{% include 2.html type="r-thin"
  img1="14" alt1="Headless boy"
  img2="15" alt2="Hat vendor"
%}

{% include 2.html type="r-thin"
  img1="17" alt1="Joan and family selling food"
  img2="18" alt2="And then it turned dark"
%}

{% include 1.html text="
  When it became dark, we began our hike to Ayala. Short distance, but the crowd was definitely a challenge.

  ![Victory](/assets/2014/sinulog/19.jpg)
  ![Meeting up with our friend Annie](/assets/2014/sinulog/20.jpg)

  Meeting up with Annie to watch fireworks.

  ![The group](/assets/2014/sinulog/21.jpg)
  ![Fireworks](/assets/2014/sinulog/22.jpg)

  We ended our night with a spectacular fireworks display. It's been a while since I've experienced something like it. It was breathtaking!

  ![Fireworks](/assets/2014/sinulog/23.jpg)
" %}
