---
layout:     post
title:      "Strolling Around the Neighborhood 2"
date:       2014-02-28
categories: travel
permalink:  /:categories/:title
excerpt:    As if being pulled by an invisible string, I followed my intuition.
img-link:   /assets/2014/neighborhood-stroll-2/
img:
  small:    2014/neighborhood-stroll-2/neighborhood-stroll-2-small.jpg
  large:    2014/neighborhood-stroll-2/neighborhood-stroll-2-cover.jpg
---
{% include 1.html text="
  I felt like walking today, so I went out and took my camera with me. I didn't know where to start, so as if being pulled by an invisible string, I followed my intuition.

  Without an idea of where I'd end up, I decided not to worry about it. I mean, who cares if I get lost in Singapore? It's such a safe place I could go through dark alleys and not give a damn.

  ![Green door](/assets/2014/neighborhood-stroll-2/3.jpg)
" %}

{% include 2.html type="bleed"
  img1="1" alt1="Joo chiat road"
  img2="2" alt2="Joo chiat road"
%}

{% include 2.html type="sp"
  img1="4" alt1="Colorful houses of Singapore"
  img2="5" alt2="Altar offerings"
%}

{% include 1.html type="ctr" img="6" alt="Bicycles for rent" %}

{% include 1.html type="ctr" img="7" alt="Clothes hangers" %}

{% include 3.html type="st"
  img1="8" alt1="People at the beach"
  img2="10" alt2="Man jogging at the beach"
  img3="9" alt3="Waving to the boats"
%}

{% include 4.html type="sp"
  img1="11" alt1="Bench"
  img2="13" alt2="Man jogging and woman walking her dog"
  img3="12" alt3="Encounters"
  img4="14" alt4="Encounters"
%}

{% include 2.html type="sp-sm"
  img1="15" alt1="Half-naked man doing stretches"
  img2="16" alt2="Bright tunnel"
%}

{% include 1.html type="ctr" img="17" alt="Ama all alone" %}

{% include 2.html type="l-thin"
  img1="18" alt1="Hawker restaurants"
  img2="19" alt2="Hawker restaurants"
%}
