---
layout:     post-text
title:      "Tales of Monkey Forest"
date:       2014-03-06
categories: travel
permalink:  /:categories/:title
excerpt:    I was hoping there'd be more people so the chances of me being attacked my macaques was lower
img-link:   /assets/2014/monkey-forest/
img:
  small:    2014/monkey-forest/monkey-forest-small.jpg
  large:    2014/monkey-forest/monkey-forest-cover.jpg
---

Before I arrived in Ubud, I read about the infamous sanctuary that had wild macaques roaming it. "Infamous" because of the terrible stories of people getting bitten, scratched, or attacked by the monkeys that reside in the forest. One article states that 40% of tourists get bitten. That's almost half!

Some even speculate that the monkeys possibly carried rabies due to the outbreak of the disease among dogs in Indonesia. I am not a fan of monkeys. I find their humanoid looks and behavior disturbing. I don't find them cute unless represented by cartoon figures with enlarged heads. So why bother going there? I don't know, but part of me wanted to know what was going on inside. I was driven by curiosity.

Battling with my paranoia, I stood at the forest gate and took a peek inside. It looked empty. I was hoping there'd be more people so the chances of me being attacked my macaques would lower. Finally, a group of tourists arrived and bought tickets, so I went along with them holding on to my dear camera. The cheeky mammals were known to take things from careless tourists which is why I only brought my camera, room key, a few bucks, and a cheap phone with me.

{% include 0.html type="block" img="1" alt="Mischeavous monkey" %}

I think this monkey sensed my fear. It was looking me in the eyeballs and seemed like it's telling me to watch my back. I'm taking its photo to identify the culprit if it decided to attack me.

{% include 0.html type="block" img="2" alt="Tourists + monkeys" %}

Further in, I saw more people. I was so relieved I finally relaxed. There are vendors selling bananas at the entrance so you can feed them, but I didn't buy any because I didn't want to attract their attention.

{% include 0.html type="block" img="3" alt="Feeding a monkey" %}

With daily tourists running in hundreds, these monkeys don't need to find food. I'm just curious though how that would affect their lives.

{% include 0.html type="block" img="4" alt="Staff in the forest" %}

The men in green are the staff that managed the forest. The monkeys don't seem to bother them anymore.

{% include 0.html type="block" img="5" alt="Burial ceremony" %}

There was a cremation taking place inside the sanctuary. People chanted and sang mournful sounds.

Putu, the caretaker at my inn said that when a normal person dies, they need to wait for one or two more people to die so they can have a group cremation. He said that funeral services were very expensive. Only priests, government officials, and other important people can hold cremation services without waiting for others.

{% include 0.html type="block" img="6" alt="Participating monkey" %}

Monkey joining in to watch the event.
Another thing Putu mentioned was that, after the cremation, they gathered the ashes and spread it out to sea. As he was telling me this, a thought popped into my head about whether the ashes were thrown in the beaches of Kuta.

{% include 0.html type="block" img="7" alt="Cremation ceremony" %}

{% include 0.html type="block" img="8" alt="Curious monkey" %}

{% include 0.html type="block" img="9" alt="Snobby monkey" %}

"So then he says to me..."

{% include 0.html type="block" img="10" alt="Mama with baby monkey" %}

{% include 0.html type="block" img="11" alt="Mama with baby monkey eating leaf" %}

Mother and baby monkey. Looks like the little one found a leaf to play with.

{% include 0.html type="block" img="12" alt="Baby monkey playing with leaf" %}

{% include 0.html type="block" img="13" alt="Monkey portrait" %}

{% include 0.html type="block" img="14" alt="Disappointed monkey" %}

So disappointed. He wanted a banana but all he got was a hug.

{% include 0.html type="block" img="15" alt="Sad monkey" %}

{% include 0.html type="block" img="16" alt="Temple in the forest" %}

A temple inside the forest. I forgot to bring my sarong so I couldn't enter it.

{% include 0.html type="block" img="17" alt="Strolling monkey" %}

{% include 0.html type="block" img="18" alt="Weird monkey" %}

{% include 0.html type="block" img="19" alt="Bridge" %}

There were huge kois in this water temple. I saw a couple of people throwing coins there. It must be a wishing pond. I wanted to try it too but I forgot to bring coins so I just stood at the side, lowered my head and sent my wishes to the water God.

{% include 0.html type="block" img="20" alt="Pond" %}

{% include 0.html type="block" img="21" alt="Forest feels" %}

As I went deeper into the forest, I realized that the crowds had disappeared. Normally, I would just turn back and follow the main path, but this time, I felt like exploring so I went on without stopping.

{% include 0.html type="block" img="22" alt="Vines, looking up" %}

To end this post here's a very weird series of shots from a monkey who seems to be in love with the stone structure.

{% include 0.html type="block" img="23" alt="Licker" %}
