---
layout:     post
title:      "Boracay"
date:       2015-04-03
categories: travel
permalink:  /:categories/:title
excerpt:    Sure the beach was crowded, and it wasn't exactly my idea of paradise. But if there's one thing I liked about Boracay, it's the sunsets.
img-link:   /assets/2015/boracay/
img:
  small:    2015/boracay/boracay-small.jpg
  large:    2015/boracay/boracay-cover.jpg
---
{% include 1.html text="Let me make one thing clear: the reason I've never been to Boracay in my 26 years of existence is that I thought it was overrated. Other than the white sand beaches, the island is famous for its parties which does not convince me one bit." %}

{% include 1.html type="ctr" img="1" alt="Plains and fields" %}

{% include 1.html text="
  But one hot day as I looked up at the clear blue sky, sweat dripping down my cheeks, I thought of the beach. Nothing specific&mdash;just the image of a calm blue sea, powdery white sand, and coconut trees.

  So when my dad mentioned Boracay, I immediately got sucked into the idea. I was desperate for a vacation! I hadn't been in ages, and I was, after all, in the Philippines&mdash;a country known for its gorgeous beaches!

  We arrived in Kalibo on a Friday afternoon and hired a van to take us straight to Caticlan for about 200 pesos each. The service included a boat ride to Boracay, once we got to Caticlan. It was an hour and a half ride with nothing much to see but rice fields and power lines.

  I closed my eyes for a few minutes and woke up to dark blue skies outside the moving vehicle. It was already 6 PM, and we were only a few kilometers from the port. My mind goes through a loop asking the same question: Are we there yet? And I'd look outside and see the same scene since five minutes ago. My legs were growing impatient, and I was half-afraid that there wouldn’t be any boats operating so late in the day.

  I was wrong. There were plenty of boats waiting for us. It didn't take long for us to reach the island once we boarded. A woman dressed in a green uniform helped us find a room without asking for a fee. As in most cases in this country, I hesitated. Nothing is ever for free.

  The only thing that let my guard down was that she spoke *bisaya*, so it was easy for us to communicate with her. She led us to the front desk of a small guesthouse near the famous *D' Mall*. We bargained for a good deal hoping she didn't mistake us for foreigners!

  At that time, guesthouses raised their prices because it was almost peak season. Holy Week was around the corner, so people flocked to Boracay for the holidays.

  After we left our stuff in our room, we set out to look for food. The small restaurants lined up by the beach, each offering a different cuisine: Filipino, American, Italian, Mexican, Thai, Indian. There was a handful of good choices but seeing the menu made my jaw drop to the depths of hell. Prices ranged between 300-400 pesos for a single dish!

  We walked for about 30 minutes before finding a *Mang Inasal* just a couple of minutes from our guesthouse. Meals were decently priced, and the servings were reasonable. At least we had that option.
" %}

{% include 1.html type="ctr" img="2" alt="Arrived at night" %}

{% include 0.html type="parallax" img="6" alt="True yoga classes" %}

{% include 1.html type="ctr" img="5" alt="Waiting for our yoga instructor" %}

{% include 1.html text="
  When I found out that there was a yoga studio around the corner from our guesthouse, I skipped in excitement. My brothers were not too amused about this news as I was, but they helped me locate the place the next day.

  Google maps made us walk 8 minutes before we realized it wasn't accurate, so I asked several people who worked at the restaurants for direction. They told us it was close to where we started. In fact, we'd already passed it minutes ago.

  The scorching heat of the day started to burn our skin, but we went back and retraced our steps. Finally, there it stood: An Indian restaurant on the first floor and the yoga studio above it. My brothers took off, uninterested.
" %}

{% include 1.html type="ctr" img="4" alt="True food menu" %}

{% include 1.html text="
  I removed my slippers and placed them on a shelf. The soles of my feet touched the rattan mat covering the entire floor, and like a moth drawn to the light, I hovered towards the large window framing the world outside.

  You can see the postcard-perfect beach, lined up with coconut trees swaying in the wind. It was so soothing that I couldn't keep my eyes off the scene in front of me.

  'Breathe in and breathe out with your nose' I tried to synch my breath with the sound of the ocean. A boat with blue sails slowly drifted in the horizon. My eyes followed.

  An hour and a half later, we're lying down on our mats for the final resting pose. I felt the ocean air on my face. It moved back and forth, lulling me further into a trance.

  I could live like this. Falling in a trance, watching the blue sea as it blends with the sky.
" %}

{% include 1.html type="ctr" img="7" alt="Lovely day at the beach" %}

{% include 3.html type="st-sm"
  img1="9" alt1="Quote of the day: Alcohol. Because no great story started someone eating a salad"
  img2="10" alt2="Nigi Nigi Nu Noos e Nu Nu Noos resort"
  img3="11" alt3="Coconut - 70 pesos cold"
%}

{% include 1.html type="ctr" img="8" alt="Umbrellas at the beach" %}

{% include 1.html text="When we were kids, we visited the beach a lot. Sometimes, almost every week during the summer break. So I grew up feeling like the beach was home. I've countless fond memories of playing on the beach with my siblings. We built sand castles, pretended they were real; swam from morning 'til night, rain or shine until our fingers turned into prunes." %}

{% include 2.html type="sp"
  img1="12" alt1="Huts"
  img2="17" alt2="Lounging by the beach"
%}

{% include 1.html type="ctr" img="13" alt="Brothers and sail boats" %}

{% include 2.html type="sp-sm"
  img1="18" alt1="BBq restaurant"
  img2="19" alt2="Shops"
%}

{% include 1.html type="ctr-sm" img="20" alt="fireblower" %}

{% include 1.html text="
### Darkness falls, lights on, and the island is alive!
  Loud party music blasted on the speakers as we marched along the stretch of sand in search of food. Every restaurant was blaring the latest hits trying to attract tourists.

  I looked at my brothers and saw sunburnt skin from head to toe. We were red and brown, like sausages! We'd been out in the sun for too long that we forgot to reapply sunscreen.

  'Hopping ma'am?'

  'Tattoo ma'am, sir?'

  'Massads?'

  By then, I'd said no a million times to the vendors asking the same questions. It felt like being trapped in a constant loop where people said the same thing over and over no matter how many times you say no.

  We stopped by one of the restaurants to observe a person fire-dancing. I remember thinking to myself: *Wow these people have super strong arms!* And, *I wonder how long it would take me to learn this skill?*

  7:00 AM We took a stroll heading north of the island. We followed a straight line, stopping from time to time to observe the surroundings.

  Committed to reaching the tip of the island, we encouraged each other to move forward, inch by inch. The number of people on the beach dwindled as we walked further until there was only a handful of us walking. The shabby restaurants transformed into fancy, private hotels.

### Victory!
  The tip was visible after an hour of walking. There, it was almost empty except for some locals swimming in the sea. We congratulated each other for reaching the tip then started our way back to the guest house.

  9:00 AM The mid-morning sun beat us before we could reach the guesthouse. It was scorching hot, so we took longer breaks than when we started.

  We spent the rest of the morning indoors recovering from the heat. Our room came with a television, so we flicked the channels for a good show. We ended up watching cartoons all morning while lying on our beds like we used to do when we were kids. Some people would think this was a waste of time because we were on vacation, but who cares. We are on vacation.
" %}

{% include 1.html type="ctr" img="22" alt="Family and their reflections in the water" %}

{% include 0.html type="parallax" img="26" alt="my tiny feet" %}

{% include 1.html type="ctr-sm" img="21" alt="brother staring at reflection in water" %}

{% include 3.html type="ctr"
  img1="25" alt1="sailboat peeking between coconut trees"
  img2="23" alt2="family with reflection in water"
  img3="24" alt3="blue sailboat and chill guy"
%}

{% include 1.html type="ctr" img="29" alt="jagged rock face at the edge of island" %}

{% include 2.html type="r-thin"
  img1="31" alt1="how to live safely in a science fictional universe by charles yu"
  img2="32" alt2="cup inside coffee shop"
%}

{% include 1.html type="ctr" img="28" alt="reading the book by the beach" %}

{% include 1.html text="
  That afternoon, I took my book with me to a coffee shop a few blocks down. It was a book by **Charles Yu** called *How to Live Safely in a Science Fictional Universe*. Jeremie had finished reading it and recommended it.

  My younger brother was sitting next to me reading an article on his phone while my dad was on his iPad. We sat on bar stools facing the beach. Nothing beats reading a book with a view in front of you.

  When it wasn't too hot anymore, I sat on the sand and continued reading my book there. I buried my legs under and raised the book in front of my nose. The next thing I knew, the sun was starting to set.
" %}

{% include 3.html type="ctr"
  img1="27" alt1="brother walking towards me"
  img2="30" alt2="hole in the rocks"
  img3="36" alt3="brother silhouette"
%}

{% include 1.html type="ctr" img="33" alt="brother deciding to go for a swim" %}

{% include 2.html type="sp-sm"
  img1="34" alt1="people at the beach"
  img2="35" alt2="people at the beach"
%}

{% include 2.html type="ctr-sm"
  text1="
<div>
<h3>Spectacular Sunsets</h3>
Sure the beach was crowded, and it wasn't exactly my idea of paradise. But if there was one thing I liked about Boracay, it was the sunsets.
</div>
  "
  img2="16" alt2="sunset and sails"
%}

{% include 1.html text="
  At 5 in the afternoon, flocks of people gathered by the beach to witness a breath-taking spectacle. Several sailboats floated next to each other while the sun started its descent. They gracefully danced side by side, forming beautiful shapes on the horizon.

  My camera only seized what I saw. But I wish it also captured the smell of the ocean, the feel of the cold sand, the sound of splashing water as children played by the shore. For a moment, I felt peace. I overlooked all the thoughts that consumed me before coming to this island; Thoughts about the distance between Jeremie and I.

  Once again we are worlds apart. Jeremie's all the way in San Francisco while I wait in Cebu for my visa interview. When he was in Singapore, it was easier for me to fly there. No visa needed, only the price of purchasing airline tickets.

  Four days in this tiny island and I am content to leave. At the end of the trip, I wanted to go home and be alone in my room. Drained and exhausted, I needed some time to recharge my batteries.

  I still stand my ground on my initial impression of the island. It's crowded and overrated, overpriced and commercialized. But it does have its charms if you look hard enough. Dad's glad he'd finally ticked off one more item on his checklist. He'd been talking about it since I could remember. So I'm happy he finally got a chance to go there.
" %}

{% include 1.html type="left" img="14" alt="sunset and sails and brother's silhouette" %}

{% include 1.html type="fl-left" img="15" alt="person about to swim silhouette" %}

{% include 1.html type="ctr" img="37" alt="silhouettes of people at the beach" %}
