---
layout:     post
title:      "And the Final Stop: Chiang Mai"
date:       2015-03-13
categories: travel
permalink:  /:categories/:title
excerpt:    There is a Buddhist temple in the mountains with an enthralling legend
img-link:   /assets/2015/chiang-mai/
img:
  small:    2015/chiang-mai/chiang-mai-small.jpg
  large:    2015/chiang-mai/chiang-mai-cover.jpg
---
{% include 1.html text="
  Home means different things to different people. In the most literal sense of the word, it's defined as the place where you were born or the place where you grew up. Home is also defined as a roof over one's head, or that it's family.

  No matter what it means, they all have one thing in common&mdash;a feeling of warmth. That sense of belonging, of knowing, and remembering.

  That's how I felt when I woke up that morning on the train to Chiang Mai. I spent the night reading a book before bed and committed to finishing at least one chapter. But the sound of the train and the gentle rocking was enough to send me to sleep.
" %}

{% include 2.html type="r-thin"
  img1="1" alt1="my bed inside the train"
  img2="2" alt2="trees outside the train"
%}

{% include 3.html type="sp"
  img1="6" alt1="plains and sunrise"
  img2="5" alt2="people having breakfast inside the train"
  img3="7" alt3="my sunburnt feet"
%}

{% include 1.html type="ctr" img="8" alt="logo of the train" %}

{% include 2.html type="ctr-sm"
  img1="46" alt1="old lady sitting across me"
  img2="3" alt2="old lady looking outside the window"
%}

{% include 2.html type="ctr"
  text1="This misty landscape dominated my window all morning, and it bore a resemblance to the mountains back home."
  img2="4" alt2="Misty landscape outside my window"
%}

{% include 2.html type="sp-sm"
  img1="9" alt1="Beatles-inspired hostel"
  text1="I stayed in a Beatles-inspired hostel ran by a young artist couple. They worked together as an independent photographer-stylist team outside the business."
%}

{% include 2.html type="sp"
  text1="Small coffee shops and street food scattered the neighborhood. I saw a couple of food trucks parked on the streets but didn't have the chance to taste them. I was too full stuffing my face with small bites I came across."
  img2="15" alt2="Streets of Chiang Mai"
%}

{% include 3.html type="sp"
  img1="11" alt1="Coffee shops"
  img2="12" alt2="Friendly barista"
  img3="10" alt3="coffee shop signs"
%}

{% include 1.html type="ctr" img="16" alt="Temple and sun rays" %}

{% include 4.html type="ctr"
  img1="17" alt1="Kids on their tablet"
  img2="14" alt2="black and white bird"
  img3="13" alt3="Woman in mirror"
  img4="18" alt4="Two dogs roaming the streets of Chiang Mai"
%}

{% include 2.html type="sp"
  text="Chiang Mai is also known for its night markets."
  img="21" alt="Night markets - a seller with his wooden craft"
%}

{% include 2.html type="sp"
  img1="19" alt1="night market artwork"
  img2="22" alt2="elephant crafts"
%}

{% include 2.html type="sp"
  img1="23" alt1="weird artsy bags"
  img2="24" alt2="grafitti on the wall"
%}

{% include 1.html text="
### Wat Doi Suthep
  There is a Buddhist temple in the mountains with an [enthralling legend](http://en.wikipedia.org/wiki/Wat_Phra_That_Doi_Suthep){:target='_blank'}. Even though it's a popular tourist spot, I still wanted to see it for myself. Plus, it was in the mountains, and I love mountains.
" %}

{% include 1.html type="ctr" img="25" alt="Wat Doi Suthep buddhist temple" %}

{% include 4.html type="ctr"
  img1="26" alt1="temple art"
  img2="27" alt2="temple art"
  img3="31" alt3="temple art"
  img4="28" alt4="temple bells"
%}

{% include 1.html type="ctr" img="29" alt="buddhist monk blessing the visitors" %}

{% include 1.html text="
  In one of the rooms, we knelt in front of a monk so he could give us his blessings. I had no idea what he was chanting. Everyone in the room was clueless and had to be instructed by the temple staff of what to do next.

  I remember a time when my family and I visited one of the Buddhist temples in Cebu. We sat in a room while a monk shared a story, sort of like when a priest preaching a sermon. My siblings and I would pretend we understood what the monk was saying. And once it was over, we'd ask our dad to translate the whole thing for us. After the mass, there was a free vegetarian lunch, which I wasn't so happy about. Especially the ones that were made to look and taste like meat.
" %}

{% include 1.html type="fl-left" img="30" alt="blessing visitors" %}

{% include 1.html type="ctr" img="32" alt="statues in the temple" %}

{% include 2.html type="sp-sm"
  img1="33" alt1="steps back to parking lot"
  img2="34" alt2="temple statue"
%}

{% include 1.html text="
### Stumbled upon
  The day before I left Chiang Mai, I wandered upon a haven of hipster shops and small cafes. *Think Park* was obscurely hiding behind a mall. I was bummed that I found it on my last day, but was also happy that I now had a reason to come back to this city.
" %}

{% include 1.html type="ctr" img="35" alt="little cozy shops" %}

{% include 2.html type="sp"
  img1="36" alt1="man cave rules poster"
  img2="37" alt2="shop with cute bags"
%}

{% include 1.html type="ctr" img="39" alt="more shops" %}

{% include 1.html type="ctr" img="40" alt="cozy shop" %}

{% include 1.html type="ctr" img="41" alt="hipster bike" %}

{% include 1.html type="ctr" img="42" alt="postcards" %}

{% include 1.html type="ctr" img="43" alt="crafty things" %}

{% include 2.html type="sp-sm"
  img1="38" alt1="cool pottery"
  img2="45" alt2="dessert time"
%}

{% include 1.html type="ctr" img="44" alt="little truck converted into a shop" %}
