---
layout:     post
title:      "Visiting Ayutthaya"
date:       2015-03-12
categories: travel
permalink:  /:categories/:title
excerpt:    The train arrived, and I said goodbye to the city as quickly as I said hello.
img-link:   /assets/2015/visiting-ayutthaya/
img:
  small:    2015/visiting-ayutthaya/visiting-ayutthaya-small.jpg
  large:    2015/visiting-ayutthaya/visiting-ayutthaya-cover.jpg
---
{% include 1.html text="
  What brought me to this city? I realize I have few memories of it. After seeing countless temples, my brain turned passive and ignored details. Ayutthaya is a lovely place if only I'd paid more attention to it.

  To explore the city, you can either rent a bike or hire a tuk-tuk, which is more expensive if you're traveling alone. I attempted to get on a bike, but my lack of experience betrayed me. I ended up walking around the city under the scorching heat.

  Hours later, I met a man driving a tuk-tuk who offered to take me to the temples. My budget was tight, so I negotiated the price until we came to an agreement.

  He told me he used to work in Singapore as a driver but missed Thailand so much that he decided to come home. The intolerable heat made it difficult to focus on our conversation, so I only remember pieces of it.
" %}

{% include 1.html type="ctr" img="1" alt="Temple ruins" %}

{% include 3.html type="st"
  img1="3" alt1="Man swimming in lake"
  img2="2" alt2="temple ornaments"
  img3="4" alt3="tree with a hole in its trunk"
%}

{% include 1.html type="ctr" img="5" alt="brick path" %}

{% include 2.html type="sp-sm"
  img1="7" alt1="night market vendor"
  img2="8" alt2="preparing food"
%}

{% include 1.html text="There weren't a lot of things to do at night. The house I stayed was two minutes from one of the famous evening markets in Ayutthaya. The smell of fried fish and spices filled the air. I bounced from one stall to the next, nibbling on bite-sized food until I was satisfied." %}

{% include 1.html type="ctr" img="6" alt="fish vendor" %}

{% include 2.html type="bleed"
  img1="9" alt1="night market stalls"
  img2="10" alt2="night market stalls"
%}

{% include 1.html type="ctr" img="13" alt="waiting for the boat to take us to the other side" %}

{% include 1.html type="fl-left" img="12" alt="brick temple" %}

{% include 1.html type="fl-right" img="11" alt="buddhist carving in tree" %}

{% include 2.html type="bleed"
  img1="17" alt1="giant buddha"
  img2="15" alt2="giant buddha and staff cleaning it"
%}

{% include 1.html type="ctr" img="16" alt="lining up for the blessings" %}

{% include 1.html type="ctr" img="14" alt="kid playing while parents pray" %}

{% include 2.html type="sp-sm"
  img1="19" alt1="temple buildings"
  img2="18" alt2="temple buildings"
%}

{% include 1.html type="ctr" img="20" alt="my airbnb deck" %}

{% include 1.html type="left" img="21" alt="waiting for the train" %}

{% include 2.html type="sp"
  img1="24" alt1="train station"
  img2="22" alt2="train station"
%}

{% include 2.html type="sp-sm"
  img1="26" alt1="train arriving"
  img2="25" alt2="kid peeking outside from train window"
%}

{% include 1.html text="
  When it was time to go, the owner of the house drove me to the train station. She didn't ask me money for the ride. Everyone I encountered in Thailand seemed nice: they smiled a lot, were curious, and always wanted to help when needed.

  The train arrived, and I said goodbye to the city as quickly as I said hello.
" %}

{% include 1.html type="ctr" img="23" alt="train arriving" %}
