---
layout:     post
title:      "Matt Davis Trail"
date:       2015-07-22
categories: travel
permalink:  /:categories/:title
excerpt:    A spontaneous 2-hour hike up a mountain with flip-flops, snacks, and a couple of new friends
img-link:   /assets/2015/matt-davis/
img:
  small:    2015/matt-davis/matt-davis-trail-small.jpg
  large:    2015/matt-davis/matt-davis-trail-cover.jpg
---
{% include 1.html type="ctr-sm" img="1" alt="Fern on black background" %}

{% include 2.html type="sp-sm"
  img1="2" alt1="Flora"
  img2="3" alt2="Flora"
%}

{% include 1.html type="ctr" img="4" alt="Peeking between plants to see Stinson beach" %}

{% include 1.html type="ctr-sm" img="10" alt="Red leaves" %}

{% include 2.html type="bleed"
  img1="7" alt1="Stairway path"
  img2="9" alt2="View of the beach"
%}

{% include 1.html type="ctr" img="12" alt="Dead flower" %}

{% include 1.html type="ctr" img="13" alt="Hikers in a line" %}

{% include 2.html type="sp-sm"
  img1="15" alt1="Layers of color"
  img2="16" alt2="Cyclist on top of the hike"
%}

{% include 2.html type="bleed"
  img1="17" alt1="Gathering in Mount Tamalpais"
  img2="20" alt2="Kite flying in the blue sky"
%}

{% include 1.html type="ctr" img="24" alt="Jeremie my hiking buddy" %}

{% include 2.html type="sp-sm"
  img1="22" alt1="Cody our other hiking buddy"
  img2="27" alt2="No bikes allowed"
%}

{% include 1.html type="fl-right" img="19" alt="Landscape on top of Mount Tam" %}

{% include 2.html type="bleed-uneven"
  img1="25" alt1="Tiny humans in vast landscape"
  img2="28" alt2="Curvy landscape"
%}

{% include 1.html type="ctr" img="30" alt="Humans that look like ants" %}

{% include 1.html type="fl-left" img="31" alt="Beach view" %}

{% include 2.html type="sp-sm"
  img1="34" alt1="Zigzag roads"
  img2="35" alt2="Sunset view of the water"
%}

{% include 2.html type="l-thin"
  img1="6" alt1="Houses in water"
  img2="36" alt2="Sunset ending"
%}
