---
layout:     post
title:      "On the Road"
date:       2015-06-10
categories: travel
permalink:  /:categories/:title
excerpt:    On the rotten panels, in bold black serif, it read&#58; POINT REYES
img-link:   /assets/2015/pointreyes/
img:
  small:    2015/pointreyes/on-the-road-small.jpg
  large:    2015/pointreyes/on-the-road-cover.jpg
---
{% include 1.html text="
  The fog rolled over the city as we drove past the famous Golden Gate bridge. After weeks of living in San Francisco, I finally had the chance to see this majestic structure. Grey overcast sky loomed behind it eliciting thoughts of thriller films with giant dinosaurs, superheroes, and aliens.

  *I wonder if I can cross it on foot?* Right then, I saw people hiking/cycling/jogging on a narrow sidewalk. I made a mental note to cross the bridge on foot or with a bicycle. Unfortunately, I need practice. I attempted to ride a bike in Ayutthaya, Thailand and felt like a pancake flipping from one side to the other. I ended up taking a tuk-tuk instead.
" %}

<div class="parallax">
  <img src="{{ page.img-link }}map.jpg" alt="Point reyes on the map" >
  <div class="invert grid width-thirds">
    <h3>The Point of Interest</h3>
    <p>Point Reyes is a cape sitting several miles in Marin County, northwest of San Francisco. I googled it a few days ago and fell in love with the cliffs overlooking the Pacific Ocean.</p>
  </div>
</div>

{% include 1.html text="
  We stopped by the visitor center. It resembled one of those cabins you see on TV. The lady at the information desk was kind enough to give us a brief idea of what to expect while driving in the park.

  *Watch out for flooding when you're driving in the park.* I imagined knee-deep waters, but later realized *flood* meant an inch of puddle, not the your-car-will-be-swimming-in-water-and-you-have-to-push-your-car-to-its-limits type of flood like we have in the Philippines.
" %}

{% include 1.html type="ctr" img="6" alt="Crossing the road" %}

{% include 2.html type="sp-sm"
  img1="2" alt1="Visitor center"
  img2="3" alt2="Asking for information"
%}

{% include 1.html text="
  *Are there wild animals here?*

  She says we can find elephant seals from an overlooking deck, and maybe come across some elks. She drew a circle on our map. I was hoping to see animals in the wild. As someone who grew up watching National Geographic and Discovery channel, I've been dreaming about seeing animals in the wild.
" %}

{% include 2.html type="bleed"
  img1="15" alt1="Saltwater restaurant"
  img2="4" alt2="Fresh oysters"
%}

{% include 1.html text="For lunch, we went to a restaurant called Saltwater. Imagine a quaint restaurant situated near a lake. Everything we ordered was delicious&mdash;from the freshly baked oysters, the arugula salad, and the mushroom and herbs pizza. They didn't disappoint." %}

{% include 1.html type="ctr" img="9" alt="Cozy vibe" %}

{% include 2.html type="sp-sm"
  img1="8" alt1="Hang your coat"
  img2="16" alt2="Coffee or tea"
%}

{% include 1.html type="ctr" img="7" alt="Organic salt" %}

{% include 1.html type="parallax" img="5" alt="Forest vibes" %}

{% include 1.html text="From a window, we could see a tiny slice of forest outside. A restaurant staff came out of that garden with some herbs. He was holding a handful of Arugula. So that's where they get their fresh ingredients!" %}

{% include 1.html type="ctr" img="13" alt="Stump" %}

{% include 2.html type="bleed-uneven"
  img1="14" alt1="Rows of tree"
  img2="18" alt2="trees from below"
%}

{% include 2.html type="sp-sm"
  img1="17" alt1="Heading to the abandoned boat"
  img2="10" alt2="Single post"
%}

{% include 1.html type="ctr" img="11" alt="Old, abandoned ship" %}

{% include 1.html text="
  Jeremie went exploring while Robbie, Shai, and I bought drinks to keep us warm. After we got our order, I told them I'd meet them in the car after I figured out where Jeremie went off to. He loves exploring! One minute, he's there, the next he's several meters away climbing an abandoned pile of rocks.

  As expected, he was nowhere to be found. I wasn't worried though because he always found his way back.

  *I found a boat!* Jeremie handed me his phone with a picture of a dilapidated, rusty boat in the lake. We examined it and realized it had something written on its side. On the rotten panels, in bold black serif, it read:
" %}

{% include 1.html type="ctr" img="19" alt="Point reyes" %}
