---
layout:     post-blocks
title:      "Looking for Whales"
date:       2016-04-26
categories: travel
permalink:  /:categories/:title
excerpt:    Everyone was eager to see whales that every time someone pointed at the water, people turned to that direction only to find nothing.
intro: |
  I've been procrastinating on this story for the past few days. I have this weird condition where my mood mimics my environment. For instance, we were in Seattle a couple of weeks ago and it was the greenest city I've seen besides Portland. Trees lined up, plump and healthy, and the vines ran up the walls of the old buildings. Though it rained a lot, my mood was elevated thanks to the plants. But cold, lifeless things take away my energy. Which is why I don't do well in winter.

  I've been staring at the photos for days until I finally decided to get it over with. Curating this set was definitely a challenge! I thought about adding a filter to make my photos warmer but decided against it. Doing it is against my principle of keeping them as close to how it felt when I took them as possible.
img-link:   /assets/2016/whale-watching
img:
  small:    2016/whale-watching/looking-for-whales-small.jpg
  large:    2016/whale-watching/looking-for-whales-cover.jpg
---
{% include block-text.html text="Not every day of our trip was great. Plenty of things did not go as planned: no whales, no Aurora Borealis. But because I did some research before the trip, I knew that this could happen.

If you're planning a trip to Iceland and want to make the most out of it, my advice is to avoid December. The winter equinox (longer nights, shorter days) makes it hard to do anything unless you're a night person or can navigate in snowy conditions. The only silver lining was that it was low season. There were fewer tourists: so it was easier to walk around and not bump into people." %}

{% include block-img-1.html type="left-6" img="8.jpg" alt="Watching people" %}

<div class="row mtop15">
  <div class="span-6 offset-4">
    {% include img-block.html img="4.jpg" alt="Jeremie in thick garment" %}
  </div>
</div> <!-- /row -->

{% include block-text.html text="On the day of the trip, I wanted to confirm our reservations, so I called the boat company. Sometimes, being paranoid is good because we would have never gotten on that boat if I hadn't called. Apparently, our names were not on the list even though I booked online weeks ago. We were lucky that the person on the phone was very reasonable. I gave him our confirmation number and names. Pretty soon, a man picked us up at a meeting point.

He looked pissed off and annoyed as he drove frantically to the pier. There was no explanation&mdash;or apology&mdash;and the silence was awkward. When we got there, everyone was already inside the boat, and the crew was waiting for us&mdash;the very last passengers.
Judging eyes followed us as we walked past people already settled in their seats. I felt my face flush. It wasn't our fault but how were they supposed to know that? They probably thought we overslept or something. The boat's engine started seconds later, and everyone resumed their business. Oh, thank god!

There's a narrow staircase that leads to the bottom of the deck. We grabbed overalls that looked like something you see in deep-sea fishing shows.

Moving around wasn't easy because of the consistent shifting of the boat. People stood by the edges and kept their eyes fixed on the sea. I imagined seeing one or two whales jumping out of the ocean, swimming close to the boat. I always had a profound love for the sea and the creatures living in it. I used to have an encyclopedia when I was a kid that had pictures of sharks and whales. I read it more than I could count." %}

{% include block-img-1.html type="center-6" img="5.jpg" alt="Waiting for whales inside the boat" %}

{% include block-text.html text="*Hot chocolate sounds good right now.* My body was warm thanks to the suit, but my face and hands were freezing. Every now and then it would rain, followed by mild snow, then rain again. It was as if the sky could not make up its mind about the weather.

The guide sat above an elevated platform reciting facts about whales in his monotone voice. Everyone was eager to see whales that every time someone pointed at the sea, people turned to that direction only to find nothing. People eventually got bored and after a few hours of standing around, went back inside the deck to keep warm. Jeremie decided to follow them and was asleep for the rest of the trip.

As for me, I stayed, holding on to my camera still hoping for something to happen. *Maybe I'll see a fin. I wouldn't mind that.* My hopes were high even when it was almost time to head back to land." %}

{% include block-img-1.html type="center-6" img="1.jpg" alt="View from the boat" %}

{% include block-text.html text="Up ahead, snowy mountains began to emerge. The guide said something on the radio. We were going to try one more spot and then head back to the pier." %}

<div class="row mtop15">
  <div class="span-3 offset-1">
    {% include img-block.html img="6.jpg" alt="Looking for whales" %}
  </div>
  <div class="span-6 offset-1">
    {% include img-block.html img="7.jpg" alt="Tourists in yellow overalls" %}
  </div>
</div> <!-- /row -->

{% include block-img-1.html type="center-6" img="2.jpg" alt="Mountain across the sea" %}

{% include block-text.html text="We never saw any whales that day. Despite hours at sea, there was nothing to see. I was disappointed but knew I would see them one day. Maybe not in Iceland, but I was determined to see them in the wild." %}

{% include block-img-1.html type="center-6" img="9.jpg" alt="Heading back to the pier" %}

{% include block-img-1.html type="center-6" img="10.jpg" alt="Whale watching boat" %}

{% include block-img-1.html type="center-6" img="11.jpg" alt="Ship" %}
