---
layout:     post-blocks
title:      "Mendocino"
date:       2018-01-23
categories: travel
permalink:  /:categories/:title
excerpt:    When our arms became too tired, we'd draw our paddles in and let the slow current carry us.
intro: |
  I was sifting through photos from last year when I came across our Mendocino trip. It's a charming suburban town north of San Francisco that had an old-fashioned feel to it. Despite not having grown up in this country, I was overcome with a feeling of nostalgia. I must've read about it in books or saw scenes in films, I don't know.

  We rented a canoe and paddled our way up the Mendocino river. We've never been in a canoe before but it was easy to get the hang of it. As long as we synchronized our movements and agreed on a direction, we were pretty much on our way. Give it a few minutes, and it will feel like second nature.
img-link:   /assets/2018/mendocino
img:
  small:    2018/mendocino/mendocino-small.jpg
  large:    2018/mendocino/mendocino-cover.jpg
---
{% include block-img-2.html type="span-6"
  img="catch-a-canoe.jpg" alt="catch a canoe"
  img2="kayaking-folks.jpg" alt2="kayaking folks"
%}

{% include block-img-2.html type="span-3"
  img="mendocino-sign.jpg" alt="mendocino sign"
  img2="chair.jpg" alt2="chair"
%}

<div class="row mtop15">
  <div class="span-6">
    {% include img-block.html img="trees.jpg" alt="trees" %}
  </div>
  <div class="span-5 offset-1">
    {% include img-block.html img="mendocino-shore.jpg" alt="mendocino shore" %}
  </div>
</div> <!-- /row -->

<div class="row mtop15">
  <div class="span-7 offset-5">
    {% include img-block.html img="sun-and-trees.jpg" alt="sun and trees" %}
  </div>
</div> <!-- /row -->

{% include block-text.html text="When our arms became too tired, we'd draw our paddles in and let the slow current carry us.
Snacking on a box of fresh strawberries, we sat in silence for the next few minutes. This gave us a chance to appreciate the plants growing on the edges of the river and say hi to other folks floating in their kayaks." %}

<div class="row mtop15">
  <div class="align-center">
    <div class="span-6 offset-1">
      {% include img-block.html img="ferns.jpg" alt="ferns" %}
    </div>
    <div class="span-3 offset-1">
      {% include img-block.html img="man-swimming.jpg" alt="man swimming" %}
    </div>
  </div>
</div> <!-- /row -->

{% include block-slim.html type="centered" img="human-from-high-up.jpg" alt="human from high up" %}

{% include block-img-2.html type="span-35"
  img="cliff-sunset.jpg" alt="cliff sunset"
  img2="pink-flowers.jpg" alt2="pink flowers"
%}

{% include block-text.html text="I think about California and this is what I always imagine. A coastal town with an easy vibe; of pastel orange and yellow skies and sunsets so beautiful, it's hard to keep your eyes off it." %}

<div class="row">
  <div class="span-8 offset-2">
    {% include block-img-3.html type="span-4"
      img="cliff-people.jpg" alt="cliff people"
      img2="rocky.jpg" alt2="rocky"
      img3="boats.jpg" alt3="boats"
    %}
  </div>
</div> <!-- /row -->

{% include block-slim.html type="centered" img="skull.jpg" alt="skull" %}


<div class="row mtop15">
  <div class="span-4 offset-2">
    {% include img-block.html img="deer.jpg" alt="deer" %}
  </div>
  <div class="span-4">
    {% include img-block.html img="yellow-van.jpg" alt="yellow van" %}
  </div>
</div> <!-- /row -->
