---
layout:     post
title:      "My four day journey from San Francisco to New York by train"
date:       2018-03-18
categories: travel
permalink:  /:categories/:title
excerpt:    It's as if the train is a confession booth where people step in to share their deepest thoughts
img-link:   /assets/2018/cross-country-train/
img:
  small:    2018/cross-country-train/cross-country-small.jpg
  large:    2018/cross-country-train/cross-country-cover.jpg
---
{% include 1.html text="
  When Jeremie had to go to New York for work, I jumped at the opportunity. Who doesn’t love New York City? The food and art scene is phenomenal. And the bustling streets allow me to practice what I've learned from my photography class.

  Flying had always been the only way we traveled to New York. But since I wasn't in a hurry to go there, I considered other options. It was a spontaneous idea driven by my curiosity to do something different. I remembered an article about a guy who took a train from San Francisco to New York. I’ve always wanted to travel from coast to coast the old-fashioned way and wondered what that was like.

  I booked a one way train ticket for about $232&mdash;a good deal considering the last minute cost of a plane ticket. But after getting the confirmation email, I wondered what was I getting myself into. First, the trip was going to be approximately eighty hours or roughly four days! And second, I was taking this trip alone which means I either had to isolate myself or interact with random strangers for four straight days. Both of which made me extremely anxious.

  I ultimately convinced myself that this was the perfect opportunity to be brave. Sure, I’ve taken trains alone in [Thailand](http://annemelody.com/travel/the-train-to-kanchanaburi){:target='_blank'} and [Indonesia](http://annemelody.com/travel/the-people-you-meet-along-the-way){:target='_blank'}, but neither took days to reach my destination. Luckily, I booked the ticket a week before the trip so I had no room to overthink my decision.
" %}

{% include 1.html type="ctr" img="train-approaching" alt="Train approaching" %}

{% include 1.html text="
### The beginning of the journey
  The trip started in San Francisco’s Transbay Terminal where an Amtrak bus took us to Emeryville. This is where the California Zephyr train departs. The terminal was smaller than I imagined but there's a small snack bar where you can buy last-minute snacks.

  After a 30-minute delay, our train finally arrived. People who booked a sleeper room were herded to one side of the platform while the rest of us <s>poor</s> coach passengers were taken to a different area.

  The coach section of the train (comparable to an airplane's economy class) had two levels. The only difference is that you get better views on the upper deck and have easier access to the observation car while the lower deck was closer to the restrooms. I opted for the top deck knowing I'll be taking in the views rather than use the restroom often.

  Side note: restrooms start clean but degrade over the next few days. Okay, I'm not going to sugar coat it&mdash;It was nasty! And coach folks don't have access to a shower room so there's that.

  'All aboard!' the conductor announced and we were off.
" %}

<div class="grid grid-center width-half">
  <div class="autoplay-sound">
    <span class="control icon-sound-off"></span>
    <audio loop class="audio">
      <source src="{{ page.img-link }}train-sounds.mp3" type="audio/mpeg">
    </audio>
    <img src="{{ page.img-link }}conductor-waving.jpg" alt="Conductor waving at us" >
  </div>
</div>

{% include 1.html text="
### Looking through the panoramic glass
  The main reason why I opted to take the train was to see the scenic landscapes of this country. The California Zephyr has an observation car with panoramic glass windows that give you wider views. After the conductor checks your ticket, you can head over to the observation deck. On some parts of the journey, this room gets packed but most people are polite enough to share the view.

  There wasn't a lot to see in the bay area&mdash;the train ran close to the water and we mostly saw small farms, hills, and factories. I spent this time enjoying my sandwich and catching up with work emails.

  More people boarded the train in Sacramento along with a local guide who shared stories about the places we passed. I paid no attention to him, which I should have in hindsight. But I was too busy catching up with work.
" %}

{% include 1.html type="left" img="observation-car" alt="observation car" %}

{% include 2.html type="l-thin"
  img1="braided-lady" alt1="braided lady"
  img2="snow-shed" alt2="snow shed"
%}

{% include 1.html text="
  ![Highway bridge](/assets/2018/cross-country-train/highway-bridge.jpg)

  As we climbed up the Sierra Nevada, the world outside turned white. Snow covered the small towns almost as if you were inside a snow globe. I tried to imagine how cold it was outside and was glad we were warm and cozy inside the train.
" %}

{% include 2.html type="l-thin"
  img1="small-towns" alt1="small towns"
  img2="snow-land" alt2="snow land"
%}

{% include 1.html text="
  ![Buses parked](/assets/2018/cross-country-train/buses.jpg)

  As we entered Nevada, the terrain shifted from winter wonderland to barren desert. A blink of an eye and you're in a different world. I didn't even realize I spent the entire day staring out the window and doing nothing at all.
" %}

{% include 4.html type="ctr"
  img1="land-series-1" alt1="Nevada landscape panorama"
  img2="land-series-2" alt2="Nevada landscape panorama"
  img3="land-series-3" alt3="Nevada landscape panorama"
  img4="land-series-4" alt4="Nevada landscape panorama"
%}

<div class="parallax">
  <img src="{{ page.img-link }}nevada-sunset.jpg" alt="Nevada sunset" >
  <div class="grid width-thirds">
    <p>The next morning, we saw the canyons of Utah. It reminded me of scenes from <i>Westworld</i>. I've never been fond of western movies. I don't get the appeal of cowboys vs <s>indians</s> Natives, but I have to admit, the scene outside was mesmerizing.</p>
  </div>
</div>

{% include 1.html type="right" img="tabletops" alt="Tabletop mountains" %}

{% include 1.html type="ctr" img="you-are-here" alt="You are here sign" %}

{% include 1.html type="ctr" img="utah-landscape" alt="Utah landscape" %}

{% include 1.html text="
  We reached Colorado by noon. For some reason I thought Colorado would be completely covered in snow. Turns out I was wrong.

  At some point, I made a conscious decision to put my camera away so I could imprint the scenes better in my head. This explains why I don't have a lot of photos on this part of the trip. I get so caught up with taking pictures that I sometimes forget to appreciate what's in front of me.

  The route from Nevada - Utah - Colorado was my favorite part of the entire journey. It felt like being in a completely different world. I felt so tiny and insignificant but in a good way.
" %}

{% include 2.html type="sp-sm"
  img1="rocky-cliffs" alt1="rocky cliffs"
  img2="shades-of-sand" alt2="shades of sand"
%}

{% include 1.html type="ctr" img="frozen-falls" alt="Frozen falls" %}

{% include 3.html type="bleed"
  img1="fisherman" alt1="Fishermen fishing in lake"
  img2="view-of-denver" alt2="View of Denver Colorado"
  img3="colorado-river" alt3="Colorado river"
%}

{% include 1.html type="ctr" img="colorado-sunset" alt="Colorado sunset" %}

{% include 1.html text="
  We traveled through Nebraska at night so I didn't see much of it. And by the time we reached Iowa, I was wishing we'd already be in Chicago. The lack of sleep and proper bathroom had started to take its toll on me.

  It took us longer to reach Chicago on the third day because our train was behind schedule. I planned on exploring the city before transferring to the next train that traveled straight to New York but I only had 3 hours instead of the original 6 hours of layover. My mission was to have dinner in Nando's Peri-peri chicken (daaa best!!!), buy some Garrett cheese popcorn, then race back to the station. I made it just in time before the they started boarding passengers.
" %}

{% include 2.html type="r-thin"
  img1="chicago-streets" alt1="Chicago streets at night"
  img2="chicago-building" alt2="Chicago buildings at night"
%}

{% include 1.html text="
### People and conversations
  I love listening to people's stories. It allows you to see a glimpse of someone's life much like a photograph. But I'm not good with strangers. It's not that I'm afraid of what they'd think of me. I'm just not comfortable with small talk. I prefer deeper conversations, but with strangers you certainly need to start somewhere.

  And sure enough, some conversations never went past small talk. It's like navigating through a maze and you try to figure out if you have anything in common. Thankfully, others moved to something more substantial. I learned that it was easier to talk to people who weren't afraid to share their vulnerabilities. The ones that didn't hold back and were honest about their thoughts.

  I encountered so many different kinds of characters in the train: the man who only talked about work, the optimistic young woman who left her home so she could train (no pun intended) to become a Shaman in New Orleans, the early twenties guy who grew up in a dysfunctional environment and almost ended up in prison if not for his son who inspired him to become a better person, the adventurous old lady who has taken the cross-country train three times, the middle-aged man who quit alcohol and was proud to be sober for ten years, the middle-aged woman who has not quit alcohol but is perfectly fine with her decision.
" %}

{% include 1.html type="ctr" img="amish-woman" alt="Amish woman" %}

{% include 1.html text="I met Mr D. on the first morning as we traversed Utah. He saw me fiddling with my camera one morning and asked what model it was. He told me he dreamed of becoming a photographer and even studied film. But because of financial reasons and to support his family, he had to give up his dreams. He gave me a few tips about which side of the train to sit to get better views and was nice enough to let me practice taking portraits of him." %}

{% include 2.html type="l-thin"
  img1="mr-d-lounge-area" alt1="Mr D in the lounge area"
  img2="mr-d-waving" alt2="Mr D waving from the train window"
%}

{% include 1.html text="
  On one of our stops, a woman saw me taking a photo of Mr D. and asked if I could take her photo too. I was happy to do it!

  ![Portrait of a woman in slippers](/assets/2018/cross-country-train/woman-portrait.jpg)
" %}

{% include 2.html type="r-thin"
  img1="curious-kid" alt1="Curious kid"
  img2="man-and-suitcase" alt2="Man and his suitcase"
%}

{% include 1.html text="
### Dining cars
  The antique-looking dining car is one of the highlights of the train experience. It was like stepping into a Wes Anderson movie. The food wasn't that good (IMO) but you get to meet different people. They had a system where the staff assigns you a seat so that you share a seat with random people. The food prices are a bit steep but you have an option to order at the snack bar where the food is more affordable.

  On some occasions, when I didn't feel like interacting with people, I went down the lounge car, got myself a hotdog or a pizza from Mr. D. and ate at my seat. Some people even brought their own food which they stored in a cooler. Tap water is available in the coach cars but I didn't like how it tasted so I spent a few bucks on bottled water.
" %}

{% include 2.html type="bleed"
  img1="dinner-guests" alt1="Dinner guests in dining car"
  img2="dinner-guests-2" alt2="Dinner guests in dining car"
%}

{% include 1.html text="
### Sleeping in coach
  My seat was bigger than a standard economy seat on an airplane plus it had more space for my feet. You can recline the seat and not have to worry about the person behind you because of all the space. And since it wasn't peak season, there were a lot of empty seats so we got to occupy two seats! Hooray!

  Essentials for a comfortable night:

  1. Pillow(s). They don't provide this for free. You can purchase one though.
  2. Blanket. See comment above.
  3. Eye mask. Lights out at 10pm but if you're like me and you like sleeping in complete darkness then this is essential.
  4. Ear plugs. I wish I brought a pair with me. The man behind me listened to weird religious propaganda the whole two nights I was in the train.
" %}

{% include 1.html type="ctr" img="sleeping-old-man" alt="Sleeping old man" %}

{% include 1.html text="Sleeping was not easy despite all the space. As a light sleeper and unreasonably paranoid person, I kept waking up every time someone walked past the aisle. Surprisingly, I slept better during the day. Not sure why, but maybe I was too exhausted that my brain just shut down involuntarily." %}

{% include 2.html type="l-thin"
  img1="sleeping-baby" alt1="sleeping baby"
  img2="sleeping-man" alt2="sleeping man"
%}

{% include 1.html type="ctr" img="sleeping-women" alt="sleeping women" %}

{% include 1.html text="
### Border patrol
  The last part of my trip was taking the connecting Lake Shore train from Chicago to New York. At this point, there was nothing interesting outside the window unless you're into dead trees, and miles and miles of snow.

  Nothing much happened inside either until we reached Syracuse. A few men in green uniform with the words *Border Patrol* written on them boarded the train and marched along the aisle next to me.

  I thought nothing of it until they started asking people (mostly people of color) if they were US citizens and if they had paperwork to prove this. They jokingly asked a few white people if they were citizens but it was in a rhetorical way. At one point they pulled an Asian man out of his seat and escorted him off the train. I looked around and everyone seemed unconcerned about this activity. Is this normal???

  It wasn't until we started moving again that the whole incident sunk in my head. What if they had asked me? Sure, I was in the country with a valid visa but I wasn't bringing my passport with me. I didn't think it was necessary since I was traveling locally. Would they have kicked me out too?

  I did a bit of research and learned that border patrol agents have authority to perform random checks within a hundred-mile radius from any border on anyone they deemed suspicious. You can legally refuse to answer but obviously that creates more suspicion.

  I read about this on the news but have never experienced or seen it in person.
" %}

{% include 1.html type="ctr" img="border-patrol" alt="Border patrol" %}

{% include 1.html type="right" img="pullman" alt="Pullman train" %}

{% include 1.html text="
### The Trolley dilemma
  Not so fun fact: I found out from one of the conductors that if there is a bump while the train is running, there's a chance it meant they ran over a cow. Poor cows. 😢 Apparently it happens everyday and they'd rather hit a cow than derail the train and cause more damage. It reminded me of [The Trolley Dilemma](https://en.wikipedia.org/wiki/Trolley_problem){:target='_blank'}.
" %}

{% include 2.html type="l-thin"
  img1="cows" alt1="Cows outside"
  img2="cows-2" alt2="Cows outside"
%}

{% include 1.html text="
### Traveling alone
  While everyone was asleep, I snuck out of my makeshift bed and went straight to the observation car. I was alone. I took a seat facing the window and put my headphones on. I had [curated a playlist](https://open.spotify.com/user/annemelodysy/playlist/65y1EzOqHtPvff9MPmFV9B?si=SmhM-EWDQHmTSVZItPBwCg){:target='_blank'} before my trip and listened to it as we cut through the landscape.

  I can't remember the last time I was that emotional. I've seen a lot of beautiful places while traveling but this was different: we were moving at a steady pace and I was completely alone with my thoughts. It felt like being in a dream. I was floating, I was in a trance.
" %}

{% include 1.html type="ctr" img="dawn-view" alt="Dawn view outside" %}

{% include 2.html type="sp-sm"
  img1="moon-dawn" alt1="Moon at dawn"
  img2="dawn-driver" alt2="Car at dawn"
%}

{% include 1.html type="ctr" img="man-and-woman" alt="Train passenger and staff" %}

{% include 2.html type="r-thin"
  img1="sunset-trees" alt1="Trees and sunset"
  img2="framing-trains" alt2="Framing trains"
%}

{% include 1.html text="I reached New York late Thursday evening. The staff played Frank Sinatra's 'New York, New York' on the speakers as we approached Penn station. My journey had ended and I was ready to explore New York. But first, I had to desperately take a shower!" %}

{% include 1.html type="ctr" img="ending" alt="Scenic landscape" %}
