---
layout:     post
title:      "Naoshima Island: An exploration into art"
date:       2019-03-03
categories: travel
permalink:  /:categories/:title
excerpt:    It was like stepping inside a painting. I went in and allowed it to swallow me whole.
img-link:   /assets/2019/naoshima/
img:
  small:    2019/naoshima/yayoi-yellow-pumpkin.jpg
  large:    2019/naoshima/three-triangles.jpg
---
{% include 1.html text="
  Last year, I set a goal for myself&mdash;ride a bicycle in the city. It doesn't sound too hard, especially since San Francisco has dedicated bike lanes in certain parts of the city. But for someone who doesn't even know how to ride a bike and live on top of a hill, it is a scary task.

  I began to take it seriously when we started reading about Naoshima. It's a small island a few hours west of Kyoto known for its art museums scattered around the island. A friend who had been there before told us about it.

  Naoshima is small enough that you can explore it in a day or two on a bike or with a car. There's a main highway that loops around the island, but the fun part was cycling through the small alleys and exploring the semi-hidden installations.

  When you reach the port, you can rent an electric bike that could power through the steep hills if you're not as experienced with cycling.

  For two days, the weather alternated between sunny and drizzling, and we had mostly gray skies while we were there. What proved to be rewarding was waking up early in the morning and taking the first ferry from Uno port to Miyanoura port. The sky's tone was warm making our journey to the island quite magical.
" %}

{% include 2.html type="r-thin"
  img1="uno-port" alt1="uno port"
  img2="giant-sign" alt2="giant sign"
%}

{% include 1.html type="ctr" img="seto-ferry" alt="seto ferry" %}

{% include 2.html type="l-thin"
  img1="sunrise-boat" alt1="sunrise boat"
  img2="nets" alt2="nets"
%}

{% include 1.html type="right" img="pingpong-boat-2" alt="pingpong boat" %}

{% include 2.html type="r-thin"
  img1="old-lady-boat" alt1="Old ladies in the boat"
  img2="pingpong-boat" alt2="Pingpong Boat"
%}

{% include 3.html type="st-sm"
  img1="naoshima-view" alt1="naoshima view"
  img2="old-man-in-harbour" alt2="old man in harbour"
  img3="jeremie-inside-ferry" alt3="jeremie inside ferry"
%}

{% include 1.html text="
### Museums
  The museums themselves were considered works of art so photography was not allowed. My initial reaction (as someone who's glued to her camera all the time) was of disappointment but later realized this allowed me to focus on the experience.

### Some of my favorite works
  I rely so much on photographs when I need to remember moments that move me. But since I couldn't take them, I'm going to try and describe them as best I could. Here are three of my most favorite works:
" %}

{% include 1.html type="left" img="chichu-art-museum" alt="chichu art museum" %}

{% include 1.html text="
#### I. Time/Timeless/No Art by Walter De Maria
  We entered an expansive concrete room bathed in natural light that flowed from a rectangular hole in the roof. It was a stark contrast from the dark, narrow hallway that led to this room.

  A series of steps filled the room, and a big shiny, black sphere sat in the middle, sturdy and static. Other objects are symmetrically arranged in the walls, but we were all drawn like moths to a flame to the center of the room. It had an invisible magnetic pull&mdash;this big black orb that sits in the middle. I've read that depending on the time of day, the mood in the room changes. Google the title of the artwork and you will find several photos online.

#### II. Open Field by James Turell
  I'm a big fan of his works, so I was looking forward to seeing them on the island.

  A museum staff dressed all in white whispered directions to a handful of us waiting in line. There was a limit to the number of people who can enter the room.

  After the previous group had left, we were asked to take off our shoes and enter quietly. There were steps in the middle of the room that led up to a large rectangular blue light.

  We started at the bottom then moved up one level at a time, getting closer to the glow of the light. When we reached the top, we were asked to pause longer. I was so close that I wondered how the artist was able to project the light without our shadows casting over it.

  The last thing I expected was for the staff to direct us to step inside the blue rectangle. It was like stepping inside a painting. I went in and allowed it to swallow me whole.

  Watching people inside was even more surreal. The glow enveloped them as they stood in silence. I felt calm, almost like walking in a dream.

#### III. Backside of the Moon by James Turrell
  I wasn't sure of what to expect here except that I knew we were going to step inside a completely dark room.

  We were led inside the dark space, moving slowly through a long, narrow hallway. We navigated to a bench with the use of our hands&mdash;one resting on the shoulder of the person in front of us, the other tracking the contours of the wall. Inside, it was cold, still. My imagination started running as soon as I sat on the bench.

  The staff directed us to look at the front of the room and wait for a few minutes. Unsure of what to expect, it seemed like time was moving remarkably slow. I was stuck in a black hole, helpless and lost.

  After several minutes, my eyes finally adjusted to the darkness and a faint shape appeared in front of the room. Only then were we allowed to get up and explore the space.

  Intrigued by the object, I walked straight towards it. At first, I assumed it was a floating projection of light. But as I went closer, I realized that it was in fact, a giant hole in the wall.

  The glow was so soft that it didn't appear real. I curiously tested it by poking my head and hands inside the hole. A cool breeze emanated from inside inducing the sense of floating in space.

  It surprised me that our eyes could adjust to dark spaces gradually allowing us to see something that we thought wasn't there.
" %}

{% include 2.html type="l-thin"
  img1="lee-ufan-entrance" alt1="lee ufan entrance"
  img2="two-balls-exhibit" alt2="Walter De Maria: Seen / Unseen. Known / Unknown"
%}

{% include 1.html type="ctr-sm" img="yayoi-yellow-pumpkin" alt="Yayoi Kusama yellow pumpkin" %}

{% include 4.html type="sp"
  img1="bikes" alt1="Our bikes"
  img2="colorful-art-structure" alt2="Art in Naoshima island"
  img3="glass-entrance" alt3="glass entrance"
  img4="statue-reading-newspaper" alt4="statue reading newspaper"
%}

{% include 2.html type="sp-sm"
  img1="abstract-sculpture" alt1="abstract sculpture"
  img2="grape-holds" alt2="Grape artwork"
%}

{% include 2.html type="sp-sm"
  img1="plants-behind-glass" alt1="Plants behind glass in bath house"
  img2="portrait-with-plants" alt2="Portrait with plants"
%}

{% include 1.html type="left" img="quirky-home" alt="quirky home" %}

{% include 1.html type="ctr" img="island-ferry" alt="Island ferry at night" %}

{% include 1.html type="left" img="naoshima-at-dawn" alt="naoshima at dawn" %}

{% include 1.html type="right" img="street-light" alt="street light" %}

{% include 2.html type="sp-sm"
  img1="green-glow" alt1="green glow"
  img2="curious-jeremie" alt2="curious jeremie"
%}

{% include 2.html type="bleed"
  img1="jeremie-jump-1" alt1="jeremie jump"
  img2="jeremie-jump-2" alt2="jeremie jump"
%}

{% include 2.html type="sp"
  img1="bus-stop-art" alt1="Bus stop with art"
  img2="inverted-boat" alt2="Boat in calm water with reflection"
%}

{% include 1.html type="ctr" img="running-boy" alt="Boy running in the sidewalk" %}

{% include 2.html type="sp-sm"
  img1="jeremie-with-his-bike" alt1="jeremie with his bike"
  img2="jeremie-with-bike" alt2="jeremie with his bike"
%}

{% include 1.html type="ctr" img="graveyard" alt="graveyard" %}

{% include 2.html type="sp"
  img1="mirrors" alt1="mirrors"
  img2="wooden-house-hiding" alt2="Wooden house"
%}

{% include 3.html type="sp"
  img1="coffee-shop" alt1="Naoshima coffee shop"
  img2="coffee-shop-sign" alt2="Naoshima coffee shop"
  img3="tiny-door-and-jeremie" alt3="Naoshima coffee shop"
%}

{% include 2.html type="sp-balanced"
  img1="me-biking" alt1="Me on a bike"
  img2="naoshima-dogs" alt2="naoshima dogs"
%}
