---
layout:     post
title:      "Kyoto: Traveling back in time"
date:       2019-02-11
categories: travel
permalink:  /:categories/:title
excerpt:    I imagine waking up in the morning, sipping warm tea while staring out at the garden, lost in a trance
img-link:   /assets/2019/kyoto/
img:
  small:    2019/kyoto/kyoto-small.jpg
  large:    2019/kyoto/kyoto-cover.jpg
---
{% include 1.html text="
  Something didn't seem right the morning we left Tokyo. In the last few days, I developed a habit of looking out our room window to observe the construction workers perform their morning calisthenics.

  That morning, the construction site was empty and quiet.

  When we got to Naka-Meguro station&mdash;a place usually packed with people&mdash;we discovered that it was also deserted. Nobody was rushing to get to work on a Friday morning.
" %}

{% include 1.html type="right" img="exercise-man" alt="Man exercising" %}

{% include 1.html text="
  It wasn't until we reached the last station when we finally had our answer. Turns out it was a national holiday (Labor Thanksgiving day), and every one&mdash;all the humans in Tokyo&mdash;decided to converge in the same station to catch a Shinkansen (bullet train) out of the city.

  The good news was that we could still board our train despite not having reservations. The bad news: it was going to be packed. We spent half of our 2.5-hour trip to Kyoto standing in the aisle with other passengers.

  It sounds unbearable but it wasn't so bad. For a train that traveled at a speed of 320 km/h, it was surprisingly a very smooth trip. I even managed to eat my onigiri while standing up.

  Though we were trying to escape the crowds of Tokyo, we found ourselves trapped in the same situation when we arrived in Kyoto.
" %}

{% include 1.html type="ctr" img="overcrowding" alt="overcrowding in the main kyoto bridge" %}

{% include 2.html type="r-thin"
  img1="couple" alt1="couple"
  img2="dogo" alt2="Dogo the shiba"
%}

{% include 1.html type="ctr-sm" img="crowded-temples" alt="Crowded temples" %}

{% include 2.html type="sp"
  img1="light-reflections-kyoto-bridge" alt1="Light reflections in Kyoto bridge"
  img2="bird-in-rooftop" alt2="Bird in rooftop"
%}

{% include 1.html text="Finally the holiday was over and the crowds evaporated with it. Now we were able to appreciate the city better. Our days were mostly spent walking the streets and observing shrines and temples." %}

{% include 2.html type="sp-sm"
  img1="fushimi-inari-taisha" alt1="Fushimi Inari Taisha"
  img2="headless-man-in-shrine" alt2="Fushimi Inari Taisha"
%}

{% include 1.html type="fl-left" img="shrine-dogs" alt="shrine dogs" %}

{% include 1.html type="ctr" img="boars" alt="boars" %}

{% include 3.html type="sp"
  img1="temple-light" alt1="Temple light"
  img2="writings" alt2="Scriptures"
  img3="jeremie-posing" alt3="Jeremie posing"
%}

{% include 1.html type="fl-right-sm" img="dragon-painting" alt="Dragon painting in roof" %}

{% include 2.html type="sp"
  img1="temple-at-night" alt1="Temple at night"
  img2="temple-at-night-with-foliage" alt2="Temple at night"
%}

{% include 3.html type="bleed"
  img1="kimono-women-talking" alt1="Women in Kimonos"
  img2="women-in-kimono" alt2="women in kimono"
  img3="kimono-women" alt3="Women in Kimonos"
%}

{% include 2.html type="sp-sm"
  img1="traditional-house" alt1="traditional house"
  img2="sculpture-with-big-balls" alt2="sculpture with big balls"
%}

{% include 2.html type="sp-sm"
  img1="autumn-boat-river" alt1="Boats in the river with autumn leaves"
  img2="autumn-foliage" alt2="Boats in the river with autumn leaves"
%}

{% include 1.html type="ctr" img="striped-lighting" alt="People in train" %}

{% include 1.html type="fl-left" img="people-in-train" alt="People in train" %}

{% include 2.html type="l-thin"
  img1="peeking-through-train-windows" alt1="peeking through train windows"
  img2="kyoto-buildings" alt2="Kyoto old buildings"
%}

{% include 2.html type="sp-sm"
  img1="bike-and-japanese-text" alt1="Bike in front of wall with japanese text"
  img2="building-facade" alt2="Building facade"
%}

{% include 1.html text="
### Street food and ramen
  My favorite part of the trip was walking through the rows of food stalls outside the temple grounds and sampling every street food. Among all that we tried, I became addicted to dango! Small glutinous rice balls (like mochi but without the filling) are skewered on bamboo sticks and grilled to achieve a charred outer layer. Then it's covered with a soy-based sweet sauce that gives it a sweet and slightly salty taste.

  It's so good that as I'm writing this, the walls of my mouth is starting to secrete saliva. Jeremie and I took every opportunity to eat dango while we were in Kyoto and had it almost every day.
" %}

{% include 3.html type="st-sm"
  img1="food-stall" alt1="food stall"
  img2="dango" alt2="dango"
  img3="kyoto-temple" alt3="kyoto temple"
%}

{% include 1.html text="
  There's an underground ramen spot that operates without a signboard. It gets busy at certain hours, but the trick is to go there as soon as they opened for dinner so you don't have to wait in line. They even let us in a few minutes before they opened.

  The ramen broth was really thick, and I love that you can add seasonal vegetables. I've never had ramen with baby corn in it. It was so good.
" %}

{% include 2.html type="l-thin" img1="no-name-ramen-underground-entrance" alt1="no name ramen underground entrance" %}

{% include 1.html type="ctr" img="no-name-ramen" alt="no name ramen" %}

{% include 1.html type="fl-right-sm" img="ramen" alt="No name ramen dish" %}

{% include 1.html text="
### Staying in a Traditional Ryokan
  A book I'd been reading before the trip encouraged visitors to experience staying in a traditional Japanese inn called a ryokan. What caught my interest was a photo of a room that opened up to a private zen garden. I imagine waking up in the morning, sipping warm tea while staring out at the garden, lost in a trance.

  Our biggest obstacle was the cost, which, on average was at around $1,000 per night. On top of that, the ones we liked the most were fully booked and slow to respond via email. 🙄
" %}

{% include 1.html type="ctr" img="traditional-ryokan" alt="traditional ryokan" %}

{% include 1.html type="fl-left" img="hallway-to-onsen" alt="hallway to onsen" %}

{% include 1.html text="
  I persisted in my research until I found one in Gion&mdash;a neighborhood known for traditional shops. The only available room came without a zen garden, but it cost a few hundred bucks less than most in the area.

  It was like being transported back in time. A staff wearing a traditional Kimono escorted us to our room where we were each provided with a yukata to wear inside or outside the ryokan. They also provided us with wooden slippers.

  At night, our living/dining room was converted into a bedroom with comfortable futons. The transformation happened while we were out exploring the city. So by the time we got back, everything was all set for sleeping.
" %}

{% include 2.html type="sp-sm"
  img1="indoor-slippers" alt1="indoor slippers"
  img2="our-futons" alt2="our futons"
%}

{% include 1.html text="Breakfast was provided the next morning as soon as we woke up and once again, our bedroom transformed back to a dining room. Our meal consisted of rice, miso soup, tofu, grilled fish, pickled vegetables, and other unfamiliar food. Dessert came after in the form of fresh matcha tea and mochi made to look like a peach." %}

{% include 2.html type="sp"
  img1="ryokan-me-and-jeremie" alt1="Me and jeremie in a ryokan"
  img2="ryokan-breakfast" alt2="Our ryokan breakfast"
%}

{% include 1.html type="ctr" img="matcha-and-peach" alt="Matcha and peach for dessert" %}

{% include 1.html type="fl-left" img="jeremie-in-ryokan" alt="Jeremie looking at the view" %}

{% include 1.html text="Our brief stay at the ryokan was over before we knew it. And though it gobbled a huge chunk of our budget, it was a unique experience and something I'll remember for a long time." %}

{% include 3.html type="st-sm"
  img1="small-japanese-garden" alt1="small japanese garden"
  img2="specks" alt2="specks"
  img3="temple-behind-trees" alt3="temple behind trees"
%}

{% include 2.html type="l-thin"
  img1="traditional-japanese-home-2" alt1="traditional japanese home"
  img2="traditional-japanese-home" alt2="traditional japanese home"
%}

{% include 1.html type="ctr" img="sunset-rooftops" alt="sunset rooftops" %}
