---
layout:     post
title:      "Tokyo: Neon Signs and Infinite Alleys"
date:       2019-01-01
categories: travel
permalink:  /:categories/:title
excerpt:    You become nothing more than a set of limbs&mdash;a part of a whole, moving in a direction&mdash;forward, never back
img-link:   /assets/2018/tokyo/
img:
  small:    2018/tokyo/tokyo-small.jpg
  large:    2018/tokyo/tokyo-cover.jpg
---
{% include 1.html text="
  Tokyo was never part of the plan. A few months before the trip, we were planning to visit Mexico to explore ancient pyramids and lounge in the gorgeous white sand beaches. The timing was right too&mdash;Día de Los Muertos was around the corner and we were excited to witness the colorful parades. Then we received an unexpected message from our friends back home.

  One of the coolest couples we know was about to say their vows so a decision had to be made.

  'Should we go?' I asked Jeremie. It took us less than five minutes to get our answer. We were both yearning to go home, realizing this only when the opportunity presented itself.

  'We can stop over in Japan on the way back,' An irresistible proposal. I've always been curious of Japan&mdash;its culture, food, streets, and landscapes. Exposed by animated films portraying worlds so magical, so different from the one I grew up in, I was determined to one day see it for myself.
" %}

{% include 1.html type="left" img="food-truck-line" alt="People lining up in a food truck" %}

{% include 1.html type="ctr-sm" img="mochi" alt="Mochi for dessert" %}

{% include 1.html text="
### 'You'll be fine. You won't have a problem finding good food in Japan.'
  This was a recurring reaction among friends who've been there when we asked for recommendations. I took this advice literally but found out the hard way that it wasn't accurate. Note to self: people exaggerate. While most of the food we had were above average (some convenience stores carried meals that were surpisingly good), a handful of restaurants were mediocre.

  It also turns out that getting reservations several days ahead is necessary if you plan to dine at a specific restaurant. In San Francisco, most restaurants accept walk-ins even if they're full. The consequence is usually a few hours of waiting. The longest wait time we've heard was for *FOUR* hours. We said no thanks and ended up eating somewhere else. But hey, we had a choice to wait if we really wanted to.

  In Tokyo, you hardly see lines. We foolishly took this as good news. It wasn't until we spoke to the host/hostess that we found out that there were no lines because they turned people away if you had no reservations.
" %}

{% include 3.html type="sp"
  img1="akomeya-food" alt1="Akomeya, a grocery store with a hidden restaurant"
  img2="akomeya-food-with-jeremie" alt2="Jeremie getting ready to eat his meal"
  img3="akomeya-food-2" alt3="Akomeya, a grocery store with a hidden restaurant"
%}

{% include 1.html text="
  I hardly took pictures of food because it felt awkward to bring out my camera while everyone was enjoying their meal. Tokyo restaurants (at least the ones we visited) were so quiet that moving around with a relatively large camera was easily noticeable.

  The only photos I managed to take were in Akomeya tucked somewhere in the Ginza neighborhood. It's a grocery store that comes with a tiny, sort-of-hidden restaurant at the back. The menu had only one set meal using seasonal ingredients. The whole set was good, but my favorite was the rice. Every bite was heaven. I've never had rice that delicious!
" %}

{% include 1.html type="ctr" img="yakiniku-stare" alt="Curiously peeking inside a yakiniku restaurant" %}

{% include 1.html text="
  In one of the alleys in Shinjuku, we came across a hole-in-the-wall. It had an unassuming exterior, worn-out and cluttered. A middle-aged man sat on the tiniest chair lighting a fire on what looked like a portable grill. We could smell grilled food from outside but was unsure about going in because there were no English signs.

  A man emerged from the sliding doorway and gestured for us to come in. Without a single word, he led us to a very narrow aisle crammed with human bodies. A dense layer of smoke enveloped the room mixing the scent of grilled food and lit cigarettes.

  We squeezed our way to the back of the room where a table was ready for us.

  'Beer?' The man raised his arm to gesture drinking from a glass.

  'Water, please.'

  'No water. Beer, coke?'

  Jeremie and I looked at each other.

  '2 Cokes, please.'

  He disappeared in the crowd. Minutes later he came back with our drinks and asked us if we wanted some pork stomach.

  'You mean pork belly?' I wondered if this was simply a mistranslation.

  'Yes. Pork stomach.'

  'Pork belly?' I asked again, thinking he might not have heard me because of the loud conversations in the room.

  One of the diners intervened and tried to describe what I mean.

  'Yes...pork stomach.'

  I looked at Jeremie, then at the man taking our order. 'Do you mean pork bel...'

  'Yes, we'll have that.' Jeremie cut me off. He was getting hangry. The man placed a plate on our table before disappearing into the crowd once again.

  It was *definitely not* pork belly.
" %}

{% include 1.html type="right" img="yakiniku-diners" alt="Packed with humans inside the restaurant" %}

{% include 1.html text="
### Here's what I've learned:
  1. Translations are tricky. But if you want to be adventurous, just say yes.
  2. Make reservations ahead of time for special restaurants that you really want to try.
  3. But keep your plans loose. You'll find surprises in unexpected places.
" %}

{% include 2.html type="r-thin"
  img1="woman-behind-moving-train" alt1="A woman is captured standing behind a moving train"
  img2="train-conductor-2" alt2="Train conductor"
%}

{% include 1.html text="
### A singular unit
  Rush hour was a beast. The only time I got my camera out was in the smaller stations where there were less people. Since I don't have photos of what it's like, I'll just try to describe it.

  Train stations in Tokyo feel like its own unique world, becoming more apparent during peak hours. Once you step foot in one, you are no longer an individual nor a human being. You lose your identity. You become nothing more than a set of limbs&mdash;a part of a whole, moving in a direction&mdash;forward, never back. There are rules to follow and going beyond them means you risk ending up to where you started. Or worse, you get stuck in a loop.

  It's the same rule when you're on the highway, match your speed with the rest or get out of the way. Adjust your pace so that it synchronizes with the rest of the limbs. There are no conversations; the only sound you hear comes from the trains and the synchronized footsteps.
" %}

{% include 1.html type="right" img="waiting-for-the-train" alt="People waiting for the train" %}

{% include 1.html type="ctr-sm" img="man-walking-in-train-station" alt="man walking in train station" %}

{% include 2.html type="sp-sm"
  img1="silhouette-of-a-man" alt1="silhouette of a man"
  img2="man-in-train-station" alt2="man in train station"
%}

{% include 2.html type="r-thin"
  img1="tokyo-city-scapes" alt1="Tokyo urbanscapes"
  img2="train-conductor" alt2="train conductor"
%}

{% include 1.html text="The city was filled with infinite alleys tucked between compact buildings. We devoured every scene in front of us, stopping only to take a breath or to find something to eat. During the day, we walked among the busy working class, watched them pass us, wondering where they were heading." %}

{% include 2.html type="sp-sm"
  img1="building-layers" alt1="Buildings of Tokyo"
  img2="street-cleaner" alt2="A street cleaner doing his job"
%}

{% include 1.html type="left" img="look-up-at-building" alt="Looking up at the gridded buildings" %}

{% include 2.html type="r-thin"
  img1="looking-down-at-my-shoes" alt1="looking down at my shoes"
  img2="autumn-leaves" alt2="Autumn in Tokyo"
%}

{% include 1.html type="ctr" img="underground-pedestrians" alt="underground pedestrians" %}

{% include 2.html type="l-thin"
  img1="robot-sculpture" alt1="robot sculpture"
  img2="tree-shadow" alt2="Shadow of a tree in the wall"
%}

{% include 1.html type="ctr-sm" img="woman-walking-under-bridge" alt="woman walking under bridge" %}

{% include 1.html type="ctr" img="sunset-in-tokyo-with-fuji" alt="sunset in tokyo with fuji" %}

{% include 1.html type="ctr-sm" img="neon-lights-tokyo" alt="neon lights tokyo" %}

{% include 1.html text="
### Organized Chaos
  At night, neon lights dominated the urban landscape, illuminating the thousands of people rushing in every direction. My heart raced and my gut sank as I watched the world around me. It wasn't excitement that I felt but anxiety triggered by the inescapable chaos of this city. I can't believe I was having a panic attack in Tokyo. I had many thoughts that I can no longer remember. It was so strange.
" %}

{% include 2.html type="sp-sm"
  img1="neon-lights" alt1="neon lights"
  img2="signs-that-point-to-her" alt2="Signs in Tokyo"
%}

{% include 1.html type="right" img="ghostly-wardrobe" alt="Walking around Ueno, we come across a ghostly figure" %}

{% include 2.html type="sp-sm"
  img1="glowing-buildings" alt1="glowing buildings"
  img2="vending-machine" alt2="Glowing vending machines"
%}

{% include 1.html text="
  It was a different kind of chaos, nothing like the other big cities that we've been. There was enough space to move around despite the crowds and people were respectful of your space.

  *Organized chaos.* These are words we often hear people describe Tokyo.
" %}

{% include 1.html type="ctr-sm" img="dark-alley" alt="dark alley" %}

{% include 2.html type="l-thin" img1="nine-hours-sleeping-pods" alt1="Nine hours sleeping pods" %}

{% include 1.html type="ctr" img="fugu" alt="Aquarium full of blowfish" %}
