---
layout:     post
title:      "Tokyo Walks"
date:       2019-01-02
categories: travel
permalink:  /:categories/:title
excerpt:    Our eight days walking around the city made me remember how much I love photography
img-link:   /assets/2018/tokyo-walks/
img:
  small:    2018/tokyo-walks/tokyo-walks-small.jpg
  large:    2018/tokyo-walks/tokyo-walks-cover.jpg
---
{% include 1.html text="
  There's not a whole lot of words in this post. I think I lost a lot of brain cells writing my last one. 😂

  Our eight days walking around the city made me remember how much I love photography. It seems the older I get, the more critical I am of my work. I've been consistently inconsistent with this hobby and I think it's because I'm not sure what to make of it.
" %}

{% include 1.html type="left" img="cemetery" alt="cemetery" %}

{% include 1.html type="ctr" img="knick-knacks-and-us" alt="Jeremie and myself framed between knick knacks" %}

{% include 3.html type="sp"
  img1="spider-plant" alt1="spider plant"
  img2="religious-sculpture" alt2="Sculpture with coins"
  img3="piney-leaves" alt3="Plants"
%}

{% include 2.html type="r-thin"
  img1="underwater-tree" alt1="Tree that looks like it's submerged underwater"
  img2="jeremie-sketching" alt2="Jeremie sketching"
%}

{% include 1.html type="ctr-sm" img="building-peeking" alt="building peeking" %}

{% include 2.html type="sp-sm"
  img1="cute-building-in-tokyo" alt1="cute building in tokyo"
  img2="cool-building-in-tokyo" alt2="cool building in tokyo"
%}

{% include 1.html type="ctr" img="look-up-train" alt="Look up at the train" %}

{% include 2.html type="l-thin"
  img1="vending-machine-pink" alt1="Pink vending machine"
  img2="plants-with-shadows" alt2="plants with shadows"
%}

{% include 1.html type="ctr-sm" img="glowing-door-light" alt="glowing door light" %}

{% include 2.html type="sp-sm"
  img1="doughnut-conversations" alt1="Doughnut conversations in Tokyo"
  img2="koffee-mameya" alt2="Koffee Mameya entrance"
%}

{% include 1.html type="ctr-sm" img="geometric-building" alt="Geometric shapes architecture" %}

{% include 2.html type="sp-sm"
  img1="hokusai-museum" alt1="hokusai museum"
  img2="tokyo-building" alt2="tokyo building"
%}

{% include 1.html type="ctr-sm" img="man-between-autumn-leaves" alt="Man framed between autumn leaves" %}

{% include 3.html type="st-sm"
  img1="bike-devoured-by-plants" alt1="bike devoured by plants"
  img2="clothes-hanging-to-dry" alt2="clothes hanging to dry"
  img3="little-monster" alt3="Little monster in someone's garage"
%}

{% include 2.html type="sp-sm"
  img1="post-office-building" alt1="Post office building"
  img2="why-did-the-chicken-cross-the-road" alt2="Chicken sculpture crossing the road"
%}

{% include 1.html type="ctr" img="studio-ghibli-inspired-building" alt="Studio Ghibli inspired building" %}
