---
layout:     post
title:      "The treehouse in the rainforest"
date:       2020-05-26
categories: travel
permalink:  /:categories/:title
excerpt:    I felt some relief. It didn't look like one of those dark, scary forests.
img-link:   /assets/2020/tree-house/
img:
  small:    2020/tree-house/treehouse-small.jpg
  large:    2020/tree-house/tree-house.jpg
---
{% include 1.html text="
  We drove down a narrow, bumpy dirt road looking for signs of a house in the forest. An hour ago, we were driving down one part of the Big Island where sandy beaches abound. Now, the scenery was more green and lush. We're on the side that's usually rainy, though that afternoon, it was particularly sunny.

  There seemed to be no other houses in sight once we went down the dirt road. I watched too many horror movies as a kid to know that this is how it usually starts. A young couple ventures into the woods for a romantic getaway only to be hunted by a serial killer or a supernatural creature.
" %}

{% include 1.html type="ctr-sm" img="dirt-road" alt="Miles of dirt road" %}

{% include 1.html text="As we reached the entrance of the property, I felt some relief. It didn't look like one of those dark, scary forests. It turned out to be a magical, spirited-away type." %}

{% include 2.html type="sp-sm"
  img1="entrance" alt1="Entrance of the property"
  img2="forest-path" alt2="Path leading to the treehouse"
%}

{% include 1.html text="The path led us to a lot of interesting plants&mdash;some I'd never seen before like this polka-dot shrub(?) with a bright-red color behind its leaves." %}

{% include 2.html type="sp-sm"
  img1="staghorn" alt1="Staghorn plant"
  img2="polka-dot-leaves" alt2="Polka dot plant with red color at the back"
%}

{% include 1.html type="ctr" img="fern" alt="Lots of ferns" %}

{% include 1.html text="There were a lot of ferns and moss which told me that it must rain a lot in this forest. I forgot to mention that we were on the base of a volcano, which probably explains why the plants are thriving. The Big Island has six volcanoes so we're either on the base of a volcano or on a volcano itself. 🤔" %}

{% include 2.html type="l-thin"
  img1="succulent" alt1="Succulent"
  img2="pink-flower" alt2="Pink flower"
%}

<div class="grid module grid-center width-quarter">
  <img src="{{ page.img-link }}egg.jpg" alt="An egg in the forest">
  <small class="text-center"><p>We found an egg on the forest floor. What could have left it there? My guess is it's from a chicken.</p></small>
</div>

{% include 1.html type="ctr" img="elephant-god" alt="Elephant hindu God" %}

{% include 1.html text="
  I thought about how lucky we were to find this place. Not only did we have it all to ourselves&mdash;not a single human in sight, the owners let us stay for free as long as I take photos of the property.

  There was only one problem: I broke my ankle during a climbing trip the week prior. It was difficult enough to walk on an uneven surface, it proved even harder to look for a good spot, balance on one foot while taking a good shot. Fortunately, Jeremie was there to support me. Literally.
" %}

{% include 1.html type="fl-left" img="goddess" alt="Goddess" %}

{% include 1.html text="
  At the end of the path, we saw the yellow treehouse. Well, technically it's not a treehouse because it's not built on or around a tree, but if you climb up the second floor, it feels like it is. You're surrounded by miles of trees on all sides.

  The structure was mostly made of wood, and runs on solar power. There's also a water catchment system that gathers rainwater to be used for showers, sinks, and toilets. This house was completely off the grid." %}

{% include 1.html type="ctr" img="tree-house-2" alt="Tree house" %}

{% include 1.html type="fl-left" img="patio" alt="Lanai" %}

{% include 1.html type="fl-right" img="bedroom" alt="Bedroom" %}

{% include 1.html text="We're not alone. We discovered a few occupants living in the house." %}

{% include 1.html type="ctr-sm" img="lizard" alt="A lizard hanging out outside" %}

{% include 1.html text="
  I'm usually not a fan of lizards. I've had my share of weird experiences with these creatures. Like the time I woke up in my old bed and found one flat, dead, and stuck to the back of my shirt. Like I said...weird experiences. But considering I hate mosquitos more, and we are in a rainforest, these slithering friends are a welcome presence.

  I just had to figure out how to sleep without inviting them into my mouth. My solution? Covering my whole head and body with a blanket and tucking the edges tight so they can't get in. You've learned to do this technique when you've grown up in a tropical island with more than just lizards visiting your room.
" %}

{% include 2.html type="sp-sm"
  img1="hindu-god" alt1="Buddhist God"
  img2="jeremie-reading-airbnb-guide" alt2="Jeremie reading airbnb guide"
%}

{% include 1.html type="ctr" img="sink" alt="The wooden sink" %}

{% include 1.html text="My favorite part was the indoor/outdoor shower that came with a bench. I'm a big fan of bathrooms that come with some form of seat. This was super helpful considering my broken ankle, but I still slipped and fell on my butt when I tried to rush in with my crutch and didn't realize the floor was wet. I had to get used to moving slower than usual." %}


{% include 2.html type="sp-sm"
  img1="bathroom" alt1="The toilet"
  img2="shower" alt2="Outdoor/Indoor shower with plants"
%}

{% include 1.html text="Everything became even more magical as the sun went down. After a long day of exploring the island, walking down this path to find a cozy little house at the end was one of the best parts of this experience." %}

{% include 1.html type="ctr-sm" img="night-forest" alt="Glow of solar-powered lights at night" %}

{% include 1.html text="That night, it finally rained. And along with the sound of raindrops tapping on the roof, the coquí frogs began their evening song. Listen to the sound of the coquí frogs at night by tapping the <i class='icon-sound-on'></i> icon below. Tap it again to stop the sound." %}

<div class="grid grid-center width-half">
  <div class="play-sound">
    <span class="control icon-sound-on"></span>
    <audio loop class="audio">
      <source src="{{ page.img-link }}treehouse-sounds-at-night.mp3" type="audio/mpeg">
    </audio>
    <img src="{{ page.img-link }}night-tree-house.jpg" alt="The tree house at night" >
  </div>
</div>
