---
layout:     post
title:      "Alaska Part 2: looking for bears"
date:       2020-05-10
categories: travel
permalink:  /:categories/:title
excerpt:    This is our planet. This is real. You are a tiny nobody in a vastly beautiful world.
img-link:   /assets/2020/alaska-2/
img:
  small:    2020/alaska-2/looking-for-bears-small.jpg
  large:    2020/alaska-2/yellow-seaplane.jpg
---
{% include 1.html text="
  The pilot&mdash;a middle-aged man named Curtis, gathered us outside his red seaplane. I remember his name, not because I'm good with names. I forget them almost immediately if I've only talked to someone once or twice. But I remember it because:

  1. I don't know anyone else named Curtis. It sounds like a character from a book, and...
  2. As someone who is terribly afraid of heights and had developed a recent fear of flying, I was paying very close attention to our pilot's instructions.
" %}

{% include 2.html type="sp"
  img1="rusts-seaplanes" alt1=""
  img2="rusts-flying-service" alt2=""
%}

{% include 1.html text="
  My first thought when I saw our plane: <i>how the heck are we all going to fit in there?</i> It was a small plane. The smallest I'd ever seen my entire life, but large enough to fit 10 adults (including the pilot). He called our names one by one and let us inside the aircraft. He was trying to balance the plane based on our individual weight.

  As expected, the seats were a little snug. I notice my fellow passengers moaning and groaning about how their legs didn't quite fit, but I was secretly smiling on my little corner. Hah! Being small finally paid off!

  Unfortunately, I celebrated too soon. An old lady sat behind me and pressed her knees tight against my back. I could feel her knees sink a little deeper on my aching bones. Not a big deal, it's only going to be a 70-minute flight.

  Curse these tiny seats!!!

  As we were getting ready to take off, Curtis asked us to put on our headsets so he could communicate with us, and we could ask him questions. To be honest, I couldn't hear much of what he was saying because of the loud, scary beeping sounds our plane was making as we lifted off the water.

  I thought, <i>is this it? This is how it happens in the movies.</i> I looked at Jeremie for reassurance, but he gave me a whats-going-on face. I scanned around at other passengers, but no one seemed to be concerned. I guess it's nothing to be worried about. Here we go!
" %}

<div class="grid module grid-center width-half">
  <video autoplay loop muted playsinline>
    <source src="{{ page.img-link }}take-off.mp4" type="video/mp4">
  </video>
</div>

{% include 1.html text="
  As we reached a certain altitude, I started to feel better. It was a surprisingly steady ride. It didn't feel like you're at the mercy of the winds. I looked outside and was blown away.
" %}

{% include 1.html type="ctr" img="floating" alt="" %}

<div class="grid module float-right-6">
  <video autoplay loop muted playsinline>
    <source src="{{ page.img-link }}river-from-above.mp4" type="video/mp4">
  </video>
</div>

{% include 1.html type="ctr" img="inside-seaplane" alt="Inside the seaplane, a silhouette of our fellow passengers and pilot" %}


{% include 1.html text="
  You're flying next to these enormous snow-capped mountains, and I'm thinking:
  <i>This is our planet. This is real. You are a tiny nobody in a vastly beautiful world.</i>
" %}

<div class="grid module items-2-bleed">
  <video autoplay muted loop playsinline>
    <source src="{{ page.img-link }}window-view.mp4" type="video/mp4">
  </video>
  <img src="{{ page.img-link }}abstract-landscape-4.jpg" alt="">
</div>

{% include 1.html text="
  Soaring past the valleys and fields, I can't help but wonder if there's anyone down there. I scanned the landscapes for any signs of life. Maybe amidst the natural patterns forming in the snow, I'd find large, bold letters:

  <p style='font-size: 1.5rem; text-align: center;'><b>H E L P</b></p>
" %}

{% include 3.html type="st"
  img1="abstract-landscape-2" alt1=""
  img2="mountain-top" alt2=""
  img3="abstract-landscape-3" alt3=""
%}

{% include 1.html text="Fire & Ice. Iliamna Volcano is an active volcano covered in glaciers. You don't see it here, but its crater was actually producing smoke." %}

{% include 1.html type="ctr-lg" img="active-volcano" alt="" %}

{% include 3.html type="sp"
  img1="powerlines" alt1=""
  img2="abstract-landscape-5" alt2=""
  img3="abstract-landscape-6" alt3=""
%}

<div class="grid module width-half">
  <video autoplay muted loop playsinline>
    <source src="{{ page.img-link }}seaplane-in-flight.mp4" type="video/mp4">
  </video>
</div>

{% include 1.html text="
  Then everything was green again. As we approached Lake Clark National Park, we see this beautiful torquoise blue lake. I was so excited to see how we were going to land on the water. We did a few circles above the lake as we slowly descended. Our pilot said this was so that we could adjust to the altitude before landing.
" %}

<div class="grid module grid-right width-half">
  <video autoplay muted loop playsinline>
    <source src="{{ page.img-link }}seeing-the-lake.mp4" type="video/mp4">
  </video>
</div>

{% include 1.html text="And then finally, we landed in the water. The landing was really smooth. Kudos to Curtis for giving us a safe flight. 👏🏽👏🏽👏🏽" %}

<div class="grid module width-half grid-center">
  <video autoplay loop muted playsinline>
    <source src="{{ page.img-link }}landing.mp4" type="video/mp4">
  </video>
</div>

{% include 1.html text="The campsite had one of those 'summer camp' vibes. I've never been to one, but I've seen them in movies. It had a few log cabins for guests to sleep in, a couple of outhouses, and a day lodge where you we had our lunch. I sort of was hoping to see a ranger in matching tanned shirt and shorts to pop out of the woods, but instead, we were met by our lovely naturalist guide. Close enough." %}

{% include 1.html type="ctr" img="campsite" alt="Summer camp vibes" %}

{% include 1.html text="She gave us these cute, waterproof coats which were too big for me. I guess they don't come in my size. Anyway, we stepped inside a pontoon boat pictured below. Our bear-searching begins." %}

{% include 2.html type="sp-balanced"
  img1="me-yellow-coat" alt1=""
  img2="huge-mountains-and-a-boat" alt2=""
%}

{% include 1.html text="The sun was out but the air was chilly. While the rest of the folks rushed to the front of the boat, Jeremie and I sat at the very back. Less effort to interact with other people, plus we get to have a 180° uninterrupted view of the lake." %}

{% include 1.html type="ctr-sm" img="me-jeremie-2" alt="" %}

<div class="grid module grid-spaced items-2">
  <video autoplay muted loop playsinline>
    <source src="{{ page.img-link }}boat.mp4" type="video/mp4">
  </video>
  <video autoplay muted loop playsinline>
    <source src="{{ page.img-link }}valley-active-volcano.mp4" type="video/mp4">
  </video>
</div>

{% include 1.html text="
  <h3>Dead salmon everywhere</h3>
  Our guide took us to spots where she saw bears in the past. The park is so huge that bears could literally be anywhere. I was confident that we'd see them though, because we came at a perfect time&mdash;it was bear season.

  Every now and then, we'd hear splashing in the water. At first, I was too slow to see what it was. But then I'd see a redish figure jump in the water. Salmons! Bear food!

  Each year, thousands of salmons return to Lake Clark, where they were born, to spawn and then die. Yes, these little fellas are hella dramatic. Did I just use hella? 😳 Who hella cares. Ok now I'm using it wrong. Let's move on.
" %}

{% include 1.html type="ctr-sm" img="salmon-carcass-2" alt="" %}

{% include 1.html text="
  <h3>Bear necessities</h3>
  Some salmons don't die in vain. Some of them end up murdered by bears. And the most tragic thing is that bears don't eat the entire salmon. They eat the parts they like and then leave the thing behind. Do salmons feel pain? 🤔 I need to google that later.
" %}

{% include 2.html type="sp-sm"
  img1="salmon-carcass" alt1=""
  img2="brown-bear-standing" alt2=""
%}

<div class="grid module grid-spaced items-2">
  <video autoplay muted loop playsinline>
    <source src="{{ page.img-link }}salmon-2.mp4" type="video/mp4">
  </video>
  <video autoplay muted loop playsinline>
    <source src="{{ page.img-link }}black-bear-playing-with-food.mp4" type="video/mp4">
  </video>
</div>

{% include 1.html text="
  Bet you've never seen a bear trying to do core exercises while eating its meal. That's why they're so strong!

  It's actually really entertaining watching them catch fish and enjoy their meals. I took a longer video of a bear hunting in the water. <a href='https://www.youtube.com/watch?v=3Wdg_90TIPE' target='_blank'>Watch it here</a>. Warning: it may be a bit graphic for some people.

  Since there's an abundance of food, and not many competition, the bears are well-fed and healthy in this park. There's also less human visitors so they aren't threatened by us.
" %}

<div class="grid module grid-spaced items-2-thin-left">
  <img src="{{ page.img-link }}brown-bear-waiting.jpg" alt="">
  <video autoplay muted loop playsinline>
    <source src="{{ page.img-link }}big-brown-bear.mp4" type="video/mp4">
  </video>
</div>

{% include 2.html type="sp-sm"
  img1="brown-bear-portrait" alt1=""
  img2="black-bear-portrait" alt2=""
%}

{% include 1.html text="
  Fascinating things I learned about bears:

  * In Alaska, there are three kinds of bears: black, brown (including grizzly), and polar bears. We saw the first two, but no polar bears. I guess they don't hang out in this environment.
  * Black bears are less aggressive and more shy compared to brown ones. We saw one who stopped hunting when it sniffed another bear nearby. It ran deep into the woods when it sensed something.
  * Black bears are mostly vegetarian who like to eat berries and other fruits.
  * I just recently found out that grizzly and brown bears are the same. The only difference is that brown bears have access to the coasts while grizzlies stay inland.
  * Bears and salmon help make the forests healthier. Bears bring the salmon on land when they eat them. The decomposing fish is packed with nitrogen that enhances the soil and helps the plants grow healthy. And since salmon spend their time at sea before coming back to the coast, they bring nutrients from the ocean with them.
" %}

{% include 1.html type="ctr" img="mama-and-baby-bears" alt="A mama bear leading the way with two baby bears trailing behind her" %}

{% include 1.html text="
  Just as we were about to head back to camp, we saw a mama bear with her two cubs.

  At the end of the day, I counted the number of bears we saw. In total, we encountered nine bears: seven brown bears and two black bears.

  I guess you could say that it was a BEARY successful trip.
" %}

{% include 2.html type="l-thin"
  img1="husky-or-wolf" alt1=""
  img2="tea-and-jeremie" alt2=""
%}
