---
layout:     post
title:      "Quarantine"
date:       2020-03-29
categories: life
permalink:  /:categories/:title
excerpt:    Almost two weeks of staying inside. What I'm seeing from our apartment.
img-link:   /assets/2020/home/
img:
  small:    2020/home/rooftop-views-small.jpg
  large:    2020/home/rooftop-views.jpg
---
{% include 1.html text="
  Hello world! It's day 13 since the official start of our shelter-in-place on this side of the world. Except for that one time I felt claustrophobic inside our 420 square foot apartment, I *think* I'm doing fine (physically + mentally). Working from home for 7 years and being an introvert has allowed me to adjust to situations like these. AND the internet helped too.

  My current productive state is the result of consuming caffeinated milk tea. Either of two things happen when caffeine enters my system: I become super anxious or extremely productive. Thank the universe my brain decides to go with the latter because I recently started taking a new medication and becoming anxious is one of its side effects. Fingers crossed I don't ever experience it.
" %}
{% include 1.html type="left" img="moon" alt="The moon" %}
{% include 1.html type="ctr" img="neighbors-window-view" alt="View of our neighbor's apartment" %}
{% include 1.html type="right" img="neighbors-window" alt="View of our neighbor's apartment" %}
{% include 1.html type="ctr" img="fire-exit" alt="Fire exit that goes all the way up to the rooftop" %}
{% include 1.html text="
  There's not much to see from where I am. We have a small garden, but we never really use it because our first floor neighbors have direct access to it and it feels like we're invading their space by being there.

  I thought about climbing that ladder up to our apartment's rooftop. But I think I'll save it for another day.
" %}
{% include 2.html type="bleed-uneven"
  img1="grass-is-greener" alt1="Our neighbor's yard is all green from the recent rain"
  img2="neighbor-window-things" alt2="Little things on our neighbor's window sill"
%}
{% include 1.html type="ctr" img="orange-and-blue" alt="Our bedroom and Jeremie working on something" %}
{% include 1.html type="ctr" img="books" alt="Books I have or have yet to read" %}
{% include 1.html text="Our pothos plant is dying and refusing to live. I don't know if I should hold on to it or just let it die. Meanwhile, I still have books to read. I have a habit of buying books and forgetting about them. Subconsciously, I was preparing for times like these." %}
{% include 1.html type="ctr-sm" img="bathroom-essentials" alt="Free Aesop products" %}
{% include 1.html type="fl-right" img="joan-cornelia-artwork" alt="Joan Cornelia's artwork" %}
{% include 1.html type="fl-left" img="jeremie-in-bathroom" alt="Jeremie inside our bathroom" %}
{% include 1.html text="The artwork hanging on our bathroom wall is by Joan Cornellà. If you haven't heard of him or his works, do a Google search. You're welcome. 😉" %}
{% include 2.html type="bleed"
  img1="fridge-photos" alt1="Memories, postcards of happy days are plastered on our fridge"
  img2="kitchen" alt2="Orange glow above our kitchen stove"
%}
{% include 1.html type="ctr" img="hardworking-jeremie" alt="Jeremie working on something" %}
{% include 1.html text="You know how they say that limitations tend to make people more creative? I believe it. I absolutely do." %}
{% include 2.html type="sp"
  img1="sutro-tower-view" alt1="Sutro tower can be seen from our window"
  img2="sutro-tower-close" alt2="Sutro tower"
%}
