---
layout:     post
title:      "Alaska part 1: cold mountains and wild animals"
date:       2020-05-08
categories: travel
permalink:  /:categories/:title
excerpt:    And that's probably what made me want to visit Alaska&mdash;that I knew so little about it.
img-link:   /assets/2020/alaska-1/
img:
  small:    2020/alaska-1/thumbnail.jpg
  large:    2020/alaska-1/alaska-mountains.jpg
---
{% include 1.html text="
  So why did I choose Alaska? I'm not exactly a big fan of cold weather and before I did some research, I had no idea what to expect. The only thing I knew about it is from watching this movie called <i>Into the Wild</i>. A man hitchhikes his way up to Alaska and isolates himself from society until he dies. Geez, I make it sound so depressing. Actually, it was a heartwarming, tragic film of a man living and connecting with nature. I won't say anything else in case anyone wants to see the movie or reads the book. It's non-fiction, which makes it even more interesting.

  And that's probably what made me want to visit Alaska&mdash;that I knew so little about it. Films give us a glimpse of places but often the way they are portrayed is over-romanticized. I wanted to see it for myself.

  From Anchorage, we rented a car and drove to nearby national parks. The one thing you notice while driving is that there are a TON of trees everywhere.
" %}

<div class="grid module grid-center width-wider">
  <video autoplay loop muted playsinline>
    <source src="{{ page.img-link }}wall-of-trees.mp4" type="video/mp4">
  </video>
</div>

{% include 1.html text="The air smelled like smoke since there was a huge wildfire that started days before we arrived. Apparently, they experienced the warmest day ever recorded which soared to about 77° Fahrenheit (About 25° Celsius). It doesn't seem that bad to us, but the change in temperature had consequences to this normally cool place.
" %}

<div class="grid module grid-spaced items-2-thin-right">
  <video autoplay loop muted playsinline>
    <source src="{{ page.img-link }}mountain-peek.mp4" type="video/mp4">
  </video>
  <img src="{{ page.img-link }}powerlines-2.jpg" alt="Sci-fi looking powerlines">
</div>

{% include 1.html type="ctr-sm" img="motel" alt="A motel with a nice backdrop" %}

{% include 2.html type="l-thin"
  img1="layers-with-lamp" alt1="Layers of mountains with street light"
  img2="layered-trees" alt2="Layers of trees"
%}

{% include 1.html type="fl-right" img="cabin-on-top-of-mountain" alt="A large cabin on top on a mountain resort" %}

{% include 1.html type="fl-left" img="dead-trees" alt="Burnt down trees" %}

{% include 1.html text="
  <h3>Seward and Kenai National Park</h3>
  We drove down to Seward where we saw <s>fishermen</s> fisherfolks(?) rinsing their gigantic fish! I am not a huge fan of cooked salmon (raw salmon is fine), but I admit, seeing them fresh from the water made me want to eat them.
" %}

{% include 1.html type="ctr" img="caught-at-seward-alaska" alt="Caught at seward alaska sign" %}

{% include 1.html type="fl-right" img="fisherfolks" alt="Fishermen and their catch of the day" %}

{% include 1.html text="Interesting fact: although there are an abundance of salmon in Alaska, I noticed that salmon prices in restaurants were extremely high. Our Airbnb host said this is typical. Instead of eating fish from the restaurant, a lot of locals just fish for their own food." %}

<div class="grid module grid-spaced items-2-balanced">
  <video autoplay muted loop playsinline>
    <source src="{{ page.img-link }}salmon-cut.mp4" type="video/mp4">
  </video>
  <img src="{{ page.img-link }}cooked-salmon.jpg" alt="Cooked salmon">
</div>

{% include 1.html type="ctr" img="giant-cruise-ship" alt="A huge cruise ship parked in the distance" %}

{% include 1.html text="
  We took a ferry to see Kenai Fjords National Park. It's one way to see the park as there are no roads (according to Google maps). I guess you can go on a hike but we didn't have much time so we booked a tour.
" %}

<div class="grid module items-2-bleed">
  <img src="{{ page.img-link }}jeremie-with-cup-of-coffee.jpg" alt="Jeremie with his cup of coffee on a boat">
  <video autoplay muted loop playsinline>
    <source src="{{ page.img-link }}waves.mp4" type="video/mp4">
  </video>
</div>

{% include 1.html text="And off we went to find glaciers, whales, and other wild animals" %}

{% include 1.html type="ctr" img="jeremie-and-glacier" alt="Glacier with brown algae, Jeremie staring at it" %}

{% include 1.html text="Huge glacier. The brown stuff, according to our captain and guide, is actually algae and not mud. Unfortunately, the darker algae absorbs more sunlight and causes the ice to melt even faster. 😞 As we were watching the glacier, we heard a thundering sound that echoed throughout the distance. It was the glacier breaking. We were hundreds of meters away from the wall, but the sound was so loud, most of us on the boat were startled by it." %}

{% include 1.html type="ctr-sm" img="me-and-jeremie" alt="Melody and Jeremie and glacier in background" %}

{% include 1.html text="We look very calm here, but we are actually freezing from the biting cold. Good thing we brought our fluffy coats!" %}

{% include 2.html type="sp-balanced"
  img1="sealions" alt1="Sealions chilling"
  img2="puffins" alt2="Puffins hanging out"
%}

{% include 1.html text="We saw sealions chilling on rock formations. It seems they aren't afraid of the boat approaching them. We also saw puffins. A lot of puffins! The first time I'd seen them was in <a href='http://annemelody.com/travel/white-spaces' target='_blank'>Iceland</a> though I didn't get to take pictures of them there." %}

<div class="grid module grid-center width-half">
  <video autoplay loop muted playsinline>
    <source src="{{ page.img-link }}eagle.mp4" type="video/mp4">
  </video>
</div>

{% include 1.html text="We spotted an eagle, though it flew so fast I wasn't able to take a good shot of it." %}

{% include 1.html type="ctr" img="mountain-goats" alt="Mountain goats hiding from bears" %}

{% include 1.html text="And there were also wild mountain goats climbing the edges of the rock formations to avoid being eaten by bears. And speaking of bears...I will be writing about our encounters with them in part two. Stay tuned!" %}
