---
layout:     post
title:      "Mauna Kea"
date:       2020-06-01
categories: travel
permalink:  /:categories/:title
excerpt:    It didn't look like one of those scary forests
img-link:   /assets/2020/mauna-kea/
img:
  small:    2020/mauna-kea/observatory.jpg
  large:    2020/mauna-kea/sunset-observatories.jpg
---
{% include 1.html text="
  There seemed to be no other houses in sight once we went down the dirt road. I watched too many horror movies as a kid to know that this is how it usually starts. A young couple ventures into the woods for a romantic getaway only to be hunted by a serial killer or a supernatural creature.
" %}

{% include 1.html type="ctr" img="visitor-center" alt="" %}

{% include 2.html type="bleed"
  img1="martian-sand" alt1=""
  img2="martian-sand-2" alt2=""
%}

{% include 1.html type="ctr-lg" img="satellite" alt="" %}

{% include 2.html type="sp-sm"
  img1="satellite-jeremie" alt1=""
  img2="satellite-jeremie-inverted" alt2=""
%}

<div class="grid module grid-center width-quarter">
  <img src="{{ page.img-link }}me-with-my-iwalk.jpg" alt="">
  <small class="text-center"><p>I'm using the wall to keep me stable. Even with a broken ankle, I'm still trying to take a good shot of the view. 😅</p></small>
</div>

{% include 1.html type="ctr-lg" img="sunset" alt="" %}

{% include 1.html type="fl-right" img="sunset-observatory-lighting" alt="" %}

{% include 1.html type="ctr-sm" img="observatory" alt="" %}

<div class="parallax">
  <img src="{{ page.img-link }}stars-volcanic-magma.jpg" alt="" />
  <div class="grid width-quarter">
    <p>The orange-y glow you see on the left is lava from another volcano nearby</p>
  </div>
</div>

{% include 1.html type="ctr-sm" img="silhouettes-of-us" alt="" %}
