---
layout:     post
title:      "Looking for bears in Alaska"
date:       2020-05-11
categories: travel
permalink:  /:categories/:title
excerpt:    It was like stepping inside a painting. I went in and allowed it to swallow me whole.
img-link:   /assets/2020/alaska-2/
img:
  small:    2020/alaska-2/looking-for-bears-small.jpg
  large:    2020/alaska-2/yellow-seaplane.jpg
---
{% include 1.html text="
  Last year, I set a goal for myself&mdash;ride a bicycle in the city. It doesn't sound too hard, especially since San Francisco has dedicated bike lanes in certain parts of the city. But for someone who doesn't even know how to ride a bike and live on top of a hill.
" %}

{% include 2.html type="sp"
  img1="rusts-seaplanes" alt1=""
  img2="rusts-flying-service" alt2=""
%}

{% include 1.html text="
  Last year, I set a goal for myself&mdash;ride a bicycle in the city. It doesn't sound too hard, especially since San Francisco has dedicated bike lanes in certain parts of the city. But for someone who doesn't even know how to ride a bike and live on top of a hill.
" %}

{% include 1.html type="ctr" img="inside-seaplane" alt="Inside the seaplane, a silhouette of our fellow passengers and pilot" %}

<div class="grid module float-right-6">
  <video autoplay loop muted playsinline>
    <source src="{{ page.img-link }}river-from-above.mp4" type="video/mp4">
  </video>
</div>

{% include 1.html text="
  Last year, I set a goal for myself&mdash;ride a bicycle in the city. It doesn't sound too hard, especially since San Francisco has dedicated bike lanes in certain parts of the city. But for someone who doesn't even know how to ride a bike and live on top of a hill.
" %}

<div class="grid module items-2-bleed">
  <video autoplay muted loop playsinline>
    <source src="{{ page.img-link }}window-view.mp4" type="video/mp4">
  </video>
  <img src="{{ page.img-link }}abstract-landscape-4.jpg" alt="">
</div>

{% include 3.html type="st"
  img1="abstract-landscape-2" alt1=""
  img2="abstract-landscape-3" alt2=""
  img3="abstract-landscape-1" alt3=""
%}

{% include 1.html text="
  Last year, I set a goal for myself&mdash;ride a bicycle in the city. It doesn't sound too hard, especially since San Francisco has dedicated bike lanes in certain parts of the city. But for someone who doesn't even know how to ride a bike and live on top of a hill.
" %}

{% include 1.html type="ctr" img="active-volcano" alt="" %}

{% include 2.html type="r-thin"
  img1="powerlines" alt1=""
  img2="abstract-landscape-5" alt2=""
%}

<div class="grid module width-half">
  <video autoplay muted loop playsinline>
    <source src="{{ page.img-link }}seaplane-in-flight.mp4" type="video/mp4">
  </video>
</div>

{% include 1.html text="
  Last year, I set a goal for myself&mdash;ride a bicycle in the city. It doesn't sound too hard, especially since San Francisco has dedicated bike lanes in certain parts of the city. But for someone who doesn't even know how to ride a bike and live on top of a hill.
" %}

<div class="grid module grid-right width-half">
  <video autoplay muted loop playsinline>
    <source src="{{ page.img-link }}seeing-the-lake.mp4" type="video/mp4">
  </video>
</div>

{% include 1.html text="
  Last year, I set a goal for myself&mdash;ride a bicycle in the city. It doesn't sound too hard, especially since San Francisco has dedicated bike lanes in certain parts of the city. But for someone who doesn't even know how to ride a bike and live on top of a hill.
" %}

{% include 1.html type="ctr" img="red-seaplane" alt="" %}

{% include 1.html text="
  Last year, I set a goal for myself&mdash;ride a bicycle in the city. It doesn't sound too hard, especially since San Francisco has dedicated bike lanes in certain parts of the city. But for someone who doesn't even know how to ride a bike and live on top of a hill.
" %}

{% include 2.html type="sp-balanced"
  img1="me-yellow-coat" alt1=""
  img2="huge-mountains-and-a-boat" alt2=""
%}

{% include 1.html text="
  Last year, I set a goal for myself&mdash;ride a bicycle in the city. It doesn't sound too hard, especially since San Francisco has dedicated bike lanes in certain parts of the city. But for someone who doesn't even know how to ride a bike and live on top of a hill.
" %}

{% include 1.html type="ctr-sm" img="me-jeremie-2" alt="" %}

<div class="grid module grid-spaced items-2">
  <video autoplay muted loop playsinline>
    <source src="{{ page.img-link }}boat.mp4" type="video/mp4">
  </video>
  <video autoplay muted loop playsinline>
    <source src="{{ page.img-link }}valley-active-volcano.mp4" type="video/mp4">
  </video>
</div>

{% include 1.html text="
  <h3>Bears at last</h3>
  <p>Last year, I set a goal for myself&mdash;ride a bicycle in the city. It doesn't sound too hard, especially since San Francisco has dedicated bike lanes in certain parts of the city. But for someone who doesn't even know how to ride a bike and live on top of a hill.</p>
" %}

{% include 1.html type="ctr-sm" img="salmon-carcass-2" alt="" %}
{% include 1.html type="ctr" img="mama-and-baby-bears" alt="" %}

{% include 2.html type="sp-sm"
  img1="salmon-carcass" alt1=""
  img2="brown-bear-standing" alt2=""
%}

<div class="grid module grid-spaced items-2">
  <video autoplay muted loop playsinline>
    <source src="{{ page.img-link }}salmon-2.mp4" type="video/mp4">
  </video>
  <video autoplay muted loop playsinline>
    <source src="{{ page.img-link }}black-bear-playing-with-food.mp4" type="video/mp4">
  </video>
</div>

{% include 1.html text="
  Last year, I set a goal for myself&mdash;ride a bicycle in the city. It doesn't sound too hard, especially since San Francisco has dedicated bike lanes in certain parts of the city. But for someone who doesn't even know how to ride a bike and live on top of a hill.
" %}

<div class="grid module grid-spaced items-2-thin-left">
  <img src="{{ page.img-link }}brown-bear-waiting.jpg" alt="">
  <video autoplay muted loop playsinline>
    <source src="{{ page.img-link }}big-brown-bear.mp4" type="video/mp4">
  </video>
</div>

{% include 2.html type="sp-sm"
  img1="brown-bear-portrait" alt1=""
  img2="black-bear-portrait" alt2=""
%}

{% include 1.html text="
  Last year, I set a goal for myself&mdash;ride a bicycle in the city. It doesn't sound too hard, especially since San Francisco has dedicated bike lanes in certain parts of the city. But for someone who doesn't even know how to ride a bike and live on top of a hill.
" %}

{% include 2.html type="l-thin"
  img1="husky-or-wolf" alt1=""
  img2="tea-and-jeremie" alt2=""
%}
