{% include head-post.html %}

<div class="width-max">
  <h1 class="uppercase title blastable">{{ page.title }}</h1>
  <h5 class="uppercase text-center blastable">{{ page.date | date: "%b %-d, %Y" }}</h5>
  <div class="cover-container">
    <img src="/assets/{{ page.img.large | replace: '!SITE_URL!', site.url }}" alt="{{ page.title }}" title="{{ page.title }}" class="post-cover">
  </div>

  <section class="grid grid-center width-half post">
    <h2>{{ page.excerpt | replace: '!SITE_URL!', site.url }}</h2>

    {{ content }}

    {% include more-stories.html %}
  </section>
</div>

<div class="comments">
  <div class="grid grid-center width-half">
    {% include comments.html %}
  </div>
</div>

{% include footer.html %}
