{% include head-post.html %}
<section id="journal-cover" style="background-image: url('/assets/{{ page.img.large | replace: '!SITE_URL!', site.url }}')">
  <div class="title">
    <h1 class="blastable">{{ page.title }}</h1>
  </div>
</section>
<section class="container mtop4">
  <div class="grid">
    <div class="row mbottom2">
      <div class="span-6 offset-3">
        <h4><a href="{{ site.baseurl }}/{{ page.categories }}">{{ page.categories }}</a></h4>
        <h2>{{ page.excerpt | replace: '!SITE_URL!', site.url }}</h2>
        <h4>{{ page.date | date: "%B %-d, %Y" }}</h4>
      </div>
    </div> <!-- /row -->
    {{content}}
    <div class="row mtop4">
      <div class="span-6 offset-3">
        <div class="fb-comments" data-href="{{ page.url | prepend: site.url }}" data-width="100%" data-numposts="10"></div>
      </div>
    </div> <!-- /row -->
  </div> <!-- /grid -->
</section> <!-- /container -->
{% include more-stories.html %}
{% include footer.html %}
