{% include head-post.html %}

<div class="width-max">
  <h1 class="uppercase title blastable">{{ page.title }}</h1>
  <h5 class="uppercase text-center blastable">{{ page.date | date_to_string }}</h5>

  <div class="cover-container">
    <img src="/assets/{{ page.img.large | replace: '!SITE_URL!', site.url }}" alt="{{ page.title }}" title="{{ page.title }}" class="post-cover">
  </div>

  <h2 class="grid grid-center width-half text-center">{{ page.excerpt | replace: '!SITE_URL!', site.url }}</h2>
</div>

<div class="post">
  {{content}}
</div>

<div class="grid grid-center width-half comments">
  {% include comments.html %}
</div>

{% include more-stories.html %}
{% include footer.html %}
