{% include head-post.html %}
<div class="yearly-bg">
  <div class="grid center-6 text-center">
    <h3><a href="{{ site.baseurl }}/{{ page.categories }}">{{ page.categories }}</a></h3>
    <h1>{{ page.title }}</h1>
    <h2>{{ page.excerpt | replace: '!SITE_URL!', site.url }}</h2>
    <p>{{ page.short }}</p>
  </div>
  <div class="item">
    <img src="/assets/{{ page.year }}/looking-back/jan.jpg"  />
    <p>{{ page.jan-copy }}</p>
  </div>
  <div class="item">
    <img src="/assets/{{ page.year }}/looking-back/feb.jpg"  />
    <p>{{ page.feb-copy }}</p>
  </div>
  <div class="item">
    <img src="/assets/{{ page.year }}/looking-back/mar.jpg"  />
    <p>{{ page.mar-copy }}</p>
  </div>
  <div class="item">
    <img src="/assets/{{ page.year }}/looking-back/apr.jpg"  />
    <p>{{ page.apr-copy }}</p>
  </div>
  <div class="item">
    <img src="/assets/{{ page.year }}/looking-back/may.jpg"  />
    <p>{{ page.may-copy }}</p>
  </div>
  <div class="item">
    <img src="/assets/{{ page.year }}/looking-back/jun.jpg"  />
    <p>{{ page.jun-copy }}</p>
  </div>
  <div class="item">
    <img src="/assets/{{ page.year }}/looking-back/jul.jpg"  />
    <p>{{ page.jul-copy }}</p>
  </div>
  <div class="item">
    <img src="/assets/{{ page.year }}/looking-back/aug.jpg"  />
    <p>{{ page.aug-copy }}</p>
  </div>
  <div class="item">
    <img src="/assets/{{ page.year }}/looking-back/sep.jpg"  />
    <p>{{ page.sep-copy }}</p>
  </div>
  <div class="item">
    <img src="/assets/{{ page.year }}/looking-back/oct.jpg"  />
    <p>{{ page.oct-copy }}</p>
  </div>
  <div class="item">
    <img src="/assets/{{ page.year }}/looking-back/nov.jpg"  />
    <p>{{ page.nov-copy }}</p>
  </div>
  <div class="item">
    <img src="/assets/{{ page.year }}/looking-back/dec.jpg"  />
    <p>{{ page.dec-copy }}</p>
  </div>
</div> <!-- /yearly-bg -->

<div class="yearly-more">
  {% include more-stories.html %}
</div>

{% include footer.html %}
